<ion-header id="setting">
		<ion-toolbar color="#226997">
			<ion-buttons slot="start">
					<ion-menu-button style="color:white">
						</ion-menu-button>
			</ion-buttons>
			<div class="main">
				<div class="pull-left ml-10"><img src="assets/imgs/New/logo.jpg"></div>
				<!-- <div class="pull-right mt-15 mr-15"><img (click)="getSiteDetails()" class="globeIcon"
						src="assets/imgs/world.png" /></div> -->
			</div>
		</ion-toolbar>
	</ion-header>

<ion-content padding>
	<ion-list>
		<ion-radio-group [(ngModel)]="vlmsValue" (ionChange)="changeVlms(vlmsValue)">
			<ion-list-header>
				VLMS Menu
			</ion-list-header>
	
			<ion-item>
				<ion-label>Enable</ion-label>
				<ion-radio value="enable"></ion-radio>
			</ion-item>
	
			<ion-item>
				<ion-label>Disable</ion-label>
				<ion-radio value="disable"></ion-radio>
			</ion-item>

		</ion-radio-group>
	</ion-list>

	<ion-list>
		<ion-radio-group [(ngModel)]="elogValue" (ionChange)="changeElog(elogValue)">
			<ion-list-header>
					E-Log Menu
				</ion-list-header>
		
				<ion-item>
					<ion-label>Enable</ion-label>
					<ion-radio value="enable"></ion-radio>
				</ion-item>
		
				<ion-item>
					<ion-label>Disable</ion-label>
					<ion-radio value="disable"></ion-radio>
				</ion-item>
		</ion-radio-group>
	</ion-list>

</ion-content>

<div class="modal fade" id="siteListModalSetting" tabindex="-1" role="dialog" aria-labelledby="siteListModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="siteListModalLabel">Site List</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeSiteModal()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<ion-item *ngFor="let list of siteList" (click)="checkAuthorization(list.SiteID)">
					<ion-label>
						{{list.Title}}
					</ion-label>
				</ion-item>
			</div>
		</div>
	</div>
</div>