#setting{ 
    ion-toolbar{
		position: relative;
		height: 70px;
	    background: var(--main-app-color) !important;
    }
}
ion-content {
    --ion-background-color: #f4f6fe;
    --overflow: hidden;
}

ion-list-header {
    font-size: 16px;
}