<ion-header id="taskTable">
	<ion-toolbar *ngIf="appPlatform != 'IOS'" class="toolbar-md" color="#226997">
		<ion-buttons slot="start">
			<!-- <ion-back-button style="color:white" defaultHref="/menu/home"></ion-back-button> -->
			<div class="pull-left ml-10"><img (click)="goBack()" class="elog_logo" src="assets/imgs/back.png"></div>
		</ion-buttons>
		<div class="bar-main">
				<ion-row>
					<ion-col size="4">
						<div class="pull-left ml-10 tasktitle">{{taskTitle}}</div>
					</ion-col>
	
					<ion-col size="6">
						<div *ngIf="enableSearchbar" class="header_input">
							<ion-searchbar [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()"
								placeholder="Search..."></ion-searchbar>
						</div>
					</ion-col>
					<ion-col size="1">
						<div class="pull-right mt-15 mr-15"><img (click)="getSearchbar()" class="globeIcon"
								src="assets/imgs/search.jpg" /></div>
					</ion-col>
					<ion-col size="1">
						<select class="mySelect" [(ngModel)]="siteId"  id="orders"  (change)="checkAuthorization(siteId)" >
							<option *ngFor="let list of siteList" [value]="list.SiteID" [ngClass]="(list.siteID == siteId)?'optioncolor':'optionnocolor'" [selected]="list.siteID == siteId">
									{{list.Title}}
							</option>
						  </select>
					</ion-col>
				</ion-row>
			</div>
	</ion-toolbar>
	<ion-toolbar *ngIf="appPlatform == 'IOS'" class="toolbar-ios" color="#226997">
		<ion-buttons slot="start">
			<ion-back-button style="color:white" defaultHref="/menu/home"></ion-back-button>
		</ion-buttons>
		<div class="bar-main">
				<ion-row>
					<ion-col size="4">
						<div class="pull-left ml-10 tasktitle">{{taskTitle}}</div>
					</ion-col>
	
					<ion-col size="6">
						<div *ngIf="enableSearchbar" class="header_input">
							<ion-searchbar [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()"
								placeholder="Search..."></ion-searchbar>
						</div>
					</ion-col>
					<ion-col size="1">
						<div class="pull-right mt-15 mr-15"><img (click)="getSearchbar()" class="globeIcon"
								src="assets/imgs/search.jpg" /></div>
					</ion-col>
					<ion-col size="1">
						<select class="mySelect" [(ngModel)]="siteId"  id="orders"  (change)="checkAuthorization(siteId)" >
							<option *ngFor="let list of siteList" [value]="list.SiteID" [ngClass]="(list.siteID == siteId)?'optioncolor':'optionnocolor'" [selected]="list.siteID == siteId">
									{{list.Title}}
							</option>
						  </select>
					</ion-col>
				</ion-row>
			</div>
	</ion-toolbar>
</ion-header>
<div>
	<ion-row>
		<ion-col size="4">
			<ion-button expand="full" [ngClass]="(button1Class)?'button-active':'tab-bar'"
				(click)="taskdetailsBtnClick('detail')">
				TASK DETAILS
			</ion-button>
		</ion-col>
		<ion-col size="4">
			<ion-button expand="full" [ngClass]="(button2Class)?'button-active':'tab-bar'" (click)="tablesBtnClick()">
				TABLES ({{tableList.length}})
			</ion-button>
		</ion-col>
		<ion-col size="4">
				<ion-button expand="full" [ngClass]="(button3Class)?'button-active':'tab-bar'" (click)="documentBtnClick('document')">
					DOCUMENT
				</ion-button>
			</ion-col>
	</ion-row>
</div>

<ion-content class="tablePage" id="taskTable" [scrollEvents]="true">
	<ion-grid class="title">
		<ion-row>
			<ion-col>
				<span class="myTask">Table List</span><span>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</span>
				<span class="redcolor">{{noofCompletedTable}}/{{tableList.length}}</span><span style="font-size:1rem"> Executed Table</span>
			</ion-col>
			<ion-col>
				<!-- <img class="filterIcon" src="assets/imgs/filter.png"> -->
			</ion-col>
		</ion-row>
	</ion-grid>

    <ion-card *ngIf="noTableExist">
		<h4 style="text-align: center; color:rgba(103, 148, 54, 1);">No Table Exist for this Task</h4>
	</ion-card>

	<div *ngIf="!noTableExist" class="fullScroll">
	<ion-card (click)="toggleSection(i)" [ngClass]="(table.open)?'cardTable_ion':'card_ion'" *ngFor="let table of tableList;let i=index">
		<ion-row  class="animated slideInLeft">
			<!-- <ion-row  *ngIf="appPlatform == 'IOS'"> -->

			<ion-col size="3" >
				<div class="mt-20 ml-20" >
				<div class="table_name" >
					<b>Table {{i+1}}</b>
				</div>
				<div *ngIf="table.tableStatus == 'WIP'" class="task_status_wip">
					<b>WIP</b>
				</div>
				<div *ngIf="table.tableStatus == 'NOT YET STARTED'" class="task_status_pending">
					<b>PENDING</b>
				</div>
				<div *ngIf="table.tableStatus == 'COMPLETED'" class="task_status_complet">
					<b>COMPLETED</b>
				</div>
				<!-- <div *ngIf="table.tableStatus == 'NOT YET STARTED'" class="task_status_pending">
						<b>START</b>
					</div> -->
			</div>
			</ion-col>

			<ion-col size="6">
				<ion-card-content class="card_content" >
					<ion-grid no-padding>
						
						<b>{{table.TableTitle}}</b>
					</ion-grid>
				</ion-card-content>
			</ion-col>

			<ion-col size="3">
			     <img id="tableDoc" class="downloadIcon"  src="assets/imgs/forward.png" >
			</ion-col>

		</ion-row > 
		<!-- </ion-row *ngIf="appPlatform == 'IOS'"> -->

		<ion-item *ngIf="table.open" detail-none class="taskTableItem animate slideInDown" >
				<div *ngIf="table.documentTableDetails" class="table-responsive">
					<table id="tb1" class="table table-bordered">
						<tr (click)="getRowDetail(table, i, j, table.documentTableDetails.length, table.documentTableDetails)" *ngFor="let row of table.documentTableDetails; let j = index;">
							<td  *ngFor="let column of row | slice:0:60; let k = index" [innerHtml]="column"  ></td>
						</tr>
					</table>
				</div>
		</ion-item>   

		<!-- <ion-item *ngIf="table.open" detail-none class="taskTableItem " *ngIf="appPlatform == 'IOS'">
			<div *ngIf="table.documentTableDetails" class="table-responsive">
				<table id="tb1" class="table table-bordered">
					<tr (click)="getRowDetail(table, i, j, table.documentTableDetails.length, table.documentTableDetails)" *ngFor="let row of table.documentTableDetails; let j = index;">
						<td  *ngFor="let column of row | slice:0:60; let k = index" [innerHtml]="column"  ></td>
					</tr>
				</table>
			</div>
	</ion-item>  -->

	</ion-card>

       </div>

	<div class="modal fade" id="imageModal"  role="dialog" aria-labelledby="imageModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="imageModalLabel">{{modalImageName}}</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="imagePopup" *ngIf="imageFileData">
						<img [src]="imageFileData | sanitizeURL" />
					</div>
				</div>
			</div>
		</div>
	</div>
</ion-content>
<script>


	$(document).ready(function() {
		$("#tableDoc").click(function(){
			alert("Hi");
		$("#table1 tr:contains('(Login)')").css("background", "red");
		})
   
});
</script>