#taskTable{
    img.newLogo {
        width: 32px;
        float: right;
    }
    .green-color{
      background-color:var(--main-green-color);
      width:100%;
    }
    .tasktitle{
        color:white;
        margin-top: 12px;
    }

    @media only screen and (min-width: 516px) {

    .myTask{
        font-size: 1.2rem;
        font-weight: 600;
    }
    }
    @media only screen and (max-width: 515px) {

    .myTask{
        font-size: 1.0rem;
        font-weight: 600;
    }
    }
    .redcolor{
        color:red;
    }

    .title {
        padding: 16px;
    }
    // ion-toolbar{
	// 	position: relative;
	// 	height: 70px;
	//     background: var(--main-app-color) !important;
    // }
    img.homeIcon {
        width: 24px;
        margin-right: 15px;
        color:var(--main-green-color);
    }
    img.filterIcon {
        width: 37px;
        float: right;
       
    }
    img.downloadIcon {
        width: 30px;
        margin-top: 20px;
        margin-left: 105px;
       
    }
    img.newTaskIcon {
        padding: 6px;
        margin: 13px 0 0 20px;
       
    }
 
    img.globeIcon {
        width: 24px;
        margin-right: 15px;
    }

    img.validIcon {
        width: 22px;
        margin: 0px auto;
        display: block;
    }

    img.elogIcon {
        width: 30px;
        margin: 0px auto;
        display: block;
    }

    img.fwdIcon {
        width: 30px;
        border: 1px solid #fff;
        border-radius: 30px;
        padding: 5px;
    }

    .homeList{
        background-color: var(--main-app-color);
        color: #ffffff;
        padding: 10px;
        margin: 30px;
    }
     .card_ion{
        height: 90px;
        margin-bottom: 25px;
        border: 0.4px solid #a5a2a2;
        box-shadow: none;
        background-color: white;
         
     }
     .cardTable_ion{
       
        margin-bottom: 25px;
        border: 0.4px solid #a5a2a2;
        box-shadow: none;
        background-color: white;
         
     }
     .card_content{
        margin-top: 6px !important;
     }
    .centerDiv {
        position: relative;
        top: 25%;
    }

    .labelHome {
        font-size: 16px;
        font-weight: 600;
    }
    .bar-main{
        margin-top:5px;
       
      }
}
.hide {
    display: none;
  }

  .fullScroll{
      margin-bottom: 30%;
  }

.nav {
    display: block !important;
}

.table_name {
    text-align: center;
    width: 60%;
    font-size: .9rem;
    margin-bottom: 5px;
    background: repeating-linear-gradient( -45deg, rgba(255,255,255,0.8), rgba(255,255,255,0.8) 3px, rgba(195,195,195,0.8) 5px, rgba(195,195,195,0.8) 4px );
}

.task_status_wip{
    text-align: center;
    width: 60%;
	text-transform: uppercase;
    font-size: .7rem;
    color: #fcba26;
    border: 1px solid #fcba26;
    height: 22px;
}

.task_status_wip1{
    width: 140%;
    height: 23px;
    text-align: center;
}

.task_status_pending{
    text-align: center;
    width: 60%;
	text-transform: uppercase;
    font-size: .7rem;
    color: var(--main-app-color);
    border: 1px solid var(--main-app-color);
    height: 22px;
}

.task_status_complet{
    text-align: center;
    width: 60%;
	text-transform: uppercase;
    font-size: .7rem;
    color: var(--main-green-color);
    border: 1px solid var(--main-green-color);
    height: 22px;
}
ion-list.taskTableList {
    background-color: #fff;
    margin-bottom: 20px;
}
th, td {
    font-size: 12px;
    font-weight: 500;
}
tr:first-child 
{ 
    font-weight: bold; 
    text-transform: uppercase;
 }
.table-bordered th, .table-bordered td {
    border: unset;
    width:30px;
}
@media screen and (max-width: 1200px) and (min-width: 800px){
    .table-bordered th, .table-bordered td {
        border: unset;
        width:30px;
    }
}
@media screen and (max-width: 801px) and (min-width: 900px){
    .table-bordered th, .table-bordered td {
        border: unset;
        width:32px;
    }
}
@media screen and (max-width: 900px) and (min-width: 700px){
    .table-bordered th, .table-bordered td {
        border: unset;
        width:35px;
    }
}
@media screen and (max-width: 700px) and (min-width: 500px){
    .table-bordered th, .table-bordered td {
        border: unset;
        width:40px;
    }
}
.table {
    padding: 10px;
}

table.table.table-bordered {
    margin: 10px;
}
table tbody tr[data-stat="Pass"]{
    background-color: var(--main-green-color);
    color: #fff;
}
table tbody tr[data-stat="unconfirmed"]{
    background-color: red;
    color: #fff;
}

table tbody tr:first-child {
    background: #e8f4fe;
}

// table tbody tr:nth-child(2n+3) {
//     background-color: #f4f4f4;
// }
  
// table tbody tr:nth-child(2n+2) {
//     background-color: #fff;
// }

.inner_body1{
    margin-bottom:20% !important;
}

.taskTable{
    overflow-x: scroll;
    padding: 10px 10px;
    margin: 10px auto;
}

ion-list.taskTableList {
    background-color: #fff;
    margin-bottom: 20px;
}

ion-item.taskTableItem {
    --padding-start: 0px;
    --inner-padding-end: 0px;
    --ion-background-color: #fff;
}

ion-icon.toogleIcon {
    margin-right: 20px;
    font-size: 20px;
    color: var(--main-green-color);
}

ion-label {
    font-size: 14px;
    font-weight: 500;
}

.table-responsive {
    width: 98%;
}

.imagePopup img {
    width: 100%;
    height: 400px;;
}


ion-row.taskTableHeader {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    background-color: #c8dfff;
}
.header_input{
    width:98%;
    color:white;
    ion-searchbar{
        border:1px solid white;
        border-radius: 5px;
        margin-top: 3px;
    }
 }

 .tablePage{
     position:fixed;
     margin-bottom: 15% !important;
 }
