#login{
    // ion-toolbar{
	// 	position: relative;
	// 	height: 70px;
	//     background: var(--main-app-color) !important;
    // }
    
}

.bglogin{
    background-color: #ffffff;
}
.login_vcenter {
    width: 80%;
    height:auto;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}