<ion-header id="login">
  <ion-toolbar *ngIf="appPlatform != 'IOS'" class="toolbar-md" color="#226997">
      <ion-buttons slot="start">
          <ion-back-button style="color:white" defaultHref="login"></ion-back-button>
        </ion-buttons>
    <div class="main">
        <div class="pull-left ml-35"><img (click)="goHome()" src="assets/imgs/New/logo.jpg"></div>
        <!-- <div class="pull-right mt-10 mr-15"><img (click)="settingUrl()" src="assets/imgs/New/login_setting.png"></div> -->
      </div>
  </ion-toolbar>

  <ion-toolbar *ngIf="appPlatform == 'IOS'" class="toolbar-ios" color="#226997">
    <ion-buttons slot="start">
        <ion-back-button style="color:white" defaultHref="login"></ion-back-button>
      </ion-buttons>
  <div class="main">
      <div class="pull-left ml-35"><img (click)="goHome()" src="assets/imgs/New/logo.jpg"></div>
      <!-- <div class="pull-right mt-10 mr-15"><img (click)="settingUrl()" src="assets/imgs/New/login_setting.png"></div> -->
    </div>
</ion-toolbar>
</ion-header>

<ion-content class="bglogin" id="login">
<div class="login_vcenter">

    <div *ngIf="!resetPasswordShow" class="form-set" style="margin-bottom:220px">
        <form [formGroup]="resetForm" (ngSubmit)="emailAuth()">
            <div class="row">
                <label>User ID</label>
                <input  type="text" (keydown.space)="$event.preventDefault()" name="user_id" id="user_id" formControlName="UserName" required placeholder="Enter User ID">
              </div>
              <br>
        <div class="row">
          <label>Email ID</label>
          <input  type="email" (keydown.space)="$event.preventDefault()" name="email_id" id="email_id" formControlName="MailId" required placeholder="Enter Email ID">
        </div>
        
        <div class="row mt-50">
          <button [disabled]="!resetForm.valid" type="submit" class="btn w-100 primary_but text-uppercase">Submit</button>
        </div>
      </form>
      </div>

      <div *ngIf="resetPasswordShow" class="form-set">
          <form [formGroup]="resetPassForm" (ngSubmit)="resetPassword()">
          <!-- <div class="row">
            <label>Enter OTP</label>
            <input  type="number" name="otp" id="otp" formControlName="otp" required placeholder="Enter OTP">
          </div> -->
          <div class="row">
              <label>Enter New Secondary Password</label>
              <input (keydown.space)="$event.preventDefault()"  type="password" name="pass" id="pass" formControlName="pass" required placeholder="Enter password">
            </div>
            <br>
            <div class="row">
                <label>Confirm Secondary Password</label>
                <input (keydown.space)="$event.preventDefault()" type="password" name="repass" id="repass" formControlName="repass" required placeholder="Enter password">
              </div>
          
          <div class="row mt-50">
            <button [disabled]="!resetPassForm.valid" type="submit" class="btn w-100 primary_but text-uppercase">Submit</button>
          </div>
        </form>
        </div>
</div>
</ion-content>
