#elogTaskDetail{

    img.newLogo {
        width: 32px;
        float: right;
    }
    .green-color{
      color:#679436;
    }
    .tasktitle{
        color:white;
        margin-top: 2%;
    }

    @media only screen and (min-width: 516px) {

    .myTask{
        font-size: 1.2rem;
        font-weight: 600;
    }
}
@media only screen and (max-width: 515px) {

    .myTask{
        font-size: 1.0rem;
        font-weight: 600;
    }
}
    .redcolor{
        color:red;
    }

    .title {
        padding: 16px;
    }
    
    ion-toolbar{
		position: relative;
		height: 70px;
	    background: #156aa1 !important;
    }
    
    img.homeIcon {
        width: 24px;
        margin-right: 15px;
        color:green;
    }
    img.filterIcon {
        width: 37px;
        float: right;
       
    }
    img.downloadIcon {
        width: 25px;   
    }
    img.newTaskIcon {
        padding: 6px;
        margin: 13px 0 0 20px; 
    }
 
    img.globeIcon {
        width: 24px;
        margin-right: 15px;
    }

    img.validIcon {
        width: 22px;
        margin: 0px auto;
        display: block;
    }

    img.elogIcon {
        width: 30px;
        margin: 0px auto;
        display: block;
    }

    img.fwdIcon {
        width: 30px;
        border: 1px solid #fff;
        border-radius: 30px;
        padding: 5px;
    }

    .homeList{
        background-color: #1b69a1;
        color: #ffffff;
        padding: 10px;
        margin: 30px;
    }
     .card_ion{
        height: 90px;
        margin-bottom: 25px;
        border: 0.4px solid #a5a2a2;
        box-shadow: none;
        background-color: white;
         
     }
     .inner_body1 h4{
        text-align: center;
        color: green;
    
     }
     .card_content{
        margin-top: 6px !important;
     }
    .centerDiv {
        position: relative;
        top: 25%;
    }

    .labelHome {
        font-size: 16px;
        font-weight: 600;
    }
    .bar-main{
      margin-top:5px;
    }
}
.nav {
    display: block !important;
}
.tab-bar
{
    width:100%;
    height:55px;
    
}
.button-active
{   width:100%;
    height:55px;
    border: 0px !important;
    border-bottom: 5.5px solid rgba(103, 148, 54, 1) !important;
}
ion-content {
    --ion-background-color: #f4f6fe;
}

.sc-ion-searchbar-md-h, .sc-ion-searchbar-ios-h{
    --background: #ffffff;
}
.header_input{
   width:98%;
   color:white;
   ion-searchbar{
       border:1px solid white;
       border-radius: 5px;
       margin-top: 3px;
   }
}
.main_task_details .title{
    font-weight: bold;
    color:black;
    margin-bottom: -4%;
    font-size: 16px;
}
.entity_select{
    border: 1px solid;
    border-radius: 3px;
    width: 75%;
    margin-left: 5%;
    height: 40%;
    padding: 6px;
}
.entity_select input{
    border: none;
    width: 100%;
    background-color: white;
}
.entity_input{
    margin-top: -1%;
margin-left: 17px;
}
.entity_input ion-label{ 
    font-weight:bold;
    font-size: 16px;
}
.elogTaskBody{
    padding: 3%;
    font-size: 18px;
}
.elogTaskBody img{
    width: 25px;
    display: inline;
    float:right;
}
.elogTaskBody span{
    font-weight:bold;
    color:black;
}
.table1but-arrow {
    font-size: 1.5rem;
    color: #acacac;
  }
 
   .verifyButton{
       float:right;
   }

   .elog-table{
    overflow: auto;
   }