<ion-header id="elogTaskDetail">
  <ion-toolbar color="#226997">
    <ion-buttons slot="start">
      <ion-back-button style="color:white" defaultHref="/menu/home"></ion-back-button>
    </ion-buttons>
    <div class="main">
      <div class="pull-left ml-10 tasktitle">Task List</div>
      <div class="pull-right mt-15 mr-15">
        <img class="globeIcon" src="assets/imgs/globe.gif" />
      </div>
    </div>
  </ion-toolbar>
</ion-header>


<div class=" pt-15 pb-15 ml-10">
  <label style="font-weight: bold">Verify Log Form</label>
</div>
<ion-content id="elogTaskDetail" [scrollEvents]="true">
  <!-- <ion-card class="main_task_details" *ngIf="loadDetails">
    <ion-grid>
      <ion-row class="ml-0 mr-0 pt-15 pb-15">
        <ion-col size="6" class="pl-0">
          <div class="title">Log Data ID</div>
          <div class="entity_input">
            <ion-label> {{elogTaskDetail.LogFormId}}</ion-label>
          </div>
        </ion-col>
        <ion-col size="6" class="pl-0">
          <div class="title">Entity</div>
          <div class="entity_input">
            <ion-label> {{elogTaskDetail.Entity }}</ion-label>
          </div>
        </ion-col>

      </ion-row>
      <ion-row class="ml-0 mr-0 pt-15 pb-15">
        <ion-col size="6" class="pl-0">
          <div class="title">Log Type</div>
          <div class="entity_input">
            <ion-label> {{elogTaskDetail.LogType}}</ion-label>
          </div>
        </ion-col>
        <ion-col size="6" class="pl-0">
          <div class="title">Log Data Name</div>
          <div class="entity_input">
            <ion-label> {{elogTaskDetail.Title}}</ion-label>
          </div>
        </ion-col>

      </ion-row>


    </ion-grid>
  </ion-card> -->
  <div *ngIf="loadSection">
    <ion-grid class="title">
      <ion-row>
        <ion-col>
          <h1 class="myTask">List of Forms</h1>
        </ion-col>

      </ion-row>
    </ion-grid>

    <ion-card class="elogTaskBody" *ngFor="let form of verifyFormList;let i=index">
      <ion-row>
        <ion-col size="10">
          <span>Form {{i+1}}:</span>
          <span>{{form.LogFormId}} - {{form.FormName}}</span>
        </ion-col>
        <ion-col size="2">
          <img id="tableDoc" (click)="viewForm(form.ID, form, i)" class="downloadIcon" src="assets/imgs/forward.png">
        </ion-col>
      </ion-row>

      <!-- <div *ngIf="section.open" class="table-responsive-xs elog-table">
        <table *ngIf="loadSectionData" class="table">
          <thead class="elogTaskHead">
            <tr>
              <th *ngFor="let header of section.headers.LMWorkSheetFormField">{{header.fieldlabel}}</th>
            </tr>
          </thead>
          <tbody class="elogTaskBody">
            <tr *ngFor="let row of section.displayData;let i = index">
              <td *ngFor="let col of row">{{col.Value}}</td>
            </tr>
          </tbody>
        </table>
      </div> -->

    </ion-card>
  </div>
</ion-content>



<!-- <div class="modal fade" id="siteListModalElogDetail" tabindex="-1" role="dialog" aria-labelledby="siteListModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="siteListModalLabel">Site List</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ion-item *ngFor="let list of siteList" (click)="checkAuthorization(list.SiteID)">
          <ion-label>
            {{list.Title}}
          </ion-label>
        </ion-item>
      </div>
    </div>
  </div>
</div> -->