<ion-header id="execution" >
    <ion-toolbar ion-fixed slot="fixed" *ngIf="appPlatform != 'IOS'" class="toolbar-md" color="#226997">
       <!--- <ion-buttons slot="start">-->
            <!-- <ion-icon class="back_arrow" (click)="goBack()" name="arrow-back"></ion-icon> -->
            <div class="pull-left ml-10"><img (click)="goBack()" class="elog_logo" src="assets/imgs/back.png"></div>
        <!--</ion-buttons>-->
        <div class="main">
            <div class="pull-left ml-10"><img (click)="goHome()" src="assets/imgs/New/logo.jpg"></div>
            <ion-row>
                <ion-col size="10">
                    <!-- {{siteList}} -->
                </ion-col>
                <ion-col size="2">
                    <!-- <select class="mySelect" [(ngModel)]="siteId" id="orders" (change)="checkAuthorization(siteId)">
                        <option *ngFor="let list of siteList" [value]="list.SiteID"
                            [ngClass]="(list.siteID == siteId)?'optioncolor':'optionnocolor'"
                            [selected]="list.siteID == siteId">
                            {{list.Title}}
                        </option>
                    </select> -->
        
                    <select class="mySelect" [(ngModel)]="siteId" id="orders" (change)="checkAuthorization(siteId)">
                        <option *ngFor="let list of siteList" [value]="list.SiteID"
                            [ngClass]="(list.siteID == siteId)?'optioncolor':'optionnocolor'"
                            [selected]="list.siteID == siteId">
                            {{list.Title}}
                        </option>
                    </select>
                </ion-col>
            </ion-row>
        </div>
    </ion-toolbar>
    <ion-toolbar ion-fixed slot="fixed" *ngIf="appPlatform == 'IOS'" class="toolbar-ios" color="#226997">
        <ion-buttons slot="start">
            <ion-icon class="back_arrow" (click)="goBack()" name="arrow-back"></ion-icon>
        </ion-buttons>
        <div class="main">
            <div class="pull-left ml-10"><img (click)="goHome()" src="assets/imgs/New/logo.jpg"></div>
            <div class="pull-right mt-15 mr-15"><img (click)="getSiteDetails()" class="globeIcon"
                    src="assets/imgs/globe.gif" /></div>
        </div>
    </ion-toolbar>
</ion-header>
<div>
    <ion-row>
        <ion-col size="6">
            <ion-button expand="full" [ngClass]="(button1Class)?'button-active':'tab-bar'"
                (click)="executionBtnClick()">
                EXECUTION
            </ion-button>
        </ion-col>
        <ion-col size="6">
            <ion-button expand="full" [ngClass]="(button2Class)?'button-active':'tab-bar'"
                (click)="documentBtnClick('document')">
                DOCUMENT
            </ion-button>
        </ion-col>
    </ion-row>
</div>

<ion-content padding class="scrollstopfix">
    <div class="execution  slideInLeft">
        <ion-grid>
            <ion-row>
                <ion-col size="4">
                 
                    <!-- <ion-select class="selectClass" placeholder="Select Table" [(ngModel)]="tableId"
                        (ionChange)="onTableChange($event)">
                        <ion-select-option *ngFor="let table of tableList" [value]="table.TableID" >{{table.TableTitle}}
                        </ion-select-option>
                    </ion-select> -->
                    <select class="selectClass" [(ngModel)]="tableId" (change)="onTableChange(tableId)">
                        <option *ngFor="let table of tableList" [value]="table.TableID"  [selected]="table.TableID == tableId">
                            {{table.TableTitle}}
                        </option>
                    </select>
                </ion-col>
                <ion-col size="6" align-self-center>
                    <img class="exeIcon" src="assets/imgs/doubleNavigateLeft.png"
                        (click)="onRowChangeCheck(1, false)" />
                    <img class="exeIcon" src="assets/imgs/navigateLeft.png" (click)="onRowChangeCheck(-1, true)" />
                    <span class="tableNumber">{{rowId}}</span>
                    <img class="exeIcon" src="assets/imgs/navigateRight.png" (click)="onRowChangeCheck(1, true)" />
                    <img class="exeIcon" src="assets/imgs/doubleNavigateRight.png"
                        (click)="onRowChangeCheck(maxRowIndex, false)" />
                </ion-col>
                <ion-col size="2">

                </ion-col>
            </ion-row>
            <!-- electronicSignature -->

            <!-- *******************Executable start *************** -->
            <div class="mt-10 ml-0" scrollX="true">
                <div *ngFor="let elec of executableColumnOnly; let i = index;" >
                    <button class="buttonClass"  ngDefaultControl [(ngModel)]="elec.columnId"
                        (click)="executableButton(elec.columnId,elec)"
                        [ngStyle]="showExecutableText === elec.columnId ? {'border': '2px solid #679436','color': '#00000'}:{'border': '2px solid #a09f9f', 'color': '#00000'}"
                        size="default" >
                        {{elec.label}}
                    </button>
                </div>
            </div>



            <div class="innerArea br-3" >
                <div *ngFor="let elec of executableColumnOnly | sort:'columnId'; let i = index;">
                    <div *ngIf="showExecutableText === elec.columnId">
                        <angular-editor *ngIf=" showRecordButton && !editActivated" id="areainput"
                            (focusout)="focusOutFunction()" (focus)="focusChange()" (input)="areaChange()"
                            class="w-100 text-cursor angular-textarea" [(ngModel)]="elec.value"
                            (ngModelChange)='onChangeTime(elec.value)' [config]="editorConfig">
                        </angular-editor>
                        <angular-editor *ngIf="editActivated" (focusout)="focusOutFunction()" (focus)="focusChange()"
                            (input)="areaChange()" id="areainput" class="w-100 text-cursor angular-textarea"
                            [(ngModel)]="elec.value" (ngModelChange)='onChangeTime(elec.value)' [config]="editorConfig">
                        </angular-editor>
                        <angular-editor *ngIf="!showRecordButton && !editActivated" id="areainput"
                            class="w-100 text-cursor angular-textarea" [(ngModel)]="elec.value"
                            (ngModelChange)='onChangeTime(elec.value)' [config]="nonEditorConfig">
                        </angular-editor>
                    </div>
                </div>
                <div >
                    <span>
                        <a (click)="openViewEvidenceModal()" class="view_evidence" *ngIf="evidenceListShow"  style="display:block;">View Evidence</a>
                    </span>

                </div>
               
                <!-- *******************Executable End *************** -->
                <ion-card>
                    <ion-row>
                        <ion-col size="6">
                            <h3>ATTACH EVIDENCE</h3>
                            <ion-row >
                                <ion-col size="4">
                                    <span *ngIf="!isDesktopApp"> <img (click)="pictureActionSheet(showExecutableText)" [ngStyle]="disableAttachEvidence ? {'opacity': '1'}:{'opacity': '0.65','cursor': 'not-allowed','pointer-events': 'none'} "class="addImage"
                                            src="assets/imgs/Image_icon.png"/>
                                        <p class="cameraName" style="display:block;"> Image</p>
                                    </span>

                                    <span *ngIf="isDesktopApp"> <img (click)="takePictureElectron(showExecutableText)" [ngStyle]="disableAttachEvidence ? {'opacity': '1'}:{'opacity': '0.65','cursor': 'not-allowed','pointer-events': 'none'} "class="addImage"
                                        src="assets/imgs/Image_icon.png"/>
                                    <p class="cameraName" style="display:block;"> Image</p>
                                </span>
                                </ion-col>
                                <ion-col size="4"  >
                                    <span > <img (click)="chooseFileModal(showExecutableText)" [ngStyle]="disableAttachEvidence  ? {'opacity': '1'} : {'opacity': '0.65','cursor': 'not-allowed','pointer-events': 'none'} "class="addFile"
                                            src="assets/imgs/AttachFile1.png" />
                                        <p class="fileName" style="display:block;">File</p>
                                    </span>
                                </ion-col>
                                
                               
                                    <!-- <span> <img (click)="downloadFile(banner,'/assets/imgs/banner.png')" class="addFile"
                                        src="assets/imgs/AttachFile1.png" />
                                    <p class="fileName" style="display:block;">View Evidence</p>
                                </span> -->
                                    
                                    <!-- <a download="filename" target="_blank" href="/assets/imgs/banner.png">
                                        Click here to download image
                                      </a> -->
                               
                                 <ion-col size="4">
                                    <span>
                                        <img class="screenCapture" src="assets/imgs/ScreenCapture1.png"
                                            (click)="screenCapture(showExecutableText)" />
                                        <p class="screenName" style="display:block; "> ScreenCapture</p>
                                    </span>
                                </ion-col> 
                            </ion-row>
                           
                        </ion-col>
                        <ion-col size="6">
                            <h4 *ngIf="!editNonExe && passFailButton">INFERENCE </h4>
                            <ion-row *ngIf="!editNonExe" class="rowClass">
                                <ion-col size="8">
                                    <div *ngIf="passFailButton">
                                        <button [ngClass]="(passButton)? 'pass_btn' : 'fail_btn'"
                                            (click)="updateStatus(1)">
                                            PASS
                                        </button>
                                        <button [ngClass]="(failButton)? 'pass_btn' : 'fail_btn'"
                                            (click)="updateStatus(2)">
                                            FAIL
                                        </button>
                                        <button [ngClass]="(naButton)? 'pass_btn' : 'fail_btn'"
                                            (click)="updateStatus(3)">
                                            N/A
                                        </button>
                                    </div>
                                </ion-col>
                                <ion-col size="4">
                    
                                    <button
                                        *ngIf="showRecordButton && result != -1 && textboxLength && passFailButton && !verifyRowButton  && !verifyTableButton"
                                        class="fabClass" (click)="checkTaskEsign()">
                                        EXECUTE
                                    </button>
                                    <button
                                        *ngIf="showRecordButton && result == -1 && textboxLength && !passFailButton && !verifyRowButton  && !verifyTableButton"
                                        class="fabClass1" (click)="checkTaskEsign()">
                                        EXECUTE
                                    </button>
                                    <!-- {{showRecordButton}} - {{editActivated }} - {{verifyRowButton }} - {{verifyTableButton}} -->
                                    <button
                                        *ngIf="showRecordButton && !editActivated && verifyRowButton && !verifyTableButton"
                                        (click)="verifyRowEnable()" class=" fabClass fabEditClass">VERIFY</button>
                                    <button
                                        *ngIf="!showRecordButton && editActivated && verifyRowButton && !verifyTableButton"
                                        (click)="verifyRowEnable()" class=" fabClass fabEditClass">VERIFY</button>
                                    <button
                                        *ngIf="showRecordButton && !editActivated && !verifyRowButton && verifyTableButton"
                                        (click)="verifyTableEnable()" class=" fabClass fabEditClass">VERIFY
                                        TABLE</button>
                                    <button
                                        *ngIf="!showRecordButton && editActivated && !verifyRowButton && verifyTableButton "
                                        (click)="verifyTableEnable()" class=" fabClass fabEditClass">VERIFY
                                        TABLE</button>
                                    <button *ngIf="!showRecordButton && !editActivated" (click)="editActivated = true" id='edit_btn'
                                        [ngClass]="(passFailButton)? 'fabClass fabEditClass' : 'fabClass1 fabEditClass'">EDIT</button>
                                    <button
                                        *ngIf="editActivated && result != -1 && textboxLength && passFailButton && !verifyRowButton && !verifyTableButton"
                                        (click)="reasonEditSheet()" class="fabClass">SAVE
                                    </button>
                                    <button
                                        *ngIf="editActivated && result == -1 && textboxLength && !passFailButton && !verifyRowButton && !verifyTableButton"
                                        (click)="reasonEditSheet()" class="fabClass1">SAVE </button>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-card>
                <div class="nonedit" style='float:right' >
                    <!-- <ion-icon *ngIf="!editNonExe" (click)="changeEditFunc()" class="iconClass" name="create"></ion-icon>
                    <ion-icon *ngIf="editNonExe" (click)="saveNonExec('true')" class="iconClass" name="save"></ion-icon> -->

                    <div style='margin-top:6px;width:30px;height:30px;'><img *ngIf="!editNonExe" (click)="changeEditFunc()" name="create" src="assets/imgs/Edit_icon.png"></div>
                    <div style='margin-top:-26px;'><img *ngIf="editNonExe" style='opacity:0.3' id='saveImg' (click)="saveNonExec('true')" name="save" src="assets/imgs/save_img1.png"></div>
                    </div>

                <!-- /***************** Non Executable ******************/ -->
               <!-- <div>
                 <ngx-doc-viewer [url]="doc" viewer="google" style="width:100%;height:50vh;"></ngx-doc-viewer> 
                <button (click)="viewFile()">View file</button>
            </div> -->
                <div class="containerArea br-3">
                    <img src="{{tempimage }}">
                    <div *ngFor="let elec of nonExecutableColumn | reverse; let i = index;">
                        <ion-row>
                            <label class="non_label" color="black"><b>{{elec.label}}</b>
                                <button class="copy_btn" id='copytoactual_id'
                                    *ngIf="elec.ColumnType === 8 "
                                    (click)="resultChecked(true, elec.value)"><img class="globeIcon"
                                        src="assets/imgs/copy_to_actual_icon.png">
                                    <label class="actual_result">Copy to Actual</label>
                                </button>
                            </label>
                        </ion-row>
                        <ion-row>
                            <ion-textarea *ngIf="!editNonExe" class="insideareaClass br-3" [(ngModel)]="elec.value"
                                readonly></ion-textarea>
                            <ion-textarea *ngIf="editNonExe" id="areainput" (input)="areaChange()"
                                class="insideareaClass br-3" [(ngModel)]="elec.value">
                            </ion-textarea>
                        </ion-row>
                    </div>
               
                </div>
            </div>
        </ion-grid>
    </div>
    <div class="modal fade" id="viewevidence" tabindex="0" role="dialog" aria-labelledby="siteListModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="siteListModalLabel">View Evidence</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeSiteModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ion-card *ngIf="!evidenceListShow">
                    <h5>No Evidence Found</h5>
                </ion-card>
                <ion-item *ngIf="evidenceListShow">
                    <h5 style="margin: 10px;font-weight: bolder;">New Evidence</h5>
                </ion-item>
                <ion-title *ngIf="evidenceListShow">
                    <h5 style="margin: 10px;font-weight: 100;">Action <h5 style="font-weight: 100;display: inline-block;
                        margin-left: 60px;">File Name</h5></h5>
                   
                </ion-title>
               
                <ion-item *ngFor="let list of evidenceList; let i=index">
                                            <!-- <ion-icon class="delete_evidence" name="trash" (click)="deleteAttachment(i, list)"></ion-icon> -->
                    <!-- <ion-icon class="delete_evidence" name="add-circle" (click)="includeAttachment(i, list, showExecutableText)"></ion-icon> -->
                    
                        <!-- <ion-label>{{i+1}}</ion-label> -->
                    <ion-label>
                            <a  class="view_evidence" (click)="viewAttachment(list)">{{list.AttachmentName}}</a>
                        
                    </ion-label>
                    <img (click)="deleteAttachment(i, list)" class="delete_evidence" src="assets/imgs/delete.png">

                    
                    <!-- <ion-label class="file_ext">{{list.Extension}}</ion-label> -->
                    <!-- <button *ngIf="list.Extension != 'jpg' || 'pgn' || 'jpeg'" class="btn btn-danger" (click)="">View File</button> -->
                    <!-- <ion-label>{{i+1}}</ion-label> -->
                </ion-item>
                <ion-item *ngIf="evidenceListShow">
                    <h5 style="margin: 10px;font-weight: bolder;">Old Evidence</h5>
                </ion-item>

                <ion-item *ngFor="let list of evidenceListOld; let i=index">
                    <!-- <ion-icon class="delete_evidence" name="trash" (click)="deleteAttachment(i, list)"></ion-icon> -->
                        <!-- <ion-label>{{i+1}}</ion-label> -->
                    <ion-label>
                            <a  class="view_evidence" (click)="viewAttachment(list)">{{list.AttachmentName}}</a>
                        
                    </ion-label>
                    <!-- <ion-label class="file_ext">{{list.Extension}}</ion-label> -->
                    <!-- <button *ngIf="list.Extension != 'jpg' || 'pgn' || 'jpeg'" class="btn btn-danger" (click)="">View File</button> -->
                    <!-- <ion-label>{{i+1}}</ion-label> -->
                </ion-item>
            </div>
        </div>
    </div>
</div>

    <div class="modal fade" id="imageModal" tabindex="5" role="dialog" aria-labelledby="imageModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageModalLabel">{{modalImageName}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="imagePopup" *ngIf="imageFileData">
                        <img [src]="imageFileData | sanitizeURL" />
                    </div>
                </div>
            </div>
        </div>
    </div>

  

    <div class="modal fade" id="FileModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel"
        aria-hidden="true" cache-view="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="FileModalLabel">File Selector</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="fileForm" #form (ngSubmit)="submitFile()">
                        <div class="fileAttachName">
                            <label>Attachment Name &nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <input type="text" name="filename" id="filename" (input)="areaChange()"
                                formControlName="fileName" maxlength="100" required placeholder="Enter attachment name">
                        </div>
                        <p class="alert alert-danger" *ngIf="fileForm.controls['fileName'].hasError('minlength')">
                            Your filename must be at least 1 characters long.
                        </p>
                        <p class="alert alert-danger" *ngIf="fileForm.controls['fileName'].hasError('maxlength')">
                            Your filename cannot exceed 100 characters.
                        </p>
                        <div class="fileIcon">
                            <!-- accept="image/*,application/*" -->
                            Select a file: &nbsp;&nbsp;&nbsp;&nbsp;
                            <input [disabled]="fileForm.controls['fileName'].invalid" type="file" id="file" required
                                (change)="filechange($event)" name="myFile">
                               
                            <input type="hidden" name="fileHidden" formControlName="imageInput" /><br><br>
                            <p *ngIf="fileErrorMsg" class="alert alert-danger"> {{fileErrorMsg}}</p>
                            <p>Only 1 MB file can be Attached</p>
                            <button [disabled]="!fileForm.valid" type="submit"
                                class="btn fileBtn primary_but">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




    <div class="modal fade verifytable_modal" id="executionVerificationByUserForTable" tabindex="2" role="dialog"
        aria-labelledby="executionVerificationByUserLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="executionVerificationByUserLabel">Electronic Verification for Table</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div *ngIf="alertBox" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <p>Invalid Credentials!</p>
                        <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button> -->
                    </div>
                    <div col-6>
                        <label>Activity</label>
                    </div>
                    <div col-6>
                        <input class="form-control" disabled [(ngModel)]="activity" type="text" />
                    </div>
                    <div col-6>
                        <label>Date & Time</label>
                    </div>
                    <div col-6>
                        <input class="form-control" disabled [(ngModel)]="dateTime" type="text" />
                    </div>
                    <div col-6>
                        <label>Availble User</label>
                    </div>
                    <div col-6>
                        <select placeholder="Select" [(ngModel)]="selectedUserTable"
                            (change)="onChangeOfVerifyUserTable(selectedUserTable)">
                            <option *ngFor="let user of verifyUserList" [value]="user.FullName">
                                {{user.FullName}}
                            <option>
                        </select>
                    </div>
                    <div col-6>
                        <label>Verification User</label>
                    </div>
                    <div col-6>
                        <input disabled class="form-control" [(ngModel)]="selectedUserNameTable" type="text" />
                    </div>
                    <div col-6>
                        <label>Password</label>
                    </div>
                    <div col-6>
                        <input autocapitalize="none" id='passwordesign' class="form-control" [(ngModel)]="password" type="password" />
                    </div>
                    <ion-button class="okButton" size="small"
                        (click)="checkVerificationByUserForTable(selectedUserTable, password)">
                        <ion-icon name="thumbs-up"></ion-icon> Ok
                    </ion-button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <ion-button class="closeButton" size="small" (click)="closeVerificationByUserForTable()">
                        <ion-icon name="close-circle"></ion-icon> Cancel
                    </ion-button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade verify_modal" id="executionVerificationByUser" tabindex="3" role="dialog"
        aria-labelledby="executionVerificationByUserLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="executionVerificationByUserLabel">Electronic Verification</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div *ngIf="alertBox" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <p>Invalid Credentials!</p>
                        <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button> -->
                    </div>
                    <div col-6>
                        <label>Activity</label>
                    </div>
                    <div col-6>
                        <input class="form-control" disabled [(ngModel)]="activity" type="text" />
                    </div>
                    <div col-6>
                        <label>Date & Time</label>
                    </div>
                    <div col-6>
                        <input class="form-control" disabled [(ngModel)]="dateTime" type="text" />
                    </div>
                    <div col-6>
                        <label>Availble User</label>
                    </div>
                    <div col-6>
                        <select placeholder="Select" [(ngModel)]="selectedUser"
                            (change)="onChangeOfVerifyUser(selectedUser)">
                            <option *ngFor="let user of verifyUserList" [value]="user.UserID">
                                {{user.FullName}}
                            </option>
                        </select>
                    </div>
                    <div col-6>
                        <label>Verification User</label>
                    </div>
                    <div col-6>
                        <input disabled class="form-control" [(ngModel)]="selectedUserName" type="text" />
                    </div>
                    <div col-6>
                        <label>Password</label>
                    </div>
                    <div col-6>
                        <input autocapitalize="none" class="form-control" [(ngModel)]="password" type="password" />
                    </div>
                    <ion-button class="okButton" size="small" (click)="checkVerificationByUser(selectedUser, password)">
                        <ion-icon name="thumbs-up"></ion-icon> Ok
                    </ion-button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <ion-button class="closeButton" size="small" (click)="closeVerificationByUser()">
                        <ion-icon name="close-circle"></ion-icon> Cancel
                    </ion-button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="electronicSignature" tabindex="-1" role="dialog"
        aria-labelledby="electronicSignatureLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="electronicSignatureLabel">Electronic Signature</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div *ngIf="alertBox" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <p>Invalid Credentials!</p>
                        <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button> -->
                    </div>
                    <div col-6>
                        <label>Activity</label>
                    </div>
                    <div col-6>
                        <input class="form-control" disabled [(ngModel)]="activity" type="text" />
                    </div>
                    <div col-6>
                        <label>Date & Time</label>
                    </div>
                    <div col-6>
                        <input class="form-control" disabled [(ngModel)]="dateTime" type="text" />
                    </div>
                    <div col-6>
                        <label>Logged-in User</label>
                    </div>
                    <div col-6>
                        <input class="form-control" disabled [(ngModel)]="loggedIn" type="text" />
                    </div>
                    <div col-6>
                        <label>User Name</label>
                    </div>
                    <div col-6>
                        <input class="form-control" [(ngModel)]="userName" type="text" />
                    </div>
                    <div col-6>
                        <label>Password</label>
                    </div>
                    <div col-6>
                        <input class="form-control" [(ngModel)]="password" type="password" />
                    </div>
                    <ion-button class="okButton" size="small" (click)="checkElectSign(userName,password)">
                        <ion-icon name="thumbs-up"></ion-icon> Ok
                    </ion-button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <ion-button class="closeButton" size="small" (click)="closeEsignModal()">
                        <ion-icon name="close-circle"></ion-icon> Cancel
                    </ion-button>
                </div>
                <div class="modal-footer">
                    <span class="modal-title modal-title-footer" id="electronicSignatureLabel">{{EsignVerbiageText}}</span>       
                </div>
            </div>
        </div>
    </div>
</ion-content>

<div class="modal fade" id="siteListModalTask" tabindex="-1" role="dialog" aria-labelledby="siteListModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="siteListModalLabel">Site List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeSiteModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ion-item *ngFor="let list of siteList">
                    <ion-label>
                        {{list.Title}}
                    </ion-label>
                </ion-item>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="screenCaptureWindows" tabindex="-1" role="dialog"
    aria-labelledby="screenCaptureWindowsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="screenCaptureWindowsLabel">Screen Capture</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="closeScreenCaptureModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="allScreenList">
                <div class="imageScreen" *ngFor="let list of allScreenList" (click)="selectedScreen(list)">
                    <label>{{list.name}}</label>
                    <img [src]="list.image | sanitizeURL" />
                </div>
            </div>
        </div>
    </div>
</div>




  
  

   
  





