#execution{
    img.newLogo {
        width: 32px;
        float: right;
    }
    *:focus {
        outline: none;
    }
    
    .green-color{
      background-color:var(--main-green-color);
    }
    ion-buttons{
        width: 45px;
    height: 45px;
    }
  

    @media only screen and (min-width: 516px) {

    .myTask{
        font-size: 1.2rem;
        font-weight: 600;
    }
    }
    @media only screen and (max-width: 515px) {

    .myTask{
        font-size: 1.0rem;
        font-weight: 600;
    }
    
    }
    .redcolor{
        color:red;
    }

    .title {
        padding: 16px;
    }
    ion-toolbar{
		position: relative;
		height: 70px;
	    background: var(--main-app-color) !important;
    }
   
    img.globeIcon {
        width: 24px;
        margin-right: 15px;
    }
    .homeList{
        background-color: var(--main-app-color);
        color: #ffffff;
        padding: 10px;
        margin: 30px;
    }
     .card_ion{
        height: 90px;
        margin-bottom: 25px;
        border: 0.4px solid var(--main-gray-color);
        box-shadow: none;
        background-color: white;
         
     }
     .cardTable_ion{
       
        margin-bottom: 25px;
        border: 0.4px solid var(--main-gray-color);
        box-shadow: none;
        background-color: white;
         
     }
     .card_content{
        margin-top: 6px !important;
     }
    .centerDiv {
        position: relative;
        top: 25%;
    }

    .labelHome {
        font-size: 16px;
        font-weight: 600;
    }
}
.fileBtn{
    background-color: white;
    width: 20%;
    color: var(--main-green-color);
    border: 1px solid var(--main-green-color);
    float: right;
    padding: 7px;
  //  --main-green-color
}
.fileIcon{
    width: 100%;
    margin-top: 10%;
}
.fileAttachName{
    
}
img.exeIcon {
    width: 20px;
    margin-left: 5px;
}
img.exIcon {
    width: 18px;
    margin-left: 5px;
}
.addImage{
    width: 27%;
    margin-left:30%;
}
.screenCapture{
    width: 27%;
    margin-left: -20%;
}

@media (min-width: 359px) and (max-width: 400px) {
    .addFile{
        width: 33%;
        margin-left: -20%;
    }
    .screenCapture{
        width: 37%;
        margin-left: -60%;
    }
    .addImage{
        width: 35%;
        margin-left: 30%;
    }
     .screenName{
        margin-left: -60%;
        font-size: 8px;
        margin-top: 10px;
     }
    .fileName{
        margin-left: -14%;
        font-size: 8px;
        margin-top: 12px;
    }
    .cameraName{
        margin-left: 30%;
        font-size: 8px;
        margin-top: 10px;

    }
    .pass_btn{
        --border-radius: 0px !important;
        --border-left: 0.1px;
        --border-right:0.1px;
        width: 36px;
        height: 23px;
        margin-bottom: -20px;
        background-color: var(--main-green-color);
        color:white;
        border: 1px solid grey;
        font-size: 8px;
       }

       .fail_btn{  
        --border-radius: 0px !important;
        --border-left: 0.1px;  --border-right:0.1px;
        width: 36px;
        height: 23px;
         margin-bottom: -20px;
         background-color:white;
         color:black;
         border: 1px solid;
         font-size: 8px;
        }

        .fabClass{
            margin-top: -3%;
            background-color: var(--main-green-color);
            width: 80%;
            height: 25px;
            font-size: 9px;
            border: 1px solid;
            border-radius: 6px;
            color: white;
        }
        .fabEditClass{
            background-color: var(--main-app-color) !important;
        }
    
    
    
}

@media (min-width: 400px) and (max-width: 511px) {
    .addFile{
        width: 30%;
        margin-left: -20%;
    }
    .screenCapture{
        width: 25px;
        margin-left: -60%;
    }
    .addImage{
        width: 30%;
        margin-left: 30%;
    }
     .screenName{
        margin-left: -60%;
        font-size: 9px;
        margin-top: 11px;
     }
    .fileName{
        margin-left: -17%;
        font-size: 9px;
        margin-top: 15px;
    }
    .cameraName{
        margin-left: 30%;
        width: -359px;
        font-size: 9px;
        margin-top: 14px;
    }

    .pass_btn{
        --border-radius: 0px !important;
        --border-left: 0.1px;
        --border-right:0.1px;
        width: 37px;
        font-size: 9px;
        height: 23px;
        margin-bottom: -20px;
        background-color: var(--main-green-color);
        color:white;
        border: 1px solid grey;
       }

       .fail_btn{  
        --border-radius: 0px !important;
        --border-left: 0.1px;  --border-right:0.1px;
        width: 37px;
        font-size: 9px;
        height: 23px;
         margin-bottom: -20px;
         background-color:white;
         color:black;
         border: 1px solid;
          }
    
        .fabClass{
            margin-top: -3%;
            background-color: var(--main-green-color);
            width: 80%;
            height: 25px;
            font-size: 9px;
            border: 1px solid;
            border-radius: 6px;
            color: white;
        }
        .fabEditClass{
            background-color: var(--main-app-color) !important;
        }
    
}


@media (min-width: 511px) and (max-width: 650px) {
    .addFile{
        width: 27%;
        margin-left: -20%;
    }
    .screenCapture{
        width: 27%;
        margin-left: -60%;
    }
    .addImage{
        width: 27%;
        margin-left: 30%;
    }
     .screenName{
        margin-left: -60%;
        margin-top: 9px;
     }
    .fileName{
        margin-left: -17%;
        margin-top: 9px;

    }
    .cameraName{
        margin-left: 20%;
        margin-top: 9px;

    }

    .pass_btn{
        --border-radius: 0px !important;
        --border-left: 0.1px;
        --border-right:0.1px;
        width: 48px;
        height: 28px;
        font-size: 11px;
        margin-bottom: -20px;
        background-color: var(--main-green-color);
        color:white;
        border: 1px solid grey;
       }

       .fail_btn{  
        --border-radius: 0px !important;
        --border-left: 0.1px;  --border-right:0.1px;
        width: 48px;
        height: 28px;
        font-size: 11px;
         margin-bottom: -20px;
         background-color:white;
         color:black;
         border: 1px solid;
          }
          .fabClass{
            height: 32px;
            font-size: 11px;
            margin-top: -3%;
            background-color: var(--main-green-color);
            width: 75%;
            border: 1px solid;
            border-radius: 6px;
            color: white;
        }
        .fabEditClass{
            background-color: var(--main-app-color) !important;
        }

    

    
}



@media (min-width: 650px) and (max-width: 770px) {
    .addFile{
        width: 27%;
        margin-left: -20%;
    }
    .screenCapture{
        width: 27%;
        margin-left: -60%;
    }
    .addImage{
        width: 27%;
        margin-left:30%;
    }
     .screenName{
        margin-left: -60%;

    }
    .fileName{
        margin-left: -17%;

    }
    .cameraName{
        margin-left: 30%;

    }

    .pass_btn{
        --border-radius: 0px !important;
        --border-left: 0.1px;
        --border-right:0.1px;
        width: 58px;
        height: 30px;
        margin-bottom: -20px;
        background-color: var(--main-green-color);
        color:white;
        border: 1px solid grey;
       }
       .fail_btn{  
       --border-radius: 0px !important;
       --border-left: 0.1px;  --border-right:0.1px;
       width: 58px;
       height: 30px;
        margin-bottom: -20px;
        background-color:white;
        color:black;     
        border: 1px solid;
        }

        .fabClass{
            height: 33px;
            margin-top: -3%;
            background-color: var(--main-green-color);
            width: 75%;
            border: 1px solid;
            border-radius: 6px;
            color: white;
        }
        .fabEditClass{
            background-color: var(--main-app-color) !important;
        }
   
}
    

    @media (min-width: 770px) and (max-width: 900px) {
        .addFile{
            width: 22%;
            margin-left: -20%;
        }
        .screenCapture{
            width: 22%;
            margin-left: -60%;
        }
        .addImage{
            width: 22%;
            margin-left:30%;
        }
        .screenName{
            margin-left: -89px;
    
        }
        .fileName{
            margin-left: -23px;
    
        }
        .cameraName{
            margin-left: 42px;
    
        }   
        
        .pass_btn{
            --border-radius: 0px !important;
            --border-left: 0.1px;
            --border-right:0.1px;
            width: 75px;
            height: 35px;
            margin-bottom: -20px;
            background-color: var(--main-green-color);
            color:white;
            border: 1px solid grey;
           }
           .fail_btn{  
           --border-radius: 0px !important;
           --border-left: 0.1px;  --border-right:0.1px;
            width: 75px;
            height: 35px;
            margin-bottom: -20px;
            background-color:white;
            color:black;     
            border: 1px solid;
            }

            .fabClass{
                height: 40px;
                margin-top: -3%;
                background-color: var(--main-green-color);
                width: 75%;
                border: 1px solid;
                border-radius: 6px;
                color: white;
            }
            .fabEditClass{
                background-color: var(--main-app-color) !important;
            }
       
    }

@media (min-width: 900px) and (max-width: 1059px) {
    .addFile{
        width: 18%;
        margin-left: -17%;
    }
    .screenCapture{
        width: 18%;
        margin-left: -70%;
    }
    .addImage{
        width: 18%;
        margin-left: 30%;
    }
    .screenName{
        margin-left: -71%;

    }
    .fileName{
        margin-left: -15%;

    }
    .cameraName{
        margin-left: 30%;

    }

    .pass_btn{
        --border-radius: 0px !important;
        --border-left: 0.1px;
        --border-right:0.1px;
        width: 75px;
        height: 35px;
        margin-bottom: -20px;
        background-color: var(--main-green-color);
        color:white;
        border: 1px solid grey;
       }
       .fail_btn{  
       --border-radius: 0px !important;
       --border-left: 0.1px;  --border-right:0.1px;
        width: 75px;
        height: 35px;
        margin-bottom: -20px;
        background-color:white;
        color:black;     
        border: 1px solid;
        }
        .fabClass{
            height: 40px;
            margin-top: -3%;
            background-color: var(--main-green-color);
            width: 75%;
            border: 1px solid;
            border-radius: 6px;
            color: white;
        }
        .fabEditClass{
            background-color: var(--main-app-color) !important;
        }
    
}

    @media (min-width: 1059px) and (max-width: 1131px) {
        .addFile{
            width: 16%;
            margin-left: -17%;
        }
        .screenCapture{
            width: 16%;
            margin-left: -69%;
        }
        .addImage{
            width: 18%;
            margin-left: 30%;
        }
        .screenName{
            margin-left: -126px;
            margin-top: -1px;
    
        }
        .fileName{
            margin-left: -27px;
    
        }
        .cameraName{
            margin-left: 52px;
            margin-top: -3px;
    
        }

        .pass_btn{
            --border-radius: 0px !important;
            --border-left: 0.1px;
            --border-right:0.1px;
            width: 75px;
            height: 35px;
            margin-bottom: -20px;
            background-color: var(--main-green-color);
            color:white;
            border: 1px solid grey;
           }
           .fail_btn{  
           --border-radius: 0px !important;
           --border-left: 0.1px;  --border-right:0.1px;
            width: 75px;
            height: 35px;
            margin-bottom: -20px;
            background-color:white;
            color:black;     
            border: 1px solid;
            }

            .fabClass{
                height: 40px;
                margin-top: -3%;
                background-color: var(--main-green-color);
                width: 75%;
                border: 1px solid;
                border-radius: 6px;
                color: white;
            }
            .fabEditClass{
                background-color: var(--main-app-color) !important;
            }
       
    }

    @media (min-width: 1131px) and (max-width: 1200px) {
        .addFile{
            width: 16%;
            margin-left: -17%;
        }
        .screenCapture{
            width: 16%;
            margin-left: -69%;
        }
        .addImage{
            width: 18%;
            margin-left: 30%;
        }
        .screenName{
            margin-left: -135px;
           margin-top: -2px;
        }
        .fileName{
            margin-left: -27px;
    
        }
        .cameraName{
            margin-left: 58px;
            margin-top: -5px;
        }

        .pass_btn{
            --border-radius: 0px !important;
            --border-left: 0.1px;
            --border-right:0.1px;
            width: 75px;
            height: 35px;
            margin-bottom: -20px;
            background-color: var(--main-green-color);
            color:white;
            border: 1px solid grey;
           }
           .fail_btn{  
           --border-radius: 0px !important;
           --border-left: 0.1px;  --border-right:0.1px;
            width: 75px;
            height: 35px;
            margin-bottom: -20px;
            background-color:white;
            color:black;     
            border: 1px solid;
            }
            .fabClass{
                height: 40px;
                margin-top: -3%;
                background-color: var(--main-green-color);
                width: 75%;
                border: 1px solid;
                border-radius: 6px;
                color: white;
            }
            .fabEditClass{
                background-color: var(--main-app-color) !important;
            }
    }

    @media (min-width: 1200px) and (max-width: 1246px) {
        .addFile{
            width: 16%;
            margin-left: -20%;
        }
        .screenCapture{
            width: 16%;
            margin-left: -62%;
        }
        .addImage{
            width: 18%;
            margin-left: 30%;
        }
        .screenName{
            margin-left: -91px;
            margin-top: -2px;
        }
        .fileName{
            margin-left: -25px;
    
        }
        .cameraName{
            margin-left: 38px;
             margin-top: -5px;
        }

        .pass_btn{
            --border-radius: 0px !important;
            --border-left: 0.1px;
            --border-right:0.1px;
            width: 75px;
            height: 35px;
            margin-bottom: -20px;
            background-color: var(--main-green-color);
            color:white;
            border: 1px solid grey;
           }
           .fail_btn{  
           --border-radius: 0px !important;
           --border-left: 0.1px;  --border-right:0.1px;
            width: 75px;
            height: 35px;
            margin-bottom: -20px;
            background-color:white;
            color:black;     
            border: 1px solid;
            }

            .fabClass{
                height: 40px;
                margin-top: -3%;
                background-color: var(--main-green-color);
                width: 75%;
                border: 1px solid;
                border-radius: 6px;
                color: white;
            }
            .fabEditClass{
                background-color: var(--main-app-color) !important;
            }
       
    }

    @media (min-width: 1246px) and (max-width: 1348px) {
        .addFile{
            width: 16%;
            margin-left: -20%;
        }
        .screenCapture{
            width: 16%;
            margin-left: -66%;
        }
        .addImage{
            width: 19%;
            margin-left: 30%;
        }
        .screenName{
            margin-left: -114px;
            margin-top: -2px;
        }
        .fileName{
            margin-left: -33px;
    
        }
        .cameraName{
            margin-left: 51px;
             margin-top: -5px;
        }

        .pass_btn{
            --border-radius: 0px !important;
            --border-left: 0.1px;
            --border-right:0.1px;
            width: 75px;
            height: 35px;
            margin-bottom: -20px;
            background-color: var(--main-green-color);
            color:white;
            border: 1px solid grey;
           }
           .fail_btn{  
           --border-radius: 0px !important;
           --border-left: 0.1px;  --border-right:0.1px;
            width: 75px;
            height: 35px;
            margin-bottom: -20px;
            background-color:white;
            color:black;     
            border: 1px solid;
            }

            .fabClass{
                height: 40px;
                margin-top: -3%;
                background-color: var(--main-green-color);
                width: 75%;
                border: 1px solid;
                border-radius: 6px;
                color: white;
            }
            .fabEditClass{
                background-color: var(--main-app-color) !important;
            }
       
    }

    @media (min-width: 1348px) and (max-width: 1450px) {
        .addFile{
            width: 16%;
            margin-left: -20%;
        }
        .screenCapture{
            width: 16%;
            margin-left: -66%;
        }
        .addImage{
            width: 19%;
            margin-left: 30%;
        }
        .screenName{
            margin-left: -127px;
            margin-top: -2px;
        }
        .fileName{
            margin-left: -29px;
    
        }
        .cameraName{
            margin-left: 54px;
            margin-top: -5px;
        }

        .pass_btn{
            --border-radius: 0px !important;
            --border-left: 0.1px;
            --border-right:0.1px;
            width: 75px;
            height: 35px;
            margin-bottom: -20px;
            background-color: var(--main-green-color);
            color:white;
            border: 1px solid grey;
           }
           .fail_btn{  
           --border-radius: 0px !important;
           --border-left: 0.1px;  --border-right:0.1px;
            width: 75px;
            height: 35px;
            margin-bottom: -20px;
            background-color:white;
            color:black;     
            border: 1px solid;
            }

            .fabClass{
                height: 40px;
                margin-top: -3%;
                background-color: var(--main-green-color);
                width: 75%;
                border: 1px solid;
                border-radius: 6px;
                color: white;
            }
            .fabEditClass{
                background-color: var(--main-app-color) !important;
            }
       

    }


    @media (min-width: 1451px) and (max-width: 1950px) {
        .addFile{
            width: 14%;
            margin-left: -20%;
        }
        .screenCapture{
            width: 16%;
            margin-left: -66%;
        }
        .addImage{
            width: 16%;
            margin-left: 30%;
        }
        .screenName{
            margin-left: -127px;
            margin-top: -2px;
        }
        .fileName{
            margin-left: -40px;
    
        }
        .cameraName{
            margin-left: 71px;
            margin-top: -5px;
        }

        .pass_btn{
            --border-radius: 0px !important;
            --border-left: 0.1px;
            --border-right:0.1px;
            width: 75px;
            height: 35px;
            margin-bottom: -20px;
            background-color: var(--main-green-color);
            color:white;
            border: 1px solid grey;
           }
           .fail_btn{  
           --border-radius: 0px !important;
           --border-left: 0.1px;  --border-right:0.1px;
            width: 75px;
            height: 35px;
            margin-bottom: -20px;
            background-color:white;
            color:black;     
            border: 1px solid;
            }

            .fabClass{
                height: 40px;
                margin-top: -3%;
                background-color: var(--main-green-color);
                width: 75%;
                border: 1px solid;
                border-radius: 6px;
                color: white;
            }
            .fabEditClass{
                background-color: var(--main-app-color) !important;
            }
       

    }

.editIcon{
    margin-right: 40%;
    width: 30px;
}


.colClass
{
    margin:0.45rem;
}
.iconClass{
    color: var(--main-app-color);
    width: 6%;
    height: 100%;
    margin-top: 1%;
    margin-left: 93%;
}
.evidenceClass{
    width: 12%;
    height: 100%;
    color: var(--main-gray-color);
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}
.evidence{
    border-top:0.5px solid var(--main-gray-color);
}

angular-editor{
    margin-top: -15px;
    }
.buttonClass{
    width: 100%;
    height: 100%;
    padding: 8px;
    margin-right: 20px;
    border: 0.5px solid var(--main-gray-color);
    background-color: white;
    margin-bottom: -4px;
}
.buttonClassactive{
    --border-radius: 0px !important;
    --border-left: 0.1px;
    --border-right:0.1px;
    --border:1px solid var(--main-green-color);
}
.buttonClass1{
    --border-radius: 0px !important;
    --border-left: 0.1px;
    --border-right:0.1px;
    width: 70px;
    height: 35px;
    margin-bottom: -20px;
}


ion-button.active, ion-button.activated {
    color : #000
  }  
.selectClass
{
    border-radius: 3.5px;
    width: 90%;
    height: 90%;
    border: 0.5px solid var(--main-gray-color);
    padding: 5px 7px 0.1px;
}
.areaClass{
    border: 0.5px solid var(--main-gray-color);
    
}
.insideareaClass{
    // background-color: #eaeaea;
    margin: 0px 5px 15px 0px;
    border: 0.5px solid var(--main-gray-color) !important;
}

.containerArea
{
   // margin: 15px 0px 10px;
   margin-top:50px;
    border: 0.5px solid var(--main-gray-color);
    height: 200px;
    overflow: scroll;
    margin-bottom:142px;
    padding:10px;
}
@media only screen and (min-height: 584px) {

    .containerArea
    {
        // margin: 15px 0px 10px;
   margin-top:45px;
        border: 0.5px solid var(--main-gray-color);
        height: 255px;
        overflow: scroll;
        padding:10px;
    }
    }
    @media only screen and (min-height: 700px) {

        .containerArea
        {
             // margin: 15px 0px 10px;
            margin-top:45px;
            border: 0.5px solid var(--main-gray-color);
            // height: 375px;
            overflow: scroll;
            padding:10px;
            height: 295px;
        }
    }
    @media only screen and (min-height: 900px) {

        .containerArea
        {
             // margin: 15px 0px 10px;
   margin-top:45px;
            border: 0.5px solid var(--main-gray-color);
            height: 570px;
            overflow: scroll;
            padding:10px;
        }
    }
    @media only screen and (min-height: 1024px) {

        .containerArea
        {
             // margin: 15px 0px 10px;
   margin-top:45px;
            border: 0.5px solid var(--main-gray-color);
            height: 700px;
            overflow: scroll;
            padding:10px;
        }
    }
.footer{
    position: fixed;
    height: 100px;
    z-index: 99;
    background-color: #ffffff;
    padding-top:10px;
}
.rowClass{
    margin-left: 5px;

}


.verify_modal{
    z-index: 3;
    
}

.verifytable_modal{
    z-index: 99;
}
.no-scroll {
    --overflow: hidden;
}

.innerArea{
    margin: 15px 0px 10px;
}
div[scrollx=true] {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    &::-webkit-scrollbar {
       display: none;
    }
     .scroll-item {
       flex: 0 0 auto;
    }
  }

  .execute_evidence_menu {
    text-align: center;
    padding-top: 2%;
}
.viewmore{
   
    


}
*:focus {
    outline: none;
}
.innerArea h4{
    font-weight: bolder;
    font-size: 13px;
    color: black;
    margin-top: 1%;
    margin-left: 1%;
}
.innerArea h3{
    font-weight: bolder;
    font-size: 13px;
    color: black;
    margin-top: 1%;
    margin-left: 11%;
}

.innerArea ion-card{
    box-shadow: none;
    border: 1px solid;
    margin: 0px;
    margin-top: 13px;
    height: 85px;
}

.nonedit{
    
    box-shadow: none;
    border: none;
    margin: 0px;
    margin-top: 0px;
    height: auto;
}
.copy_btn{
    background-color: white;
    width: 50%;
    float: right;
    text-align: right;
}
.copy_btn:focus{
    outline:none;
}

.non_label{
    width: 100%;
}
.text-cursor {
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    -o-user-select: auto !important;
    user-select: auto !important;
}
@media screen and (max-width: 1200px) and (min-width: 900px){
    .innerArea ion-card{
        box-shadow: none;
    border: 1px solid;
    margin: 0px;
    margin-top: 9px;
    height: 80px;
    }
    .addImage {
        width: 18%;
        margin-left: 30%;
    }
}

.actual_result{
    color:var(--main-green-color);
    margin-left:3%;
}
ion-select .select-icon-inner {
    left: 1px !important;
    top: 70% !important;
    margin-top: -3px;
    position: absolute !important;
    width: 1px !important;
    height: 0px !important;
    border-top: 5px solid !important;
    border-right: 5px solid transparent !important;
    border-left: 5px solid transparent !important;
    color: black !important;
    /* opacity: .33; */
    pointer-events: none;
}
::-webkit-scrollbar, *::-webkit-scrollbar {
    display: none;
    overflow: hidden;
  }
  
  ion-content {
  
  }
  
  .scroll-content {
    overflow: hidden;
  }


:host #areainput .angular-editor .angular-editor-wrapper .angular-editor-textarea {
    min-height: 5rem;
    padding: .5rem .8rem 1rem;
    border: 1px solid black;
    background-color: transparent;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2;
    position: relative;
    margin-top: -16px;
}
.tableNumber{
    margin-left:4px;
}

.modal-dialog{
    //backdrop-filter: opacity(0.4) !important;
    backdrop-filter: blur(1px) contrast(0.8) !important;
    margin:0;
}

.modal-content{
    width: 60% !important;
    margin-left: 20% !important;
    border: 5px solid rgb(21, 106, 161);
}
.modal-dialog-centered {
    min-height: 100% !important;
    min-width: 100% !important;
}

.modal-header {
    background-color: #156aa1 !important;
    color: white !important;
    
}
button.close {
    color: white !important;
}
.modal-title-footer{
    font-size: 12px !important;
   // position: absolute;
    color: #1c02ef;
}

.fabClass1{
    height: 40px;
    margin-top: 17% !important;
    background-color: var(--main-green-color);
    width: 75%;
    border: 1px solid;
    border-radius: 6px;
    color: white;
}
.view_evidence{
    font-size: 15px !important;
    color: #007bff !important;
}
.delete_evidence{
    margin-right: 35px;
    color: red;
}
.scrollstopfix{
    position:fixed;
    overflow:scroll;
 
}

.item .sc-ion-label-md-h{
    overflow:visible;
}



