ion-toolbar{
     height: 85px; 
     position: relative;
}

ion-icon.endLogo {
     font-size: 26px;
     margin-right: 10px;
     color: #ffffff;
}

ion-content {
     --ion-background-color: #f4f7ff;
}

.segmentCh {
     width: 90%;
     background-color: #e2e2e2;
     height: 60px;
     position: fixed;
     top: 90px !important;
     left: 50%;
     -webkit-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
     z-index: 9999;
     // border-radius: 50px;
}

ion-segment {
     position: fixed;
     top: 50%;
     left: 50%;
     -webkit-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
     z-index: 9999;
     overflow: auto;
}

ion-segment-button {
     height: 50px;
     color: #000000;
     font-size: 12px;
     font-weight: 600;
     border: unset;
     width: 60px !important;
    text-transform: none;
    background: #e2e2e2;
} 

.active {
     background: var(--main-green-color);
     color: #ffffff;
     border-radius: 25px;
}

ion-segment-button ion-label {
     margin-top: 12px;
}

#firstSegment {
     margin-left: 15px;
}

#lastSegment {
     margin-right: 15px;
}

ion-back-button {
     color: #ffffff !important;
}

.detailCard {
     margin-top: 20px;
     background-color: #ffffff;
}

img.dotMenuIcon {
     width: 10px;
}

img.homeIcon {
     width: 24px;
     margin-right: 15px;
}

img.globeIcon {
     width: 24px;
     margin-right: 15px;
}