<!-- <ion-header id="taskExecution">
	<ion-toolbar >
		<ion-buttons slot="start">
			<ion-back-button color="primary" defaultHref="/menu/home"></ion-back-button>
		</ion-buttons>
		<ion-title>
			<img routerLink="/menu" alt="logo" width="100%" height="40" src="assets/imgs/loginLogo.png" />
		</ion-title>
		<ion-buttons slot="end">
			<img routerLink="/menu" class="homeIcon" src="assets/imgs/home.png" />
			
		</ion-buttons>
	</ion-toolbar>
	<div class="segmentCh">
		<ion-segment>
			<ion-segment-button id="firstSegment" [ngClass]="{'active': activeTab === 'detail'}" (click)="segmentChanged('detail')">
				<ion-label>Details</ion-label>
			</ion-segment-button>
			<ion-segment-button [ngClass]="{'active': activeTab === 'table'}" (click)="segmentChanged('table')">
				<ion-label>Table</ion-label>
			</ion-segment-button>
			<ion-segment-button [ngClass]="{'active': activeTab === 'execution'}" (click)="segmentChanged('execution')">
				<ion-label>Execution</ion-label>
			</ion-segment-button>
			<ion-segment-button id="lastSegment" [ngClass]="{'active': activeTab === 'document'}" (click)="segmentChanged('document')">
				<ion-label>Document</ion-label>
			</ion-segment-button>
		</ion-segment>
	</div>

</ion-header> -->

<ion-content>
	<router-outlet ></router-outlet>
</ion-content>

<div class="modal fade" id="siteListModalTaskExe" tabindex="-1" role="dialog" aria-labelledby="siteListModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="siteListModalLabel">Site List</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeSiteModal()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<ion-item *ngFor="let list of siteList" (click)="checkAuthorization(list.SiteID)">
					<ion-label>
						{{list.Title}}
					</ion-label>
				</ion-item>
			</div>
		</div>
	</div>
</div>