<ion-header id="document">
    <ion-toolbar  color="#226997">
        <ion-buttons slot="start">
            <!-- <ion-back-button style="color:white;margin-top:7px" defaultHref="/menu/home"></ion-back-button> -->
            <div class="pull-left ml-10"><img (click)="goBack()" class="elog_logo" src="assets/imgs/back.png"></div>
        </ion-buttons>
        <div class="main">
            <div class="pull-left ml-10 tasktitle">{{taskTitle}}</div>
            <div class="pull-right mt-15 mr-15">
                <select class="mySelect" [(ngModel)]="siteId"  id="orders"  (change)="checkAuthorization(siteId)" >
                    <option *ngFor="let list of siteList" [value]="list.SiteID" [ngClass]="(list.siteID == siteId)?'optioncolor':'optionnocolor'" [selected]="list.siteID == siteId">
                            {{list.Title}}
                    </option>
                  </select>
            </div>
        </div>
    </ion-toolbar>
    <!-- <ion-toolbar *ngIf="appPlatform == 'IOS'" class="toolbar-ios" color="#226997">
        <ion-buttons slot="start">
            <ion-back-button style="color:white" defaultHref="/menu/home"></ion-back-button>
        </ion-buttons>
        <div class="main">
            <div class="pull-left ml-10 tasktitle">{{taskTitle}}</div>
            <div class="pull-right mt-15 mr-15">
                <select class="mySelect" [(ngModel)]="siteId"  id="orders"  (change)="checkAuthorization(siteId)" >
                    <option *ngFor="let list of siteList" [value]="list.SiteID" [ngClass]="(list.siteID == siteId)?'optioncolor':'optionnocolor'" [selected]="list.siteID == siteId">
                            {{list.Title}}
                    </option>
                  </select>
            </div>
        </div>
    </ion-toolbar> -->
</ion-header>
<div>
    <ion-row>
        <ion-col size="4">
            <ion-button expand="full" [ngClass]="(button1Class)?'button-active':'tab-bar'"
                (click)="taskdetailsBtnClick('detail')">
                TASK DETAILS
            </ion-button>
        </ion-col>
        <ion-col size="4">
            <ion-button expand="full" [ngClass]="(button2Class)?'button-active':'tab-bar'" (click)="tablesBtnClick()">
                TABLES
            </ion-button>
        </ion-col>
        <ion-col size="4">
            <ion-button expand="full" [ngClass]="(button3Class)?'button-active':'tab-bar'" (click)="documentBtnClick()">
                DOCUMENT
            </ion-button>
        </ion-col>
    </ion-row>
</div>


<ion-content padding class="scrollstopfix">
    <div  class="noteItem animated zoomIn" *ngIf="documentHtmlString">
        <p  [innerHTML]="documentHtmlString | sanitizeHtml"></p>
    </div>
</ion-content>

<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">{{modalImageName}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="imagePopup" *ngIf="imageFileData">
                    <img [src]="imageFileData | sanitizeURL" />
                </div>
            </div>
        </div>
    </div>
</div>