// component css goes here
#document{
    img.newLogo {
        width: 32px;
        float: right;
    }
    .green-color{
      background-color:var(--main-green-color);
    }
    .tasktitle{
        color:white;
        margin-top: 25px;
    }

    @media only screen and (min-width: 516px) {

    .myTask{
        font-size: 1.2rem;
        font-weight: 600;
    }
    }
    @media only screen and (max-width: 515px) {

    .myTask{
        font-size: 1.0rem;
        font-weight: 600;
    }
    }
    .redcolor{
        color:red;
    }

    .title {
        padding: 16px;
    }
    ion-toolbar{
		position: relative;
		height: 70px;
	    background: var(--main-app-color) !important;
    }
   
    img.globeIcon {
        width: 24px;
        margin-right: 15px;
    }
    .homeList{
        background-color: var(--main-app-color);
        color: #ffffff;
        padding: 10px;
        margin: 30px;
    }
     .card_ion{
        height: 90px;
        margin-bottom: 25px;
        border: 0.4px solid var(--main-gray-color);
        box-shadow: none;
        background-color: white;
         
     }
     .cardTable_ion{
       
        margin-bottom: 25px;
        border: 0.4px solid var(--main-gray-color);
        box-shadow: none;
        background-color: white;
         
     }
     .card_content{
        margin-top: 6px !important;
     }
    .centerDiv {
        position: relative;
        top: 25%;
    }

    .labelHome {
        font-size: 16px;
        font-weight: 600;
    }
}
.noteItem{
    overflow: scroll;
    background-color: #ffffff;
    padding: 10px 10px;
    margin: 0px auto;
    margin-bottom: 15%;
}

.imagePopup img {
    width: 100%;
    height: 400px;;
}

.scrollstopfix{
    position:fixed;
}