<ion-header id="login">
		<ion-toolbar *ngIf="appPlatform != 'IOS'" class="toolbar-md" color="#226997">
			<div class="main">
					<div class="pull-left ml-35"><img  src="assets/imgs/New/logo.jpg"></div>
					<div class="pull-right mt-10 mr-15"><img (click)="settingUrl()" src="assets/imgs/New/login_setting.png"></div>
				</div>
		</ion-toolbar>

		<ion-toolbar *ngIf="appPlatform == 'IOS'" class="toolbar-ios" color="#226997">
			<div class="main">
					<div class="pull-left ml-35"><img  src="assets/imgs/New/logo.jpg"></div>
					<div class="pull-right mt-10 mr-15"><img (click)="settingUrl()" src="assets/imgs/New/login_setting.png"></div>
				</div>
		</ion-toolbar>
	</ion-header>

<ion-content class="bglogin" id="login">
	<div class="login_vcenter">
			<div class="form-set">
					<form [formGroup]="loginForm" (ngSubmit)="login()">
					<div class="row">
						<input  type="text" (keydown.space)="$event.preventDefault()" name="user_id" id="user_id" formControlName="UserName" required placeholder="User ID" 
						  (input)="textchange()">
						<!-- <div *ngIf="usernameRequired">This field is required</div> -->
					</div>
					<div   class="row mt-25">
						<input  type="password" (keydown.space)="$event.preventDefault()" name="user_password" id="user_password" formControlName="Password" required placeholder="Password" (input)="textchange()">
						<!-- <div *ngIf="f.pass.errors?.required">This field is required</div> -->
					</div>
					<div class="row mt-50">
						<!-- <input type="submit" name="" id="" value="Login" class="btn primary_but text-uppercase w-100"> -->
						<button [disabled]="!loginForm.valid &&  (loginForm.dirty || loginForm.touched) " type="submit" class="btn w-100 primary_but text-uppercase">Login</button>
					</div>
				</form>
				
				<div class="row mt-50" *ngIf="enableSecondaryPassword">
					<!-- <div class="w-50 pull-left text-center v-gray-bor-rig-1">
						<div>Forgot User ID?</div>
						<div class="mt-10" ><a style="color: #669235 !important;" (click)="forgotPass1()"  class="text-uppercase">Contact Admin</a></div>						
					</div> -->
					<div class="w-49  text-center password">
						<!-- <div>Forgot Password?</div> -->
						<div class="mt-10" ><a style="color: #669235 !important;"  class="text-uppercase" (click)="forgotPass()">Forgot Password ?</a></div>	
					</div>
					<div class="clear-both"></div>
				</div>

				<div class="mt-50 text-center smtex">
				 <a style="color: #737373 !important;" (click)="forgotPass1()" >	Version 4.1 </a>
				</div>
			</div>
		</div>
		
		<!-- <bootstrap-alert alertPosition="top-left"></bootstrap-alert> -->
</ion-content>

