#login{
   
    
    img.homeIcon {
        width: 24px;
        margin-right: 15px;
        color:var(--main-green-color);
    }

    img.globeIcon {
        width: 24px;
        margin-right: 15px;
    }

    img.validIcon {
        width: 22px;
        margin: 0px auto;
        display: block;
    }

    img.elogIcon {
        width: 30px;
        margin: 0px auto;
        display: block;
    }

    img.fwdIcon {
        width: 30px;
        border: 1px solid #fff;
        border-radius: 30px;
        padding: 5px;
    }

    .homeList{
        background-color: var(--main-app-color);
        color: #ffffff;
        padding: 10px;
        margin: 30px;
    }

    .centerDiv {
        position: relative;
        top: 25%;
    }

    .labelHome {
        font-size: 16px;
        font-weight: 600;
    }
}
@media only screen and (min-width: 761px) {

.heading-font, .foot-font{
    font-size: 20px;
    color:  var(--main-app-color);
}
.img-width{
	width: 50%;
}
}
@media only screen and (max-width: 760px) {

    .heading-font{
        font-size: 1rem;
        color:  var(--main-app-color);
	}
	.img-width{
		width: 100%;
	}
}
@media only screen and (max-width: 869px) {

    .footer-font{
        font-size: 11px;
        color:  var(--main-app-color);
	}
	
}
.border-text{
    font-size: 16px;
	color: #8FC7E9;
	@media only screen and (max-width: 320px) {
		width: 60%;
		padding-left: 0px;
		padding-right: 0px;
}
@media only screen and(min-width: 410px) and (max-width: 411px){
	// width: 160px;
	width: 60%;
	padding-left: 0px;
	padding-right: 0px;
}
@media only screen and(min-width: 319px) and (max-width: 321px){
	// width: 160px;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 12px;
}
@media only screen and (min-width: 767px) and (max-width: 769px) {
	font-size: 15px;
}
}

.label-center{
	padding-top: 9px;
	@media only screen and(min-width: 319px) and (max-width: 321px) {
		margin-left: 3px;
		padding: 0 1px 0 1px;
		margin-top: 10px;
}
	@media only screen and (min-width: 374px) and (max-width: 375px) {
		margin-left: -14px;
		padding: 0 1px 0 1px;
		margin-top: 10px;
}
@media only screen and (min-width: 410px) and (max-width: 411px) {
	margin-left: 10px;
}
@media only screen and (min-width: 399px) and (max-width: 401px) {
	margin-left: -10px;
	padding: 0 1px 0 1px;
	margin-top: 10px;
}
@media only screen and (min-width: 767px) and (max-width: 769px) {
	// margin-left: 10px;
	padding: 0 1px 0 1px;
	margin-top: 7px;
}
	

}
.alert-title.sc-ion-alert-md {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.border h1 span{
    background-color: white;
}
.input-border{
    border: 0px solid;
    background-color: white;

}
.btn-height{
    height: 50px;
    background-color: var(--main-green-color);
	color: #ffffff;
	font-weight: 600;
}

ion-icon.settingIcon {
    font-size: 30px;
    color: var(--main-green-color);
}

fieldset { 
	display: block;
	border: 1px solid #8FC7E9 !important;
}
.feild-height{
	margin-top: -10px;
}


.my-row {
	border: 4px solid white;
	top: 5rem;
	position: relative;
	
}
.bglogin{
    background-color: #ffffff;
}
.login_vcenter {
    width: 80%;
    height:auto;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.link-sty {
	color: var(--main-green-color);
	
}
.password{
    margin-left: 27%;
}
