<ion-split-pane when="xl" id="menu"  contentId="menu-content" >
    <ion-menu contentId="menu-content">

        <ion-content class="menu_width" forceOverscroll="false">
            <!-- <div class="menu_content"> -->
            <ion-list class="menu_list">
                <div class="menu-space">
                </div>
                <ion-item>
                    <ion-label class="pb-5">
                        <div class="row">
                            <div class="col-2" >
                                <!-- <ion-icon class="pull-left side-menu-content-icon user-icon" name="contact"></ion-icon> -->
                                <img  class="pull-left side-menu-content-icon user-icon" src="assets/imgs/profile.png">
                            </div>
                            <div class="col-8 pull-left">
                                <b class="side-menu-content-title"  (click)="viewprofile()">{{loggedInUser}} </b><br>
                                <p>{{UserRole}}</p>
                                 <!-- <button (click)="viewprofile()" class="viewprofile">View Profile</button> -->
                            </div>
                            <div class="col-2" style='padding-left:0px'>
                                
                                                   <span class="logout_icon" (click)='alertForLogout()'  style=" height:25px;
                                    width: 10px;"><img src="assets/imgs/logout_png.png"></span>
                                      
                                    <!-- <ion-icon (click)="viewsetting()" class="pull-left setting-icon" name="settings"></ion-icon> -->
                        
                            </div>
                            
                        </div>
                         
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>
                        <div class="row pt-5">
                            <div class="col-2 pull-left side-menu-content-icon">
                                <img src="assets/imgs/Clock.png">
                            </div>
                            <div class="col-10"> {{currentDataTime | date:'shortTime'}} | {{ClientZone}}
                            </div>
                        </div>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>
                        <div class="row pt-5">
                            <div class="col-2 pull-left side-menu-content-icon">
                                <img src="assets/imgs/world-gray.png">
                            </div>
                            <div class="col-10">
                                <select class="selector"  [(ngModel)]="siteId"  id="orders"  (change)="checkAuthorization(siteId)">
                                   <option *ngFor="let list of siteList" value="{{list.SiteID}}" [selected]="list.SiteID == siteId">{{list.Title}}
								   </option>
								  </select>
                            </div>
                        </div>
                    </ion-label>
                </ion-item>
            </ion-list>
            <div class="row mt-50">
               
                <div class="col-6 pl-10" *ngIf="vlmsMenu">

                    <a  routerLink="/menu/home/task" (click)="toggleMenu()" class="btn primary_but text-uppercase  dashboard_but "><span class="img_but"><img
                                src="assets/imgs/VLMS-logo.png"></span><span>VLMS</span><span class="img_but">
                                    <!-- <img src="assets/imgs/right_arrow.png"> -->
                            </span></a>
                </div>
                <div class="col-6 pl-10" *ngIf="eLogMenu">
                    <a  routerLink="/menu/home/elog" (click)="toggleMenu()" class="btn primary_but text-uppercase dashboard_but "><span class="img_but"><img
                                src="assets/imgs/elog-logo.png"></span><span>E-Log</span><span class="img_but">
                                    <!-- <img src="assets/imgs/right_arrow.png"> -->
                                </span></a>
                </div>
            </div>
            <br>
            <br>
           
            <div>
            <div style="text-align:center;color: rgba(21,106,161,1);font-weight: bold;
             position: fixed;right: 125px;bottom: 10px;">
            <!-- <ion-button class="" expand="full" >
            <span style=" height:25px;
            width: 20px;"></span> -->
             About US
              <!-- </ion-button>     -->
              </div>
            </div>
        <!-- </div> -->
            <!-- <ion-icon class="logoutIcon" slot="start" ios="ios-log-out" md="md-log-out"></ion-icon> -->
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="menu-content"></ion-router-outlet>
</ion-split-pane>