#menu {
    ion-toolbar{
        color: var(--main-app-color);
        height: 70px;
        background-color: #fafafa;
    }

    ion-content {
        --ion-background-color:#f4f6fe;
    }

    ion-title {
        font-size: 20px;
        font-style: italic;
        color: var(--main-app-color);
    }
    
    
}
.split-pane-md.split-pane-visible>.split-pane-side {
   
    max-width: 19% !important; 
}
.menu_width{
    width:98%;   
     left:3px;
   
}
.pt-5{
    padding-top: 1rem !important;
    
}
.pb-5{
    padding-bottom: 1rem !important;
}
.pl-5{
    padding-left: 1rem !important;
}
.pl-m20{
    padding-left: 20px !important;
}
img{
    max-width: 160% !important;
    width:27px !important;
}
.logout_icon{
    width:20px !important;
}
.img_but{
    margin-left: 8px;
   // margin-left: -9px;
}
.pl-10{
    padding-left: 10% !important;
}
.select-class{
    border: 1px solid black;
    --border-radius: 5px;
}
.dashboard_but span:nth-child(2) {
    float: left;
    width: 70%;
    text-align: center;
}
.setting-icon{
    margin-left: -22px;
    width: 30px;
    height: 46px;
}
.viewprofile{
    color: rgba(21,106,161,1);
    text-decoration: none;
    background: white;
}
*:focus {
    outline: none;
}
.logout_icon{
    font-size: 25px;
    font-weight: bolder;
    color: rgb(255, 253, 253);
    height:25px;
    width: 20px;
}
.inner-scroll scroll-y{
    width: 50px; 
     color: black;  
}
.menu_content{
    margin-left:20px;
    margin-right:20px;
}
.button.logout {
    --background:#f3f7f1;
    height: 40px;
    color: #000000;
    text-align: center;
    float:right;
    // margin-left: 50px;
    // margin-right: 30px;
    // width:180px;
}

.menu_list{
    margin-right: 5% !important;
}
