.filterButton{
    padding-top:20px;
}
.sortRow{
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}
.filterReset{
    float: left;
}
.filterApply{
    float: right;
}
ion-select{
    width:100%;
}
.selectClass{
    width:100%;
}
.closeButton{
    --background:white;
    float:right;
    margin-right:8px;
}
.task_filter{
    left: 285px !important;
    top: 200px !important;
}