<ion-header>
  <ion-toolbar text-center>
    <ion-title>{{modalTitle}} 
      <ion-icon class="closeButton" name="close" (click)="closeModal()"></ion-icon>
    </ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content class=" fadeInDown" padding>
    <div class="elog_filter">
  <ion-grid>
    <ion-row>
      <p>Filter By</p>
    </ion-row>
    <ion-row>
        <ion-list >
            <ion-item *ngFor="let filter of filterArray">
                <ion-checkbox slot="start" value="filter.id" checked={{filter.checked}}   (ionChange)="filterChange($event,filter,filter.id)"  ></ion-checkbox>&nbsp;&nbsp;
              <ion-label>{{filter.name}}</ion-label>    
            </ion-item>
          </ion-list>
     
    </ion-row>
    <ion-row>
        <p>Sort By</p>
      </ion-row>
      <ion-row>
          <ion-select [interfaceOptions]="customAlertOptions" class="selectClass" placeholder="Select"  (ionChange)="sortChange($event)" >
              <!-- <ion-select-option selected>Select</ion-select-option> -->
              <ion-select-option [value]=1 >Target Date</ion-select-option>
              <ion-select-option [value]=2 >Task Title</ion-select-option>
              </ion-select>
        </ion-row>
       
        <ion-row class="filterButton">
          <ion-col size="6">
              <!-- <ion-button  class="filterReset" (click)="filterReset()">Reset</ion-button> -->
          </ion-col>
          <ion-col size="6">
              <ion-button  class="filterApply" [disabled]='!isenabled' (click)="filterApply()">Apply</ion-button>
            </ion-col>
        </ion-row>
  </ion-grid>
    </div>
</ion-content>