// #cleaningSolution{
//     ion-toolbar{
//         height: 70px; 
//         background-color:#ffffff !important;
//         position: relative;
//     }
    
//     img.homeIcon {
//         width: 24px;
//         margin-right: 15px;
//     }

//     img.globeIcon {
//         width: 24px;
//         margin-right: 15px;
//     }

//     .taskListLabel{
//         font-size: 16px;
//         color: #1b68a0;
//         font-weight: 600;
//     }

//     .title {
//         padding: 5px;   
//         border-bottom: 2px solid #1b68a0;
//     }

//     ion-col img{
//         width: 30px;
//         height: 30px;
//         margin-right: 20px;
//     }

//     .elogTaskHead th {
//         font-size: 12px;
//     }

//     .elogTaskHead tr {
//         background-color: #b8f2f4
//     }

//     .elogTaskBody tr:nth-of-type(even) {
//         background-color:#e9feff;
//     }

//     .elogTaskBody tr:nth-of-type(odd) {
//         background-color:#ffffff ;
//     }

//     .elogTaskBody img{
//         width: 14px;
//     }

//     table, th, td {
//         border: 1px solid #cccccc;
//     }

//     .table {
//         margin-top: 10px; 
//         font-size: 12px;
//     }

//     .detailLabel {
//         border: 1px solid #ccc;
//         background-color: #d4d2d2;
//     }

//     .detailView {
//         font-size: 12px;
//     }

//     .labelHead {
//         background-color: #c6e1ff;
//         font-size: 14px;
//     }

//     .labelHead ion-icon {
//         font-size: 24px;
//     }

//     .button.submit {
//         --background :#669235;
//     }

//     .button.reset {
//         --background :#afafaf;
//     }

//     ion-input, ion-select, ion-datetime, ion-textarea {
//         border: 1px solid #afafaf;
//     }

//     input.native-input.sc-ion-input-ios, textarea.native-textarea.sc-ion-textarea-ios {
//         padding-left: 5px !important;
//     }
// }

#cleaningSolution{

    .green-color{
        color:#679436;
      }
      
      
      .redcolor{
          color:red;
      }
      
      .title {
          padding: 16px;
      }
      
      ion-toolbar{
          position: relative;
          height: 70px;
          background: #156aa1 !important;
      }
      
      @media only screen and (min-width: 516px) {
      
          .myTask{
              font-size: 1.2rem;
              font-weight: 600;
          }
      }
      @media only screen and (max-width: 515px) {
      
          .myTask{
              font-size: 1.0rem;
              font-weight: 600;
          }
      }
      
      img.homeIcon {
          width: 24px;
          margin-right: 15px;
          color:white;
      }
      
      
      img.globeIcon {
          width: 24px;
          margin-right: 15px;
      }
      
      .bar-main{
        margin-top:5px;
      }

      .button.submit {
                --background :#669235;
                margin-right: 1%;
                width: 12%;
                height: 40px;
                font-size: 17px;
            }
        
            .button.reset {
                --background: #afafaf;
                margin-right: 7%;
                width: 12%;
                height: 40px;
                font-size: 17px;
            }
        
            ion-input, ion-select, ion-datetime, ion-textarea {
                border: 1px solid #afafaf;
            }
        
            input.native-input.sc-ion-input-ios, textarea.native-textarea.sc-ion-textarea-ios {
                padding-left: 5px !important;
            }

            .addImage{
                width: 27%;
                margin-left:30%;
            }

            .addFile{
                width: 27%;
                margin-left: -20%;
            }

             h3{
                font-weight: bolder;
                font-size: 13px;
                color: black;
                margin-top: 1%;
                margin-left: 11%;
            }
            .evidence-row{
                padding-bottom: 10px;
            }

            .detailView {
               
                padding-left: 5px;
                border: 1px solid grey;
                padding: 15px;
                padding-bottom: 0px;
                margin-bottom: 15px;
                border-radius: 5px;
                    }

            .detailRow{
                margin-bottom:15px;
            }
            .myform{
                border-radius:5px;
            }

            .fabClass{
                height: 40px;
                margin-top: -3%;
                background-color: var(--main-green-color);
                width: 75%;
                border: 1px solid;
                border-radius: 6px;
                color: white;
            }


}


ion-content {
    --ion-background-color: #f4f6fe;
}
.fileBtn{
    background-color: white;
    width: 20%;
    color: var(--main-green-color);
    border: 1px solid var(--main-green-color);
    float: right;
    padding: 7px;
  //  --main-green-color
}
.fileIcon{
    width: 100%;
    margin-top: 10%;
}

.modal-header {
    background-color: #156aa1 !important;
    color: white !important;
}
button.close {
    color: white !important;
}
.modal-content {
    border: 1px solid rgb(21, 106, 161);
}

.view_evidence{
    font-size: 15px !important;
    color: #007bff !important;
}
.delete_evidence{
    margin-right: 35px;
    color: red;
}