<ion-header id="cleaningSolution">
    <ion-toolbar color="#226997">
        <ion-buttons slot="start">
            <!-- <ion-back-button style="color:white" defaultHref="/menu/home"></ion-back-button> -->
            <div class="pull-left ml-10"><img (click)="goBack()" class="elog_logo" src="assets/imgs/back.png"></div>
            <div style="color:white;">{{sectionName}}</div>
        </ion-buttons>
        <div class="main">
            <!-- <div class="pull-right mt-15 mr-15"><img routerLink="/menu" class="homeIcon" src="assets/imgs/home.png" /></div> -->
            <!-- <select class="mySelect" [(ngModel)]="siteId" id="orders" (change)="checkAuthorization(siteId)">
                <option *ngFor="let list of siteList" [value]="list.SiteID"
                    [ngClass]="(list.siteID == siteId)?'optioncolor':'optionnocolor'"
                    [selected]="list.siteID == siteId">
                    {{list.Title}}
                </option>
            </select> -->

            <ion-row style="float:right">
                <ion-col size="1">
                    <select class="mySelect" [(ngModel)]="siteId" id="orders" (change)="checkAuthorization(siteId)">
                        <option *ngFor="let list of siteList" [value]="list.SiteID" [ngClass]="(list.siteID == siteId)?'optioncolor':'optionnocolor'"
                            [selected]="list.siteID == siteId">
                            {{list.Title}}
                            </option>
                            </select>
                            </ion-col>
                            </ion-row>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content id="cleaningSolution" padding>
    <ion-grid class="title">
        <ion-row>
            <ion-col>
                <span *ngIf="showNewSection" class="taskListLabel">{{sectionList.SectionName}}</span>
            </ion-col>
        </ion-row>
    </ion-grid>


    <div class="detailView" *ngIf="!disableEvidence">
        <ion-row class="evidence-row">

            <ion-col size="4">
                <h3>ATTACH EVIDENCE </h3>
                <ion-row>
                    <ion-col size="6">
                        <span *ngIf="!isDesktopApp"> <img (click)="pictureActionSheet()" class="addImage"
                                src="assets/imgs/PhotoCamera1.png" />
                            <p style="display:block; margin-left:30%;"> Image</p>
                        </span>
                        <span *ngIf="isDesktopApp"> <img (click)="takePictureElectron()"  class="addImage"
                            src="assets/imgs/PhotoCamera1.png"/>
                        <p style="display:block; margin-left:30%;"> Image</p>
                    </span>
                    </ion-col>
                    <ion-col size="6">
                        <span> <img (click)="chooseFileModal()" class="addFile" src="assets/imgs/AttachFile1.png" />
                            <p style="display:block; margin-left:-15%;">File</p>
                        </span>
                    </ion-col>
                    <!-- <ion-col size="4">
                        <span *ngIf="isDesktopApp">
                            <img class="screenCapture" src="assets/imgs/ScreenCapture1.png"
                                (click)="screenCapture(showExecutableText)" />
                            <p class="screenName" style="display:block; "> ScreenCapture</p>
                        </span>
                    </ion-col> -->
                </ion-row>
            </ion-col>

            <ion-col size="8">

                    <ion-card    class="w-100 text-cursor angular-textarea">
                            <ion-row *ngFor="let list of allEvidence; let i=index">                              
                                <ion-col size="6">                                   
                                    <ion-label>
                                        <a  class="view_evidence" (click)="openModal(list.FileContent, list.FileName)">{{list.FileName}}</a>    
                                </ion-label>
                                </ion-col>
                                <ion-col size="6">
                                    <button class="delete_evidence"  (click)="deleteAttachment(i, list)">Delete</button>                               
                                </ion-col>
                            </ion-row>
                    </ion-card>
            </ion-col>

        </ion-row>
       
    </div>

    <div *ngIf="showNewSection" class="detailView">
        <ion-grid *ngFor=" let list of sectionList.headers;let i = index">
         
            <ion-row class="detailRow">
                <ion-col size="4" class="detailLabel">
                   
                    <span [innerHTML]="(list.fieldlabel).replace('amp;','')"></span>
                </ion-col>

                <ion-col  size="8" *ngIf="list.ControlType == 'Drop Down'">
                    <ion-select class="form-control" [(ngModel)]="list.Value" placeholder="Select {{list.fieldlabel}}">
                        <ion-select-option *ngFor="let drop of list.ListItems">{{drop}}</ion-select-option>
                    </ion-select>
                </ion-col>

                <ion-col  size="8" *ngIf="list.ControlType == 'Text Box' || list.ControlType == 'Text Area'">
                    <ion-textarea class="myform" [(ngModel)]="list.Value"  placeholder="Enter {{list.fieldlabel}}"></ion-textarea> 
                
                </ion-col>

                <ion-col  size="8" *ngIf="list.ControlType == 'Radio Button'">
                    <ion-list>
                        <ion-radio-group>
                            <ion-item *ngFor="let radio of list.ListItems">
                                <ion-label>{{radio.name}}</ion-label>
                                <ion-radio value="radio.name" [(ngModel)]="radio.id" [checked]="radio.checked"
                                    (ionSelect)="radioChange($event,radio, list.fieldid)"></ion-radio>
                            </ion-item>
                        </ion-radio-group>
                    </ion-list>
                </ion-col>

                <ion-col  size="8" *ngIf="list.ControlType == 'Check Box'">
                    <ion-list>
                        <ion-item *ngFor="let check of list.ListItems">
                            <ion-label>{{check.name}}</ion-label>
                            <ion-checkbox  slot="end" checked="false" [(ngModel)]="check.checked"
                                (ionChange)="checkChange($event, check, list.fieldid)"></ion-checkbox>
                        </ion-item>
                    </ion-list>
                   
                </ion-col>
                <ion-col  size="8" *ngIf="list.ControlType == 'Date'">
                    <ion-datetime  [(ngModel)]="list.Value"  display-format="DD/MM/YYYY" picker-format="DD MMMM YYYY">
                    </ion-datetime>
                   <!-- <div *ngIf="hideDate">{{list.Value}}</div>  -->
                   <!-- <input type="date" [(ngModel)]="list.Value" (change)="changeDate(list.Value)" id="appt" name="appt" > -->
                </ion-col>

                <ion-col  size="8" *ngIf="list.ControlType == 'Time'">
                    <!-- <ion-datetime  [(ngModel)]="list.Value" (ionChange)="timeChange(this.list.Value)"  display-format="hh:mm-A"  picker-format="hh:mm A">
                    </ion-datetime> -->
                    <ion-datetime  [(ngModel)]="list.Value"   display-format="hh:mm-A"  picker-format="hh:mm A">
                    </ion-datetime>
                    <!-- {{list.Value}} -->
                    <!-- <div *ngIf="hideTime">{{list.Value}}</div>  -->
                </ion-col>

                <ion-col  size="8" *ngIf="list.ControlType == 'DateTime'">
                        <!-- <ion-datetime  [(ngModel)]="list.Value" (ionChange)="dateTimeChange(list.Value)" displayFormat="DD/MM/YYYY hh:mm A"  picker-format="D MMM YYYY h:mm A">
                        </ion-datetime> -->
                        <ion-datetime  [(ngModel)]="list.Value"  displayFormat="DD/MM/YYYY hh:mm A"  picker-format="D MMM YYYY h:mm A">
                        </ion-datetime>
                        <!-- <div *ngIf="hideDateTime">{{list.Value}}</div>  -->
                    </ion-col>

            </ion-row>
        
        </ion-grid>
    </div>

   
    <div class="button">
        <ion-button *ngIf="activityName == 'add'" class="submit" size="small" float-right (click)="saveElogData()">Save</ion-button>
        <ion-button *ngIf="activityName == 'edit'" class="submit" size="small" float-right (click)="editElogData()">Save</ion-button>
        <ion-button class="reset" size="small" float-right (click)="reset()">Reset</ion-button>
    </div>
</ion-content>


<!-- <div class="modal fade " id="electronicSignature" tabindex="-1" role="dialog"
        aria-labelledby="electronicSignatureLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content force-overflow">
                <div class="modal-header">
                    <h5 class="modal-title" id="electronicSignatureLabel">Electronic Signature</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div *ngIf="alertBox" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <p>Invalid Credentials!</p> -->
                        <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button> -->
                    <!-- </div>
                    <div col-6>
                        <label>Activity</label>
                    </div>
                    <div col-6>
                        <input class="form-control" disabled [(ngModel)]="activity" type="text" />
                    </div>
                    <div col-6>
                        <label>Date & Time</label>
                    </div>
                    <div col-6>
                        <input class="form-control" disabled [(ngModel)]="dateTime" type="text" />
                    </div>
                    <div col-6>
                        <label>Logged-in User</label>
                    </div>
                    <div col-6>
                        <input class="form-control" disabled [(ngModel)]="loggedIn" type="text" />
                    </div>
                    <div col-6>
                        <label>User Name</label>
                    </div>
                    <div col-6>
                        <input class="form-control" [(ngModel)]="userName" type="text" />
                    </div>
                    <div col-6>
                        <label>Password</label>
                    </div>
                    <div col-6>
                        <input class="form-control" style="padding-bottom:0px !important;padding-top:0px !important" [(ngModel)]="password" type="password" />
                    </div>
                    <ion-button class="okButton" size="small" (click)="checkElectSign(userName,password)">
                        <ion-icon name="thumbs-up"></ion-icon> Ok
                    </ion-button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <ion-button class="closeButton" size="small" (click)="closeEsignModal()">
                        <ion-icon name="close-circle"></ion-icon> Cancel
                    </ion-button>
                </div>
                <div class="modal-footer" *ngIf="EsignVerbiageText !=''">
                    <h5 class="modal-title modal-title-footer" id="electronicSignatureLabel">{{EsignVerbiageText}}</h5>       
                </div>
            </div>
        </div>
    </div>
 -->



<div class="modal fade" id="FileModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="FileModalLabel">File Selector</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="fileForm" #form (ngSubmit)="submitFile()">
                <!-- <div class="fileAttachName">
                    <label>Attachment Name &nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input type="text" name="filename" id="filename" (input)="areaChange()"
                        formControlName="fileName" maxlength="100" required
                        placeholder="Enter attachment Name">
                </div> -->
                <!-- <p class="alert alert-danger" *ngIf="fileForm.controls['fileName'].hasError('minlength')">
                    Your filename must be at least 1 characters long.
                </p>
                <p class="alert alert-danger" *ngIf="fileForm.controls['fileName'].hasError('maxlength')">
                    Your filename cannot exceed 100 characters.
                </p> -->
                <div class="fileIcon">
                        <!-- accept="image/*,application/*" -->
                    Select a file: &nbsp;&nbsp;&nbsp;&nbsp;
                    <input  type="file" id="file" required (change)="filechange($event)"
                         name="myFile">
                    <input type="hidden" name="fileHidden" formControlName="imageInput" /><br><br>
                    <p *ngIf="fileErrorMsg" class="alert alert-danger"> {{fileErrorMsg}}</p>
                    <button  type="submit" class="btn fileBtn primary_but">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<div class="modal fade" id="evidenceModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="imageModalLabel">{{modalImageName}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="imagePopup" *ngIf="imageFileData">
                <img [src]="imageFileData | sanitizeURL" />
            </div>
        </div>
    </div>
</div>
</div>

