
<!-- <ion-header id="elog">
    <ion-toolbar color="#226997">
        <ion-buttons slot="start">
            <ion-menu-button style="color:white">
            </ion-menu-button>
        </ion-buttons>
        <div class="main">
            <div class="pull-left ml-10"><img (click)="goHome()" src="assets/imgs/elog/elog_logo.jpg"></div>
            <div class="pull-right mt-15 mr-15">
                <i class="fa fa-qrcode barScanner" (click)="qrCodeScan()" aria-hidden="true"></i>
                <select class="mySelect" [(ngModel)]="siteId" id="orders" (change)="checkAuthorization(siteId)">
                    <option *ngFor="let list of siteList" [value]="list.SiteID"
                        [ngClass]="(list.siteID == siteId)?'optioncolor':'optionnocolor'"
                        [selected]="list.siteID == siteId">
                        {{list.Title}}
                    </option>
                </select>
            </div>
        </div>
    </ion-toolbar>
</ion-header> -->

<ion-header id="elog">
    <ion-toolbar *ngIf="appPlatform != 'IOS'" class="toolbar-md" color="#226997">
        <!-- <ion-buttons slot="start">
            <ion-icon class="back_arrow" (click)="goHome()" name="arrow-back"></ion-icon>
        </ion-buttons> -->

        <ion-buttons (click)="menuclick()" slot="start" >
			<ion-menu-button style="color:white">
					<img  class="elog_logo" src="assets/imgs/menu.png">
			</ion-menu-button>
			
		</ion-buttons>
        <div class="main">
            <div class="pull-left ml-10"><img (click)="goHome()" class="elog_logo" src="assets/imgs/elog/elog_logo.jpg"></div>
            
            <div class="pull-right mt-15 mr-15">
                    <i class="fa fa-qrcode barScanner" (click)="qrCodeScan()" aria-hidden="true"></i>
                <!-- <img (click)="getSiteDetails()" class="globeIcon"
                    src="assets/imgs/globe.gif" /> -->
                    <select class="mySelect" [(ngModel)]="siteId"  id="orders"  (change)="checkAuthorization(siteId)" >
                        <option *ngFor="let list of siteList" [value]="list.SiteID" [ngClass]="(list.siteID == siteId)?'optioncolor':'optionnocolor'" [selected]="list.siteID == siteId">
                                {{list.Title}}
                        </option>
                      </select>
                </div>
        </div>
    </ion-toolbar>
    <ion-toolbar *ngIf="appPlatform == 'IOS'" class="toolbar-ios" color="#226997">
        <ion-buttons slot="start">
            <ion-icon class="back_arrow" (click)="goHome()" name="arrow-back"></ion-icon>
        </ion-buttons>
        <div class="main">
            <div class="pull-left ml-10"><img (click)="goHome()" src="assets/imgs/elog/elog_logo.jpg"></div>
            <!-- <i class="fa fa-qrcode barScanner" (click)="qrCodeScan()" aria-hidden="true"></i> -->
            <div class="pull-right mt-15 mr-15">
                    <i class="fa fa-qrcode barScanner" (click)="qrCodeScan()" aria-hidden="true"></i>
                <img (click)="getSiteDetails()" class="globeIcon"
                    src="assets/imgs/globe.gif" /></div>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content id="elog" class="elog-task" padding >
        <div class="inner_body elog_dashboard_bg mb-0">
            <div class="dashboard_vcenter">
                <div class="row mt-50">
                    <i (click)="elogListClick('viewLog/enterEntity')" class="mt-50 btn dashboard_primary_but w-100 dashboard_but ">
                        <div class="col-sm-3 logo_icon"><img src="assets/imgs/elog/view-log-book-logo-medium.png"></div>
                        <div class="col-sm-7 menu_cont">
                            <p>View Log Book</p>
                        </div>
                        <div class="col-sm-2 arrow_icon"><img src="assets/imgs/green_right_arrow.png"></div>
                    </i>
                    <i (click)="elogListClick('elogTask/0')" class="mt-50 btn dashboard_primary_but w-100 dashboard_but ">
                        <div class="col-sm-3 logo_icon"><img src="assets/imgs/elog/task-list-logo-medium.png"></div>
                        <div class="col-sm-7 menu_cont">
                            <p>My Task List</p>
                        </div>
                        <div class="col-sm-2 arrow_icon"><img src="assets/imgs/green_right_arrow.png"></div>
                    </i>
                </div>
            </div>
        </div>
    </ion-content>
