
<ion-header id="profile">
		<ion-toolbar color="#226997">
			<ion-buttons slot="start">
					<ion-menu-button style="color:white">
						</ion-menu-button>
			</ion-buttons>
			<div class="main">
				<div class="pull-left ml-10"><img src="assets/imgs/New/logo.jpg"></div>
				<!-- <div class="pull-right mt-15 mr-15"><img (click)="getSiteDetails()" class="globeIcon"
						src="assets/imgs/world.png" /></div> -->
			</div>
		</ion-toolbar>
	</ion-header>
<ion-content>
	<div class="profileCard">
		<img class="profileImg" src="assets/imgs/profile.png" />
	</div>

	<table class="profileDetail">
			<tr>
					<td size="4">
						<div class="label-bold">User Name :</div>
					</td>
					<td>
						<div class="label-row">{{loginData.UserName}}</div>
					</td>
				</tr>
		<tr>
			<td size="4">
				<div class="label-bold">First Name :</div>
			</td>
			<td>
				<div class="label-row">{{loginData.FirstName}}</div>
			</td>
		</tr>
		<tr>
				<td size="4">
					<div class="label-bold">Last Name :</div>
				</td>
				<td>
					<div class="label-row">{{loginData.LastName}}</div>
				</td>
			</tr>
			<tr>
					<td size="4">
						<div class="label-bold">Full Name :</div>
					</td>
					<td>
						<div class="label-row">{{loginData.FullName}}</div>
					</td>
				</tr>
				<tr>
						<td size="4">
							<div class="label-bold">Title :</div>
						</td>
						<td>
							<div class="label-row">{{loginData.Title}}</div>
						</td>
					</tr>

		<tr>
			<td size="4">
				<div class="label-bold">Role :</div>
			</td>
			<td>
				<div class="label-row">{{loginData.RoleName}}</div>
			</td>
		</tr>
		<tr>
				<td size="4">
					<div class="label-bold">Department :</div>
				</td>
				<td>
					<div class="label-row">{{loginData.Department}}</div>
				</td>
			</tr>

		<tr>
			<td size="4">
				<div class="label-bold">E-mail :</div>
			</td>
			<td>
				<div class="label-row">{{loginData.EMailID}}</div>
			</td>
		</tr>
	</table>

<div class="modal fade" id="siteListModalProfile" tabindex="-1" role="dialog" aria-labelledby="siteListModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="siteListModalLabel">Site List</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeSiteModal()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<ion-item *ngFor="let list of siteList" (click)="checkAuthorization(list.SiteID)">
					<ion-label>
						{{list.Title}}
					</ion-label>
				</ion-item>
			</div>
		</div>
	</div>
</div>