#profile{ 
    ion-toolbar{
		position: relative;
		height: 70px;
	    background: var(--main-app-color) !important;
    }
}

.profileCard {
    height: 150px;
    width: 100%;
    background-color: #a0d9ff;
}

img.profileImg {
    display: block;
    margin: 0px auto;
    width: 100px;
    padding-top: 5%;
}

.profileDetail {
    margin: 20px;
    width:100%;
    height:50%;
    text-align: center;
    overflow:scroll;
}
// .profileDetail tr:nth-child(even){background-color: #989aa28c;}

.profileDetail tr:hover {background-color: #ddd;}
.label-bold{
    text-align: left; 
}
.label-row{
    text-align: left; 
}

ion-row{
    background-color: #ccc;
    margin: 10px;
}

ion-content {
    --ion-background-color: #f4f6fe;
    --overflow: hidden;
}