<ion-header id="captureForm">
    <ion-toolbar color="#226997">
        <ion-buttons slot="start">
            <!-- <ion-back-button style="color:white" defaultHref="/menu/home"></ion-back-button> -->
            <div class="pull-left ml-10">
                <img (click)="goBack()" class="elog_logo" src="assets/imgs/back.png">
            </div>
            <div style="color:white;">{{sectionName}}</div>
        </ion-buttons>
        <div class="main">
            <!-- <div class="pull-right mt-15 mr-15"><img routerLink="/menu" class="homeIcon" src="assets/imgs/home.png" /></div> -->
            <!-- <select class="mySelect" [(ngModel)]="siteId" id="orders" (change)="checkAuthorization(siteId)">
                <option *ngFor="let list of siteList" [value]="list.SiteID"
                    [ngClass]="(list.siteID == siteId)?'optioncolor':'optionnocolor'"
                    [selected]="list.siteID == siteId">
                    {{list.Title}}
                </option>
            </select> -->
            <ion-row style="float:right">
                <ion-col size="1">
                    <select class="mySelect" [(ngModel)]="siteId" id="orders" (change)="checkAuthorization(siteId)">
                        <option *ngFor="let list of siteList" [value]="list.SiteID" [ngClass]="(list.siteID == siteId)?'optioncolor':'optionnocolor'"
                            [selected]="list.siteID == siteId">
                            {{list.Title}}
                        </option>
                    </select>
                </ion-col>
            </ion-row>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content id="captureForm" padding>
    <div>
        <div class="tableHeader">
            <ion-grid>
                <ion-row class="labelHead">
                    <ion-col size="12">
                        HEADER
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div class="table-responsive-xs ">
            <table class="table1">
                <thead class="elogTaskHead">
                    <tr>
                        <th *ngFor="let header of sectionHead">
                            {{header.fieldlabel}}
                        </th>
                    </tr>
                </thead>
                <tbody class="elogTaskBody">
                    <!-- <tr *ngFor="let row of section.displayData;let i = index" (click)="editSection(section, i,section.headers.FormSectionId)"> -->
                    <!-- <td *ngFor="let col of row"><div *ngIf="col.fieldlabel === 'Evidence'" [innerHTML]="col.Value"></div><div *ngIf="col.fieldlabel != 'Evidence'">{{col.Value}}</div></td> -->
                    <tr>
                        <td *ngFor="let header of sectionHead" (click)="editHeaderDetails(header)">{{header.Value}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>



    <div *ngFor="let section of taskDetailSection">
        <div class="tableHeader">
            <ion-grid>
                <ion-row class="labelHead">
                    <ion-col size="12">
                        SECTION
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>

        <div class="table-responsive-xs">
            <table class="table">
                <thead class="elogTaskHead">
                    <tr>
                        <th>Action</th>
                        <th>#</th>
                        <th *ngFor="let header of section.headers">
                            <span *ngIf="header.fieldlabel != 'PerformedBy' && header.fieldlabel != 'VerifiedBy' ">{{header.fieldlabel.replace('amp;','')}}</span>
                            <span *ngIf="header.fieldlabel == 'PerformedBy'">Performed By</span>
                            <span *ngIf="header.fieldlabel == 'VerifiedBy'">Verified By</span>
                        </th>
                        <th>History</th>
                    </tr>
                </thead>
                <tbody class="elogTaskBody">
                    <tr *ngFor="let row of section.displayData;let i = index">
                        <td>
                            <a *ngIf="row[1] == ''" class="enter_link" (click)="editSection(section, i,section.FormSectionId,'add')">Enter</a>
                            <a *ngIf="row[1] != ''" class="enter_link" (click)="editSection(section, i,section.FormSectionId,'edit')">Edit</a>
                        </td>
                        <td>

                            {{i+1}}
                        </td>
                        <td *ngFor="let col of row">
                            <div *ngIf="col.fieldlabel === 'Evidence'">
                                <a *ngFor="let file of col.FileStream" class="enter_link" (click)="openImageModal(file,file.FileName)">{{file.FileName}} </a>
                            </div>
                            <!-- <div *ngIf="col.fieldlabel != 'Evidence'">{{col.Value}}</div> -->

                            <div *ngIf="col.fieldlabel != 'Evidence'">



                                <div *ngIf="((col.ControlType === 'Drop Down') || (col.ControlType === 'Text Box') || (col.ControlType === 'Radio Button') || (col.ControlType === 'Check Box') || (col.ControlType === 'NA')) ">
                                {{col.Value}}</div>
                                <div *ngIf="col.ControlType === 'Date' "> {{col.Value | date: 'dd/MM/yyyy'}}</div>
                                <div *ngIf="col.ControlType === 'DateTime' "> {{col.Value | date: 'dd/MM/yyyy hh:mm a' }}</div>

                                <div *ngIf="col.ControlType === 'Time' "> {{col.Value | date: 'hh:mm a'}}</div>

                            </div>
                        </td>
                        <td>
                            <a *ngIf="row[1] != ''" class="enter_link" (click)="viewHistory(section, i,section.FormSectionId)">View</a>
                            <p *ngIf="row[1] == ''">NA</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <div class="tableHeader">
            <ion-grid>
                <ion-row class="labelHead">
                    <ion-col size="12">
                        FOOTER
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>

        <div class="table-responsive-xs ">
            <table class="table1">
                <thead class="elogTaskHead">
                    <tr>
                        <th *ngFor="let footer of sectionFoot">{{footer.fieldlabel}}</th>
                    </tr>
                </thead>
                <tbody class="elogTaskBody">
                    <!-- <tr *ngFor="let row of section.displayData;let i = index" (click)="editSection(section, i,section.headers.FormSectionId)"> -->
                    <!-- <td *ngFor="let col of row"><div *ngIf="col.fieldlabel === 'Evidence'" [innerHTML]="col.Value"></div><div *ngIf="col.fieldlabel != 'Evidence'">{{col.Value}}</div></td> -->
                    <tr>
                        <td *ngFor="let footer of sectionFoot" (click)="editFooterDetails(footer)">{{footer.Value}}</td>
                    </tr>

                </tbody>


            </table>
        </div>
    </div>

    <!-- <div class="detailView">
        <ion-grid>
            <ion-row>
                <ion-col class="detailLabel">
                    Cleaning hold time required?
                </ion-col>
                <ion-col>
                    <input type="radio" value="Yes">Yes
                    <input type="radio" value="No">No
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid>
            <ion-row>
                <ion-col class="detailLabel">
                    Cleaning Hold Time
                </ion-col>
                <ion-col>
                    <ion-input value="24 Hrs"></ion-input>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid>
            <ion-row>
                <ion-col class="detailLabel">
                    Cleaning verified by
                </ion-col>
                <ion-col>
                    Mike
                </ion-col>
            </ion-row>
        </ion-grid>
    </div> -->
    <!-- button -->
    <!-- <div class="button">
        <ion-button class="submit" size="small" float-right>Submit</ion-button>
        <ion-button class="reset" size="small" float-right>Reset </ion-button>
    </div> -->
</ion-content>

<div class="modal fade" id="viewHistoryModal" tabindex="-1" role="dialog" aria-labelledby="viewHistoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewHistoryModalLabel">HISTORY</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeHistoryModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive-xs ">
                    <table class="table1">
                        <thead class="elogTaskHeadModal">
                            <tr>
                                <th *ngFor="let header of historyHeader | slice:2:60">{{header}}</th>

                            </tr>
                        </thead>
                        <tbody class="elogTaskBody">
                            <tr *ngFor="let history of historyDetail">
                                <td *ngFor="let data of history | slice:2:60">{{data}}
                                    <!-- <div *ngIf="col.fieldlabel === 'Evidence'">
                                    <a *ngFor="let file of col.FileStream" class="enter_link" (click)="openImageModal(file)">{{file.FileName}} </a>
                                </div>
                                <div *ngIf="col.fieldlabel != 'Evidence'">{{col.Value}}</div> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">{{modalImageName}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeImageModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="imagePopup" *ngIf="imageFileData">
                    <img [src]="imageFileData | sanitizeURL" />
                </div>
            </div>
        </div>
    </div>
</div>