#captureForm{
img.newLogo {
    width: 32px;
    float: right;
}
.green-color{
  color:#679436;
}


.redcolor{
    color:red;
}

.title {
    padding: 16px;
}

ion-toolbar{
    position: relative;
    height: 70px;
    background: #156aa1 !important;
}

@media only screen and (min-width: 516px) {

    .myTask{
        font-size: 1.2rem;
        font-weight: 600;
    }
}
@media only screen and (max-width: 515px) {

    .myTask{
        font-size: 1.0rem;
        font-weight: 600;
    }
}

img.homeIcon {
    width: 24px;
    margin-right: 15px;
    color:white;
}


img.globeIcon {
    width: 24px;
    margin-right: 15px;
}

.bar-main{
  margin-top:5px;
}
.labelHead {
    font-size: 13px;
padding: 6px;
font-weight: bold;
background-color: #cbe6f7;
}

.labelHead ion-icon {
    font-size: 24px;
}   

   
}

table, th, td {
    border: 1px solid #bbbbbb;
}

.table {
    font-size: 12px;
    overflow: auto;
     display: block;
     width: 100%;
     margin-bottom: 25px;
     table-layout: auto;    
}

.table1 {   
    font-size: 12px;
     overflow: auto;
     display: block;
    table-layout: auto;
    width: 100%;  
    margin-bottom: 25px;
}

.table1 td, th{
    padding: 0.75rem;
}

.elogTaskHead th {
            font-size: 12px;
        }
        .elogTaskHead tr {
            background-color: #ececec;
        }
        .elogTaskHeadModal tr {
            background-color: #cbe6f7;
        }    
               
        

ion-content {
    --ion-background-color: #f4f6fe;
}
.enter_link{
    color:#007bff !important;
    text-decoration: underline !important;

}
.modal-dialog {
    max-width: 95%;
    overflow: auto;
}
.modal-header {
    background-color: #156aa1 !important;
    color: white !important;
}
button.close {
    color: white !important;
}
.modal-content {
    border: 1px solid rgb(21, 106, 161);
}