<ion-header id="home">
	<ion-toolbar *ngIf="appPlatform != 'IOS'" class="toolbar-md" color="#226997">
		<ion-buttons (click)="menuclick()" slot="start" >
			<ion-menu-button style="color:white">
					<img  class="elog_logo" src="assets/imgs/menu.png">
			</ion-menu-button>
			
		</ion-buttons>
		<div class="main">
			<div class="pull-left ml-10 mt-0"><img src="assets/imgs/New/logo.jpg"></div>

			<div class="pull-right mt-15 mr-15">
				<!-- <img (click)="getSiteDetails()" class="globeIcon" src="assets/imgs/globe.gif" /> -->
				<!-- <ion-buttons slot="start"> -->
				<!-- <ion-button > -->
				<!-- 
								<ion-select class="mySelect" [interfaceOptions]="customAlertOptions" interface="alert"  (ionChange)="onTableChange($event)">
										<ion-select-option value="f">Fremont</ion-select-option>
										<ion-select-option value="m">Francisco </ion-select-option>
									</ion-select> -->
				<!-- </ion-button> -->
				<!-- </ion-buttons> -->
				<!-- <img class="globeIcon" src="assets/imgs/globe.gif">(click)="checkAuthorization(list.SiteID)" -->
				<!-- <ion-button (click)="getSiteDetails()"> -->
				<select class="mySelect" style="padding: 18px !important;" [(ngModel)]="siteId" id="orders" (click)="siteClick()" (change)="checkAuthorization(siteId)">
					<option *ngFor="let list of siteList" [value]="list.SiteID" class="selectvalue"
						[ngClass]="(list.siteID == siteId)?'optioncolor':'optionnocolor'"
						[selected]="list.siteID == siteId ">
						{{list.Title}}
					</option>
				</select>
				<!-- <ion-select [(ngModel)]="siteId" id="orders" (change)="checkAuthorization(siteId)">
					<ion-option *ngFor="let list of siteList" value="list.SiteID">{{list.Title}}</ion-option>
			   </ion-select> -->
				<!-- <ion-select [(ngModel)]="zone.kind">
					<ion-option *ngFor="#key of keys" value="{{key}}">{{values[key]}}</ion-option>
			   </ion-select> -->
				<!-- </ion-button> -->

			</div>
		</div>
	</ion-toolbar>

	<ion-toolbar  *ngIf="appPlatform == 'IOS'" class="toolbar-ios" color="#226997">
		<ion-buttons slot="start">
			<ion-menu-button style="color:white">
			</ion-menu-button>
		</ion-buttons>
		<div class="main">
			<div class="pull-left ml-10"><img src="assets/imgs/New/logo.jpg"></div>
			<div class="pull-right mt-15 mr-15">
				<select class="mySelect" [(ngModel)]="siteId" id="orders" (change)="checkAuthorization(siteId)">
					<option *ngFor="let list of siteList" [value]="list.SiteID"
						[ngClass]="(list.siteID == siteId)?'optioncolor':'optionnocolor'"
						[selected]="list.siteID == siteId">
						{{list.Title}}
					</option>
				</select>


			</div>
		</div>
	</ion-toolbar>
</ion-header>

<!-- <div>
	<ion-row>
		<ion-col size="6">
			<ion-button expand="full" [ngClass]="(button1Class)?'button-active':'tab-bar'" (click)="dashBtnClick()">
				DASHBOARD
			</ion-button>
		</ion-col>
		<ion-col size="6">
			<ion-button expand="full" [ngClass]="(button2Class)?'button-active':'tab-bar'"
				(click)="taskBtnClick('task')">
				MY TASK LIST
			</ion-button>
		</ion-col>
	</ion-row>
</div> -->

<ion-content id="home" padding>
	<div class="inner_body dashboard_bg mb-0">
		<div class="dashboard_vcenter">
			<div class="row mt-50">
				<div *ngIf="vlmsMenu == 'true'" (click)="homeListClick('task')" class="mt-50 btn dashboard_primary_but w-100 dashboard_but  fadeInDown">
					<div class="col-sm-3 logo_icon"><img src="assets/imgs/VLMS-logo-medium.png"></div>
					<div class="col-sm-7 menu_cont">
						<p>Validation Lifecycle Management System (VLMS)</p>
					</div>
					<div class="col-sm-2 arrow_icon"><img src="assets/imgs/green_right_arrow.png"></div>
				</div>
			 
				<div  *ngIf="eLogMenu == 'true'" (click)="homeListClick('elog')" class="mt-50 btn dashboard_primary_but w-100 dashboard_but  fadeInDown">
					<div class="col-sm-3 logo_icon"><img src="assets/imgs/elog-logo-medium.png"></div>
					<div class="col-sm-7 menu_cont">
						<p>Electronic Log (E-Log)</p>
					</div>
					<div class="col-sm-2 arrow_icon"><img src="assets/imgs/green_right_arrow.png"></div>
				</div>
			</div>
		</div>
	</div>
</ion-content>