#home{
    // ion-toolbar{
	// 	position: relative;
	// 	height: 70px;
	//     background: var(--main-app-color) !important;
    // }
    
    img.homeIcon {
        width: 240px;
        margin-right: 15px;
        color:var(--main-green-color);
    }

    img.globeIcon {
        width: 24px;
        margin-right: 15px;
    }

    img.validIcon {
        width: 22px;
        margin: 0px auto;
        display: block;
    }

    img.elogIcon {
        width: 30px;
        margin: 0px auto;
        display: block;
    }

    img.fwdIcon {
        width: 30px;
        border: 1px solid #fff;
        border-radius: 30px;
        padding: 5px;
    }

    .homeList{
        background-color: var(--main-app-color);
        color: #ffffff;
        padding: 10px;
        margin: 30px;
    }

    .centerDiv {
        position: relative;
        top: 25%;
    }

    .labelHome {
        font-size: 16px;
        font-weight: 600;
    }
}
.nav {
    display: block !important;
}
.tab-bar
{
    width:100%;
    height:55px;
    
}
select.focus select:focus{
    border:none;
    outline:none;
}

.banner img{
	width:0px;
}
@media only screen and (min-height: 700px) {
.banner img{
    width: 100%;
    height:165px;
    overflow: scroll;
}
}
@media only screen and (max-height: 584px) {

    .dashboard_vcenter {
        width: 80%;
        height:auto;
        position: absolute;
        top: 34% !important;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
    .dashboard_primary_but{
        background-color: rgba(255, 255, 255, 1);
        color: var(--main-green-color);
        transition: background-color 0.3s ease;
        padding: 0;
        border: none;
        width: 100%;
        height:126px;	
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
        box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
    }
    .dashboard_primary_but > .menu_cont p{	 
          
        margin: 0;
        position: absolute;
        width: 100%;
        top: 42%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 30px;
        text-align: left;
    }
}
@media only screen and (min-height: 900px) {

    .banner img{
        width: 100%;
        height:250px;
    }
}
@media only screen and (min-height: 1024px) {

    .banner img{
        width: 100%;
        height:300px;
    }
}
.button-active
{   width:100%;
    height:55px;
    border: 0px !important;
    border-bottom: 5.5px solid var(--main-green-color) !important;
}

.dashboard_vcenter {
    width: 80%;
    height:auto;
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.dashboard_primary_but{
	background-color: rgba(255, 255, 255, 1);
    color:  #156aa1;
    transition: background-color 0.3s ease;
    padding: 0;
    border: none;
    width: 100%;	
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
}

.dashboard_primary_but:hover{
	background-color: rgba(255, 255, 255, .8);
	color:  #156aa1;
}

.dashboard_primary_but > .logo_icon{
	background: #156aa1;
    border-radius: 8px 0 0 8px;
    font-size: 1.5rem;
    white-space: normal;
    line-height: 2rem;
    text-transform: capitalize;
    position: relative;
    margin-left: -12px;
}

.dashboard_primary_but >.logo_icon img{
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dashboard_primary_but > .menu_cont{
	font-size: 1.5rem;
    white-space: normal;
    line-height: 2rem;
    height: 150px;
    text-transform: capitalize;
    position: relative;
}
@media (max-width:576px){
.dashboard_primary_but > .menu_cont p{	 
    font-size:15px;    
	margin: 0;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    text-align: left;
}
}
 
.select-class{
    //border: 1px solid black;
    --border-radius: 5px;
    --color: var(--main-app-color) !important;
}


    .dashboard_primary_but > .menu_cont p{	    
        margin: 0;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 30px;
        text-align: left;
    }


.dashboard_primary_but > .arrow_icon{
	background: rgba(255, 255, 255, 1);
    border-radius: 8px 0 0 8px;
    position: relative;
}

.dashboard_primary_but >.arrow_icon img{
	position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-left: -14px;
    width:50px;
    height:50px;
}

.optioncolor{
	background-color:greenyellow !important;
 }

 .optionnocolor{
	background-color: white;
 }

 



ion-content {
    --ion-background-color: #f4f6fe;
    --overflow: hidden;
}
@media (min-width:360px){
    .dashboard_primary_but > .menu_cont p{	 
       // font-size:15px;    
        margin: 0;
        position: relative;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 30px;
        text-align: left;
    }
}
