<ion-app>
	<ion-split-pane>
		<ion-router-outlet [swipeGesture]="false" [animated]="true" main></ion-router-outlet>
	</ion-split-pane>
	<!-- <ion-tabs  *ngIf="isLogin">
			<ion-tab-bar class="footer-tab" slot="bottom">
					
			  <ion-tab-button class="tab-bar" (click)="homeClick()"  >
				<img *ngIf="!homeclass" src="assets/imgs/footer/home.svg" >
				<img *ngIf="homeclass" src="assets/imgs/footer/home_hover.svg" >
			  </ion-tab-button>

			  <ion-tab-button  class="tab-bar"   (click)="profileClick()" >
				<img *ngIf="!profileclass" src="assets/imgs/footer/user.svg">
				<img *ngIf="profileclass" src="assets/imgs/footer/user_hover.svg" >
			  </ion-tab-button>
				
			  <ion-tab-button  class="tab-bar"  (click)="settingsClick()">
				<img *ngIf="!settingsclass" src="assets/imgs/footer/setting.svg">
				<img *ngIf="settingsclass" src="assets/imgs/footer/setting_hover.svg">
			  </ion-tab-button>
		  
			  <ion-tab-button class="tab-bar" (click)="alertForLogout()" >
				<img *ngIf="!logoutclass" src="assets/imgs/footer/logout.svg">
				<img *ngIf="logoutclass" src="assets/imgs/footer/logout_hover.svg">
			  </ion-tab-button>

			</ion-tab-bar>
	</ion-tabs> -->
</ion-app>
<style>
	.tab-icon{
        color:#1b69a0;
	}
	.tab-barApply{
		color:#669235;
	}
	.tab-bar{
		background-color: ghostwhite;
	}
	.footer-tab{
		border-top: 2px solid  #6f7378;
	}
	.nav {
    display: block !important;
}


  

  ion-icon[class*="tab-icon"] {
	mask-image: url(assets/imgs/footer/home.svg);
	color:#1b69a0;
  }
  ion-icon[class*="tab-barApply"] {
	mask-image: url(assets/imgs/footer/home_hover.svg);
	color:#669235;
  }
  ion-icon[class*="custom-spades"] {
    mask-image: url(../assets/spades.svg);
  }


</style>