.settingForm {
    margin-top: 10%;
    padding: 30px;
    background-color: #ffffff !important;
    border-left: 5px solid #ffffff ;
}
// ion-toolbar{
//     position: relative;
//     height: 70px;
//     background: var(--main-app-color) !important;
// }
.bglogin{
    background-color: #ffffff;
}

.container {
    background-color: #f4f7ff;
}
.errormsg{
    color:red;
    text-align: center;
}
.reset-btn{
    float: right;
    width: 80px;
    margin-top: 20px;
    height: 35px;
    
}
.save-btn{
    float: right;
    width: 80px;
    margin-top: 20px;
    height: 35px;
    margin-left: 25px;
    -webkit-appearance: none;
}
.goBackButton{
    margin-top: 25px;
}

.form-setting{
    height: 50px;
    border: 1px solid #4e4c4c;
    border-radius: 10px;
}

ion-list {
    border-radius: 42px;
    border: 1px solid #a4cbf7;
}

ion-item[_ngcontent-c1] {
    font-size: 0.9em;
    --inner-border-width: 0px;
}
@media(min-width:360px){
    .Resart-btn{
   margin-left:30px ;
}
}
@media(min-width:600px){
    .Resart-btn{
   margin-left:240px ;
}
}