<ion-header>
    <ion-toolbar *ngIf="appPlatform != 'IOS'" class="toolbar-md" color="#226997">
            <ion-buttons slot="start">
<div class="pull-left ml-10"><img (click)="goBack()" class="elog_logo" src="assets/imgs/back.png"></div>


                    <!-- <ion-back-button style="color:white" routerLink="/login"></ion-back-button> -->
                </ion-buttons>
        <div class="main">
                <div class="pull-left"><img src="assets/imgs/New/logo.jpg"></div>
       </div>
    </ion-toolbar>

    <ion-toolbar *ngIf="appPlatform == 'IOS'" class="toolbar-ios" color="#226997">
        <ion-buttons slot="start">
                <!-- <ion-back-button style="color:
                    
                    white" routerLink="/login"></ion-back-button> -->
            </ion-buttons>
    <div class="main">
            <div class="pull-left"><img src="assets/imgs/New/logo.jpg"></div>
  </div>
</ion-toolbar>
</ion-header>


<ion-content class="bglogin " >
<div class=" col-12 col-sm-12  col-md-12  col-xl-12 ">
    <div class="settingForm">
        <form [formGroup]="settingUrlForm" (ngSubmit)="setUrl()">
            <div class="form-group ">
                    <label for="usr">Enter the URL</label>
                    <input type="text" (keydown.space)="$event.preventDefault()" class="form-control form-setting" formControlName="settingUrl" [(ngModel)]="settingUrl" required>
                  </div>
            <ion-button  [disabled]="!settingUrlForm.valid" class="save-btn" type="submit" >Save</ion-button>
            <ion-button  class="reset-btn" (click)="resetURL()">Reset</ion-button>
        </form>
        <p class="errormsg">{{errorMessage}}</p>
    </div>
</div>
</ion-content>