#viewLog{
    ion-toolbar{
        height: 70px; 
        background-color:#ffffff !important;
        position: relative;
    }
    
    img.homeIcon {
        width: 24px;
        margin-right: 15px;
    }

    img.globeIcon {
        width: 24px;
        margin-right: 15px;
    }

    img.enterEntity {
        width: 35px;
        margin: 0px auto;
        display: block;
    }

    img.scanQR {
        width: 24px;
        margin: 0px auto;
        display: block;
    }

    img.fwdIcon {
        width: 30px;
        border: 1px solid #fff;
        border-radius: 30px;
        padding: 5px;
    }

    .homeList{
        background-color: #1b69a1;
        color: #ffffff;
        padding: 10px;
        margin: 30px;
    }

    .centerDiv {
        position: relative;
        top: 25%;
    }

    .labelHome {
        font-size: 16px;
        font-weight: 600;
    }
}

ion-content {
    --ion-background-color: #f4f6fe;
    --overflow: hidden;
}
