<ion-header id="viewLog">
    <ion-toolbar color="#226997">
        <ion-buttons slot="start">
            <!-- <ion-back-button color="primary"></ion-back-button> -->
            <div class="pull-left ml-10"><img (click)="goBack()" class="elog_logo" src="assets/imgs/back.png"></div>
        </ion-buttons>
        <ion-title>
            <img routerLink="/menu" alt="logo" width="100px" height="40" src="assets/imgs/loginLogo.png" />
        </ion-title>
        <ion-buttons slot="end">
            <img routerLink="/menu" class="homeIcon" src="assets/imgs/home.png" />
            <!-- <img (click)="getSiteDetails()" class="globeIcon" src="assets/imgs/globe.png" /> -->
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content id="viewLog" padding>
    <div class="centerDiv">
        <ion-row align-items-center class="homeList" (click)="viewLogListClick('enterEntity')">
            <ion-col size="2">
                <img class="enterEntity" src="assets/imgs/enterEntity.png" />
            </ion-col>
            <ion-col size="8">
                <ion-label class="labelHome">Enter Entity</ion-label>
            </ion-col>
            <ion-col size="2">
                <img class="fwdIcon" src="assets/imgs/forward.png" float-right />
            </ion-col>
        </ion-row>

        <ion-row align-items-center class="homeList" (click)="viewLogListClick('scan')">
            <ion-col size="2">
                <img class="scanQR" src="assets/imgs/scanQR.png" />
            </ion-col>
            <ion-col size="8">
                <ion-label class="labelHome">Scan QR Code</ion-label>
            </ion-col>
            <ion-col size="2">
                <img class="fwdIcon" src="assets/imgs/forward.png" float-right />
            </ion-col>
        </ion-row>
    </div>
</ion-content>

<div class="modal fade" id="siteListModalViewLog" tabindex="-1" role="dialog" aria-labelledby="siteListModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="siteListModalLabel">Site List</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeSiteModal()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<ion-item *ngFor="let list of siteList" (click)="checkAuthorization(list.SiteID)">
					<ion-label>
						{{list.Title}}
					</ion-label>
				</ion-item>
			</div>
		</div>
	</div>
</div>