#task{

    img.newLogo {
        width: 32px;
        float: right;
    }
    .green-color{
      color:var(--main-green-color);
    }

    @media only screen and (min-width: 516px) {

    .myTask{
        font-size: 16px;
        font-weight: 600;
    }
}
@media only screen and (max-width: 515px) {

    .myTask{
        font-size: 1.0rem;
        font-weight: 600;
    }
}
    .redcolor{
        color:red;
    }

    .title {
        padding: 16px;
    }
    
    ion-toolbar{
		position: relative;
		height: 70px;
	    background: var(--main-app-color) !important;
    }
    
    img.homeIcon {
        width: 24px;
        margin-right: 15px;
        color:var(--main-green-color);
    }
    img.filterIcon {
        width: 45px;
        float: right;
       
    }
    img.downloadIcon {
        width: 50px;
        margin-top: 20px;
       
    }
    img.newTaskIcon {
        padding: 6px;
        margin: 13px 0 0 20px;
       
    }
 
    img.globeIcon {
        width: 24px;
        margin-right: 15px;
        margin-top: -4px;
    }

    img.validIcon {
        width: 22px;
        margin: 0px auto;
        display: block;
    }

    img.elogIcon {
        width: 30px;
        margin: 0px auto;
        display: block;
    }

    img.fwdIcon {
        width: 30px;
        border: 1px solid #fff;
        border-radius: 30px;
        padding: 5px;
    }

    .homeList{
        background-color: var(--main-app-color);
        color: #ffffff;
        padding: 10px;
        margin: 30px;
    }
     .card_ion{
        height: 90px;
        margin-bottom: 25px;
        border: 0.4px solid var(--main-gray-color);
        box-shadow: none;
        background-color: white;
         
     }
     .inner_body1 h4{
        text-align: center;
        color: var(--main-green-color);
    
     }
     .inner_body1{
        // margin-bottom:20%;
     }
     .card_content{
        margin-top: 6px !important;
     }
    .centerDiv {
        position: relative;
        top: 25%;
    }

    .labelHome {
        font-size: 16px;
        font-weight: 600;
    }
    .bar-main{
      margin-top:5px;
    }
}
.nav {
    display: block !important;
}
.tab-bar
{
    width:100%;
    height:55px;
    
}
.button-active
{   width:100%;
    height:55px;
    border: 0px !important;
    border-bottom: 5.5px solid var(--main-green-color) !important;
}
ion-content {
    --ion-background-color: #f4f6fe;
}

.sc-ion-searchbar-md-h, .sc-ion-searchbar-ios-h{
    --background: #ffffff;
}
.header_input{
   width:98%;
   color:white;
   ion-searchbar{
       border:1px solid white;
       border-radius: 5px;
       margin-top: 3px;
   }
}
.exeTable{
    font-size:1rem
 }


@media (min-width: 360px) and (max-width: 500px) {
    .button-inner.sc-ion-back-button-md {
        
        margin-top: 13px;
        margin-top: 8px;
    }
     .tasktitle{
        
        margin-top: 7%;
        font-size: 12px;
    }
    // .header_input {
    //     margin-top: 0px;
    //     margin-top: 11px;
    //     width: 118px;
    //     line-height: 12px;
    //     padding-inline-start: 34px;
    //     padding-inline-end: 0px;
    // }
    .searchbar-input.sc-ion-searchbar-md {
        margin-top: 0px;
        margin-top: 11px;
        width: 118px;
        line-height: 12px;
        padding-inline-start: 34px;
        padding-inline-end: 0px;
    }
 
    
    .mySelect {
       margin-top: 8px;
       margin-left: -14px;
       
    }
    img.globeIcon {
        width: 24px !important;
        margin-right: 23px !important;
         margin-top: -5px !important;
    }
    .tab-bar {
        width: 100% ;
        height: 55px ;
        font-size: 12px ;
    }
    .pull-left{

        margin-top: 10px;
    }
   
     img.downloadIcon {
        width: 43px;
        margin-top: 20px;
        margin-left: -1px;
    }
    img.newTaskIcon {
        
        margin-left: -6px !important;
    }

    .myTask{
        font-size: 12px !important;
       
    }
    .redcolor {
      
        font-size: 12px !important;
        
    }
    .exeTable {
        font-size: 12px !important;
    }


 }

 .circle {
    height: 8px;
    width: 8px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    float: right;
    margin-top: 33px;
    margin-right: -27px;


  }

 
