<ion-header id="task">
	<ion-toolbar *ngIf="appPlatform != 'IOS'" class="toolbar-md" color="#226997">

		<ion-buttons slot="start">
			<ion-menu-button (click)="menuClicked()" style="color:white">
					<img  class="elog_logo" src="assets/imgs/menu.png">
			</ion-menu-button>

			
		</ion-buttons>


		<div class="bar-main">
			<ion-row>
				<ion-col size="4">
					<div class="pull-left ml-10"><img (click)="goHome()" src="assets/imgs/New/logo.jpg"></div>
				</ion-col>
				<ion-col size="6">
					<div *ngIf="enableSearchbar" class="header_input">
						<ion-searchbar [(ngModel)]="searchTerm" #searchId (ionChange)="setFilteredItems()"
							placeholder="Search..."></ion-searchbar></div>
				</ion-col>
				
				<ion-col size="1">
					<div class="pull-right mt-15 mr-15"><img (click)="getSearchbar()" class="globeIcon"
							src="assets/imgs/search.jpg" /></div>
				</ion-col>
				<ion-col size="1">
					<select class="mySelect" [(ngModel)]="siteId"  id="orders"  (change)="checkAuthorization(siteId)" >
						<option *ngFor="let list of siteList" [value]="list.SiteID" [ngClass]="(list.siteID == siteId)?'optioncolor':'optionnocolor'" [selected]="list.siteID == siteId">
								{{list.Title}}
						</option>
					  </select>
				</ion-col>
			</ion-row>
		</div>

	</ion-toolbar>

	<ion-toolbar *ngIf="appPlatform == 'IOS'" class="toolbar-ios" color="#226997">

		<ion-buttons slot="start">
			<ion-menu-button style="color:white">
			</ion-menu-button>
		</ion-buttons>


		<div class="bar-main">
			<ion-row>
				<ion-col size="4">
					<div class="pull-left ml-10"><img (click)="goHome()" src="assets/imgs/New/logo.jpg"></div>
				</ion-col>
				<ion-col size="6">
					<div *ngIf="enableSearchbar" class="header_input">
						<ion-searchbar [(ngModel)]="searchTerm" autofocus="true" #searchId (ionChange)="setFilteredItems()"
							placeholder="Search..."></ion-searchbar></div>
				</ion-col>
				
				<ion-col size="1">
					<div class="pull-right mt-15 mr-15"><img (click)="getSearchbar()" class="globeIcon"
							src="assets/imgs/search.jpg" /></div>
				</ion-col>
				<ion-col size="1">
					<select class="mySelect" [(ngModel)]="siteId"  id="orders"  (change)="checkAuthorization(siteId)" >
						<option *ngFor="let list of siteList" [value]="list.SiteID" [ngClass]="(list.siteID == siteId)?'optioncolor':'optionnocolor'" [selected]="list.siteID == siteId">
								{{list.Title}}
						</option>
					  </select>
				</ion-col>
			</ion-row>
		</div>

	</ion-toolbar>
</ion-header>

<!-- <div>
	<ion-row>
		<ion-col size="6">
			<ion-button expand="full" [ngClass]="(button1Class)?'button-active':'tab-bar'" (click)="dashBtnClick()">
				DASHBOARD
			</ion-button>
		</ion-col>
		<ion-col size="6">
			<ion-button expand="full" [ngClass]="(button2Class)?'button-active':'tab-bar'" (click)="taskBtnClick()">
				MY TASK LIST({{executionList.length}} NOS.)
			</ion-button>
		</ion-col>
	</ion-row>
</div> -->

<ion-content id="task" [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
			refreshingText="Refreshing...">
		</ion-refresher-content>
	</ion-refresher>

	<ion-grid class="title">
		<ion-row>
			<ion-col>
				<span class="myTask ">My Task List ({{executionList.length}}) </span><span>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</span>
				<span class="redcolor">{{noofNewTask}}</span>
				<span class="exeTable"> New Task</span>
			</ion-col>
			<ion-col>
				<img (click)="taskFilter()" class="filterIcon" src="assets/imgs/filter_img.png">
				<span *ngIf="filterAvailable" class="circle"></span>
			</ion-col>
		</ion-row>
	</ion-grid>
	


	<div class="inner_body1">
		
        <ion-row *ngIf="executionListLength">
			<span style='margin:auto;font-size: x-large;'>No Task to display</span>
		</ion-row>

		<ion-card class="card_ion effect5"  *ngFor="let list of executionList;let i = index;">
		<!-- <ion-card class="card_ion effect5" *ngIf="appPlatform == 'IOS'" *ngFor="let list of executionList;let i = index;"> -->
			<ion-row >
				 
				<ion-col size="2" (click)="taskDetails(list.doc.ExeID, list.doc.statusPull)">
					<ion-avatar item-start>
						<img *ngIf="list.doc.NewTaskStatus === 1" class="newTaskIcon" src="assets/imgs/task_new.jpg">
						<img *ngIf="list.doc.NewTaskStatus === 0" class="newTaskIcon" src="assets/imgs/task_open.jpg">
					</ion-avatar>
				</ion-col>
				<ion-col size="8" (click)="taskDetails(list.doc.ExeID, list.doc.statusPull)">
					<ion-card-content  class="card_content  "
						>
						<ion-card-subtitle class="green-color">
							{{list.doc.ValDocCode}} <span *ngIf="list.doc.TaskID != null"> -
								({{list.doc.TaskID}})</span>
						</ion-card-subtitle>
						<ion-grid no-padding>
							<ion-row>
								<ion-col size="11" class="block-with-text">
									<b [innerHTML]="list.doc.Title"></b>
								</ion-col>
							</ion-row>
						</ion-grid>
					</ion-card-content>
				</ion-col>
			
				<ion-col size="2">
					<div *ngIf="list.doc.statusPull">
						<img class="downloadIcon" src="assets/imgs/task_refresh.png"
							(click)="pushToServer(list.doc.ExeID)">
					</div>
					<div *ngIf="!list.doc.statusPull">
						<img class="downloadIcon" src="assets/imgs/task_download.png"
							(click)="pullFromServer(list.doc.ExeID, list.doc.Mapped)">
					</div>
				</ion-col>
			</ion-row>
		<!-- </ion-card> -->
		</ion-card>
	</div>
</ion-content>
