#elogTask{

    img.newLogo {
        width: 32px;
        float: right;
    }
    .green-color{
      color:var(--main-green-color);
    }
    .back_arrow{
        width: 50px;
    height: 30px;
    color: white;
    }

    @media only screen and (min-width: 516px) {

    .myTask{
        font-size: 1rem;
        font-weight: 600;
    }
}
@media only screen and (max-width: 515px) {

    .myTask{
        font-size: 1.0rem;
        font-weight: 600;
    }
}
    .redcolor{
        color:red;
    }

    .title {
        padding: 16px;
    }
    
   
    
    img.homeIcon {
        width: 24px;
        margin-right: 15px;
        color:var(--main-green-color);
    }
    img.filterIcon {
        width: 37px;
        float: right;
       
    }
    img.downloadIcon {
        width: 50px;
        margin-top: 20px;
        margin-left: 20px;
       
    }
    img.newTaskIcon {
        padding: 6px;
        margin: 13px 0 0 20px;
       
    }
 
    img.globeIcon {
        width: 24px;
        margin-right: 15px;
    }

    img.validIcon {
        width: 22px;
        margin: 0px auto;
        display: block;
    }

    img.elogIcon {
        width: 30px;
        margin: 0px auto;
        display: block;
    }

    img.fwdIcon {
        width: 30px;
        border: 1px solid #fff;
        border-radius: 30px;
        padding: 5px;
    }

    .homeList{
        background-color: var(--main-app-color);
        color: #ffffff;
        padding: 10px;
        margin: 30px;
    }
     .card_ion{
        height: 90px;
        margin-bottom: 25px;
        border: 0.4px solid #a5a2a2;
        background-color: white;
       /* border-left: 6px solid orangered; */
   // border-right: 6px solid orangered;
         
     }
     .inner_body1 h4{
        text-align: center;
        color: var(--main-green-color);
    
     }
     .card_content{
        margin-top: 6px !important;
     }
    .centerDiv {
        position: relative;
        top: 25%;
    }

    .labelHome {
        font-size: 16px;
        font-weight: 600;
    }
    .bar-main{
      margin-top:5px;
    }
}
.nav {
    display: block !important;
}
.tab-bar
{
    width:100%;
    height:55px;
    
}
.button-active
{   width:100%;
    height:55px;
    border: 0px !important;
    border-bottom: 5.5px solid var(--main-green-color) !important;
}
ion-content {
    --ion-background-color: #f4f6fe;
}

.sc-ion-searchbar-md-h, .sc-ion-searchbar-ios-h{
    --background: #ffffff;
}
.header_input{
   width:98%;
   color:white;
   ion-searchbar{
       border:1px solid white;
       border-radius: 5px;
       margin-top: 3px;
   }
   
}
.forwordIcon{
    width: 30px;
    margin-top: 30px;
    margin-left: 30px;
}
.label_log_type_pending {
    text-align: center;
    text-transform: uppercase;
    font-size: .7rem;
    color: var(--main-app-color);;
    font-weight: bold;
    display: inline-grid;
    float: right;
    padding: 0.5% 3%;
    width: 20%;
  }

  .modal-body{
    overflow: scroll;
    text-overflow: ellipsis; 
  }

  .filterButton{
    margin-top: 13px;
    padding: 15px 20px 0px 20px;
   // border-top: 0.3px solid grey;
}
.sectionRow{
    padding: 10px;
    font-weight: bold;
    color: black;
    background-color: #f1f1f1;
    margin-bottom: 10px;
    border-radius: 13px;
}
.filterReset{
    float: left;
}
.lockedby{
    display: inline-block;
    width: 125px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
   // border: 1px solid gray;
    border-radius: 5px;
    --background: gray;
    text-align: center;
  
}

.lockedby .tooltiptext {
    visibility: hidden;
    width: 200%;
    background-color: white;
    color: black;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 10%;
    margin-left: -60px;
  }
  
  .lockedby:hover .tooltiptext {
    visibility: visible;
  }
.filterApply{
    float: right;
    --background: var(--main-green-color);
}
.sectionNameRow{
   // border-right:1px solid grey;
   display: inline-block;
   width: 125px;
   white-space: nowrap;
   overflow: hidden !important;
   text-overflow: ellipsis;
   padding-right: 20px;
   
}

.qrcode
{
    font-size: 30px;
    float: right;
    margin-right: 25px;
}

.TaskInfoIcon{
    width: 60%;
    margin: 20px 0 0 20px;
}
.mySelect {
    float:right !important;
	
 }
 