<ion-header id="elogTask">
		<ion-toolbar *ngIf="appPlatform != 'IOS'" class="toolbar-md" color="#226997">
					<ion-buttons slot="start">
							<!-- <ion-icon class="back_arrow" (click)="goBack()" name="arrow-back"></ion-icon> -->
							<div class="pull-left ml-10"><img (click)="goBack()" class="elog_logo" src="assets/imgs/back.png"></div>
							<div class="pull-left ml-10"><img (click)="goHome()" src="assets/imgs/New/logo.jpg"></div>
						</ion-buttons>
			
			<div class="bar-main">
				<ion-row>
					<ion-col size="4">
						<!-- <div class="pull-left ml-10"><img src="assets/imgs/New/logo.jpg"></div> -->
					</ion-col>
					<ion-col size="6">
							<div *ngIf="enableSearchbar" class="header_input">
									<ion-searchbar [(ngModel)]="searchTerm" autofocus="true" #searchId (ionChange)="setFilteredItems()"
										placeholder="Search..."></ion-searchbar></div>

										
					</ion-col>
					<ion-col size="1">
							<div class="pull-right mt-15 mr-15"><img (click)="getSearchbar()" class="globeIcon"
								src="assets/imgs/search.jpg" /></div>
					</ion-col>
					<ion-col size="1">
						<!-- <div class="pull-right mt-15 mr-15"><img (click)="getSiteDetails()" class="globeIcon"
								src="assets/imgs/globe.gif" /></div> -->

								<select class="mySelect" [(ngModel)]="siteId" id="orders" (change)="checkAuthorization(siteId)">
										<option *ngFor="let list of siteList" [value]="list.SiteID"
											[ngClass]="(list.siteID == siteId)?'optioncolor':'optionnocolor'"
											[selected]="list.siteID == siteId">
											{{list.Title}}
										</option>
									</select>
					</ion-col>
				</ion-row>
			</div>
	
		</ion-toolbar>

		<ion-toolbar *ngIf="appPlatform == 'IOS'" class="toolbar-ios" color="#226997">
				<ion-buttons slot="start">
						<ion-icon class="back_arrow" (click)="goBack()" name="arrow-back"></ion-icon>
						<div class="pull-left ml-10"><img (click)="goHome()" src="assets/imgs/New/logo.jpg"></div>
					</ion-buttons>
		
		<div class="bar-main">
			<ion-row>
				<ion-col size="4">
					<!-- <div class="pull-left ml-10"><img src="assets/imgs/New/logo.jpg"></div> -->
				</ion-col>
				<ion-col size="6">
						<div *ngIf="enableSearchbar" class="header_input">
								<ion-searchbar [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()"
									placeholder="Search..."></ion-searchbar></div>
				</ion-col>
				<ion-col size="1">
						<div class="pull-right mt-15 mr-15"><img (click)="getSearchbar()" class="globeIcon"
							src="assets/imgs/search.jpg" /></div>
				</ion-col>
				<ion-col size="1">
					<!-- <div class="pull-right mt-15 mr-15"><img (click)="getSiteDetails()" class="globeIcon"
							src="assets/imgs/globe.gif" /></div> -->

							<select class="mySelect" [(ngModel)]="siteId" id="orders" (change)="checkAuthorization(siteId)">
									<option *ngFor="let list of siteList" [value]="list.SiteID"
										[ngClass]="(list.siteID == siteId)?'optioncolor':'optionnocolor'"
										[selected]="list.siteID == siteId">
										{{list.Title}}
									</option>
								</select>
				</ion-col>
			</ion-row>
		</div>

	</ion-toolbar>
	</ion-header>
	
	<!-- <div>
		<ion-row>
			<ion-col size="6">
				<ion-button expand="full" [ngClass]="(logBookButton)?'button-active':'tab-bar'" (click)="logBookBtnClick()">
					LOG BOOK
				</ion-button>
			</ion-col>
			<ion-col size="6">
				<ion-button expand="full" [ngClass]="(taskListButton)?'button-active':'tab-bar'" (click)="taskListBtnClick()">
					MY TASK LIST({{elogTaskList.length}} NOS.)
				</ion-button>
			</ion-col>
		</ion-row>
	</div> -->

           
<ion-content id="elogTask" [scrollEvents]="true">
		<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
				<ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
					refreshingText="Refreshing...">
				</ion-refresher-content>
			</ion-refresher>
		
			<ion-grid class="title">
				<ion-row>
					<ion-col>
						<span class="myTask">My Task List({{elogTaskList.length}} NOS.)</span><span>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="redcolor">{{noofNewTask}}</span><span style="font-size:1rem"> New Tasks</span>
					</ion-col>
					<ion-col>
						<img class="filterIcon" src="assets/imgs/filter.png" (click)="elogFilter($event)">
						<i class="qrcode fa fa-qrcode barScanner" (click)="qrCodeScan()" aria-hidden="true"></i>
					</ion-col>
				</ion-row>
			</ion-grid>

			<div class="inner_body1">
		
					<ion-card *ngIf="elogTaskListLength">
							<h4>No Task to display</h4>
						</ion-card>
			
					<ion-card class="effect5 card_ion" *ngFor="let list of elogTaskList;let i = index;">
						<ion-row>
							<ion-col size="1">
								<ion-avatar item-start>
									<img *ngIf="list.doc.IsNew == 1" class="newTaskIcon" src="assets/imgs/task_new.jpg">
									<img *ngIf="list.doc.IsNew == 0" class="newTaskIcon" src="assets/imgs/task_open.jpg">
									
								</ion-avatar>
							
								<!-- <button class="btn btn-danger" trigger="click"  title={{list.doc.CaptureNo}}  (click)="toolView()">Details</button> -->
							</ion-col>
							<ion-col size="1">
								<img  class="TaskInfoIcon" (click)="taskInfo( list.doc,$event)" src="assets/imgs/elog/information_icon.png">
							</ion-col>
							<ion-col size="8">
								<ion-card-content  class="card_content"
								(click)="elogTaskDetail(list.doc.ID,list.doc.statusPull,list.doc)">
								
									<ion-card-subtitle data-toggle="tooltip" trigger="click"  title={{list.doc.CaptureNo}} class="green-color ">
											{{list.doc.CaptureNo}}
											
													<span > <div class="label_log_type_pending rounded-lg">{{list.doc.Activity}}</div>
													</span>
														
									</ion-card-subtitle>
									<ion-grid style="padding:0px !important;">
										<ion-row>
											<ion-col size="11"  class="block-with-text" data-toggle="tooltip"  title={{list.doc.FormName}}>
												<b>{{list.doc.FormName}}<span>(</span>{{list.doc.LogFormId}}<span>)</span></b>
											</ion-col>
										</ion-row>
									</ion-grid>
								</ion-card-content>
                            
								
							</ion-col>
							<ion-col size="2">
									
								<div *ngIf="list.doc.statusPull && (list.doc.Activity == 'Capture Log Data' || list.doc.Activity == 'Reinitiate Log Data') ">
									<img class="downloadIcon" src="assets/imgs/task_refresh.png"
										(click)="pushToServer(list.doc.ID, list)">
								</div>
								<div *ngIf="!list.doc.statusPull && (list.doc.Activity == 'Capture Log Data' || list.doc.Activity == 'Reinitiate Log Data')">
									<img class="downloadIcon" src="assets/imgs/task_download.png"
										(click)="sectionListPopup(list.doc.ID,list.doc)">
								</div>
								<div *ngIf="(list.doc.Activity == 'Verify Log Data' || list.doc.Activity == 'Approve Log Data') ">
										<img (click)="elogTaskDetail(list.doc.ID,list.doc.statusPull,list.doc)" class="forwordIcon" src="assets/imgs/forward.png">
									</div>
							</ion-col>
						</ion-row>
					</ion-card>
					<!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
							<ion-infinite-scroll-content *ngIf="!disableMoreData"
							  loadingSpinner="bubbles"
							  loadingText="Loading more data...">
							</ion-infinite-scroll-content>
							<ion-infinite-scroll-content *ngIf="disableMoreData"
							 
							  loadingText="No More Data...">
							</ion-infinite-scroll-content>
						  </ion-infinite-scroll> -->
				</div>

    <!-- <ion-card *ngFor="let list of elogTaskList;let i = index;">
		<ion-card-header>
			<ion-card-subtitle (click)="elogTaskDetail(list.doc.ID,list.doc.statusPull)">{{list.doc.Title}}</ion-card-subtitle>
		</ion-card-header>
		<ion-card-content>
			<ion-grid no-padding> 
				<ion-row>
					<ion-col size="11" (click)="elogTaskDetail(list.doc.ID,list.doc.statusPull)">
						{{list.doc.FormName}} - {{list.doc.LogType}} - {{list.doc.Activity}}  - {{list.doc.checkDateStatus}}
 					</ion-col>
					<ion-col size="1" *ngIf="list.doc.statusPush">
						<ion-icon (click)="pushToServer(list.doc.ID)" class="iconButton" name="arrow-round-up"></ion-icon>
					</ion-col>
					<ion-col size="1" *ngIf="!list.doc.statusPull">
						<ion-icon class="iconButton" (click)="pullFromServer(list.doc.ID)"  name="arrow-round-down"></ion-icon>
					</ion-col>
				</ion-row>
			</ion-grid> 
		</ion-card-content>
	</ion-card> -->
</ion-content>



<div class="modal fade" id="sectionListModal" tabindex="-1" role="dialog" aria-labelledby="sectionList" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="siteListModalLabel">Section List</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeSectionModal()">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
						<ion-grid>
								<ion-row class="sectionRow" *ngFor="let list of sectionList">
								   <ion-col class="sectionNameRow" size="9">
                                    {{list.SectionName}}
								   </ion-col>
								   <ion-col size="3">
                                       <ion-button *ngIf="list.LockedStatus == 'UnLocked'" (click)="lockSection(list.LMlogDataSectionID,list.LmEntityPartID)" >
										   Accept
									   </ion-button>
									   <label class="lockedby" *ngIf="list.LockedStatus == 'Locked'" >
											{{list.LockedBy }}
											<!-- <span class="tooltiptext">{{list.LockedBy }}</span> -->
									   </label>
									</ion-col>
								</ion-row>
						</ion-grid>
						<ion-row class="filterButton">
								<ion-col size="6">
								</ion-col>
								<ion-col size="6">
									<ion-button [disabled]="!applyButtonEnable" class="filterApply" (click)="pullFromServer()">Apply</ion-button>
								  </ion-col>
							  </ion-row>
				</div>
			</div>
		</div>
	</div>


	<div class="modal fade" id="verifyFormListModal" tabindex="-1" role="dialog" aria-labelledby="verifyList" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="siteListModalLabel">Section List</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeVerifyModal()">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
							<ion-grid>
									<ion-row class="sectionRow" *ngFor="let list of verifyFormList">
									   <ion-col class="sectionNameRow" size="9">
										{{list.LogFormId}}
									   </ion-col>
									   <ion-col size="3">
										   <ion-button (click)="lockForm(list.ID,list)" >
											   Accept
										   </ion-button>
										   <!-- <label class="lockedby" *ngIf="list.LockedStatus == 'Locked'" >
												{{list.LockedBy }}
												<span class="tooltiptext">{{list.LockedBy }}</span>
										   </label> -->
										</ion-col>
									</ion-row>
							</ion-grid>
							<ion-row class="filterButton">
									<ion-col size="6">
										<!-- <ion-button  class="filterReset" >Reset</ion-button> -->
									</ion-col>
									<ion-col size="6">
										<ion-button [disabled]="!applyButtonEnable" class="filterApply" (click)="pullVerifyFormFromServer()">Apply</ion-button>
									  </ion-col>
								  </ion-row>
					</div>
				</div>
			</div>
		</div>


		<div class="modal fade" id="verifyFormListModal" tabindex="-1" role="dialog" aria-labelledby="verifyList" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="siteListModalLabel">Section List</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeVerifyModal()">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
								<ion-grid>
										<ion-row class="sectionRow" *ngFor="let list of verifyFormList">
										   <ion-col class="sectionNameRow" size="9">
											{{list.LogFormId}}
										   </ion-col>
										   <ion-col size="3">
											   <ion-button (click)="lockForm(list.ID,list)" >
												   Accept
											   </ion-button>
											   <!-- <label class="lockedby" *ngIf="list.LockedStatus == 'Locked'" >
													{{list.LockedBy }}
													<span class="tooltiptext">{{list.LockedBy }}</span>
											   </label> -->
											</ion-col>
										</ion-row>
								</ion-grid>
								<ion-row class="filterButton">
										<ion-col size="6">
											<!-- <ion-button  class="filterReset" >Reset</ion-button> -->
										</ion-col>
										<ion-col size="6">
											<ion-button [disabled]="!applyButtonEnable" class="filterApply" (click)="pullVerifyFormFromServer()">Apply</ion-button>
										  </ion-col>
									  </ion-row>
						</div>
					</div>
				</div>
			</div>
		
