<ion-header id="elogTaskDetail">
    <ion-toolbar color="#226997">
        <ion-buttons slot="start">
            <ion-back-button style="color:white" defaultHref="/menu/home"></ion-back-button>
        </ion-buttons>
        <div class="main">
            <div class="pull-left ml-10 tasktitle">Task List</div>
            <div class="pull-right mt-15 mr-15"><img class="globeIcon" src="assets/imgs/globe.gif" /></div>
        </div>
    </ion-toolbar>
</ion-header>

<!-- <div>
        <ion-row>
            <ion-col size="6">
                <ion-button expand="full" [ngClass]="(tableDetailsButton)?'button-active':'tab-bar'">
                    TABLE DETAILS
                </ion-button>
            </ion-col>
            <ion-col size="6">
                <ion-button expand="full" [ngClass]="(captureDataButton)?'button-active':'tab-bar'">
                   VERIFY DATA
                </ion-button>
            </ion-col>
        </ion-row>
    </div> -->
    <div class=" pt-15 pb-15 ml-10">
        <label style="font-weight: bold">Approve Log Form</label>
    </div>
    <ion-content id="elogTaskDetail" [scrollEvents]="true" >
                <ion-card class="main_task_details" *ngIf="loadDetails">
                    <ion-grid>
                        <ion-row class="ml-0 mr-0 pt-15 pb-15">
                                <ion-col size="6" class="pl-0">
                                        <div class="title">Log Data ID</div>
                                        <div class="entity_input">  
                                            <ion-label>  {{elogTaskDetail.LogFormId}}</ion-label>
                                        </div>
                                 </ion-col>
                            <ion-col size="6" class="pl-0">
                                    <div class="title">Entity</div>
                                    <div class="entity_input">  
                                            <ion-label> {{elogTaskDetail.Entity }}</ion-label>
                                        </div>
                            </ion-col>
                           
                        </ion-row>
                        <ion-row class="ml-0 mr-0 pt-15 pb-15">
                                <ion-col size="6" class="pl-0">
                                        <div class="title">Log Type</div>
                                        <div class="entity_input">  
                                                <ion-label> {{elogTaskDetail.LogType}}</ion-label>
                                            </div>
                                </ion-col>
                                <ion-col size="6" class="pl-0">
                                        <div class="title">Log Data Name</div>
                                        <div class="entity_input">  
                                            <ion-label> {{elogTaskDetail.Title}}</ion-label>
                                        </div>
                                 </ion-col>
                               
                            </ion-row>

                    
                    </ion-grid>
                </ion-card>
                <div *ngIf="loadSection">
                <ion-grid class="title">
                        <ion-row>
                            <ion-col>
                                <h1 class="myTask">List of Section</h1>
                            </ion-col>
                           
                        </ion-row>
                    </ion-grid>
                <ion-card class="elogTaskBody" *ngFor="let section of elogTaskLogSection;let i=index">
                        <ion-row>
                            <ion-col size="10">
                               <span>Section {{i+1}}:</span><span> {{section.SectionName}}</span>
                            </ion-col>
                            <ion-col size="2">
                                    <img id="tableDoc" (click)="onCaptureSolution(section.FormSectionId, section.LmEntityPartID, i)" class="downloadIcon"  src="assets/imgs/forward.png" >   
                             </ion-col>
                        </ion-row> 

                        <div *ngIf="section.open" class="table-responsive-xs elog-table">
                                <table class="table" *ngIf="loadSectionData">
                                    <thead class="elogTaskHead">
                                       
                                        <tr>
                                            <th>#</th>
                                            <th *ngFor="let header of section.headers.LMWorkSheetFormField">{{header.fieldlabel}}</th>
                                        </tr>
                                    </thead>
                                    <tbody class="elogTaskBody">
                                       
                                        <tr *ngFor="let row of section.displayData;let i = index" >
                                            <td>{{i+1}}</td>
                                            <td *ngFor="let col of row">
                                                <div *ngIf="col.fieldlabel === 'Evidence'">
                                                    <a *ngFor="let file of col.FileStream" class="enter_link" (click)="openImageModal(file,file.FileName)">{{file.FileName}} </a>
                                                </div>
                                                <div *ngIf="col.fieldlabel != 'Evidence'">
                                                        <div *ngIf="((col.ControlType === 'Drop Down') || (col.ControlType === 'Text Box') || (col.ControlType === 'Radio Button') || (col.ControlType === 'Check Box') || (col.ControlType === 'NA')) ">
                                                                {{col.Value}}</div>
                                                                <div *ngIf="col.ControlType === 'Date' "> {{col.Value | date: 'dd/MM/yyyy'}}</div>
                                                                <div *ngIf="col.ControlType === 'Datetime' "> {{col.Value | date: 'dd/MM/yyyy hh:mm a' }}</div>
                                
                                                                <div *ngIf="col.ControlType === 'Time' "> {{col.Value | date: 'hh:mm a'}}</div>
                                                            </div>
                                                <!-- <div *ngIf="col.fieldlabel != 'Evidence'">{{col.Value}}</div> -->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                   <!-- <ion-item *ngIf="sectionOpen">
                          <ion-row>
                              <ion-col size="5">
                                    {{section.LockedBy}}
                              </ion-col>
                              <ion-col size="3">
                                <ion-button style="--color:rgba(103, 148, 54, 1); --border-color: rgba(103, 148, 54, 1); width: 32%; height: 50%;"
                                    fill="outline" size="default">
                                    LOCK TASK
                                </ion-button>
                                </ion-col>
                                <ion-col size="3">
                                  
                                </ion-col>
                          </ion-row>
                   </ion-item> -->
                </ion-card>
              
                <div class="verifyButton" *ngIf="!enableAccept">
                  <label>Approve ? </label> &nbsp;&nbsp;&nbsp;&nbsp;
                    <ion-button (click)="verfyRejectComments()" >No</ion-button>
                  <ion-button (click)="verifyTask()">Yes</ion-button>
                </div>
                
                <div class="verifyButton" *ngIf="enableAccept" >
                        
                    
                        <ion-button (click)="acceptTask()">Accept</ion-button>
                      </div>
                </div>
    </ion-content>




<!-- table -->
<!-- <div class="table-responsive-xs" *ngIf="elogTaskLogSection">
    <table class="table">
        <thead class="elogTaskHead">
            <tr>
                <th class="col-xs-1">S.No</th>
                <th class="col-xs-6">Section Details</th>
                <th class="col-xs-3">Username</th>
                <th class="col-xs-2">Lock</th>
            </tr>
        </thead>
        <tbody class="elogTaskBody">
            <tr *ngFor="let section of elogTaskLogSection;let i=index">
                <td>{{i+1}} </td>
                <td>Section {{i+1}}: {{section.SectionName}}</td>
                <td>{{section.LockedBy}}</td>
                <td>
                    <img *ngIf="section.LockedStatus == 'UnLocked'" (click)="checkLockStatus(section.taskId, section.FormSectionId)" src="assets/imgs/lockOpen.png" />
                    <img *ngIf="section.LockedStatus == 'Locked'" (click)="checkLockStatus(section.taskId, section.FormSectionId)" src="assets/imgs/lockClose.png" />
                </td>
            </tr>
        </tbody>
    </table>
</div> -->
<!-- button -->
<!-- <div class="button">
    <ion-button size="small" float-right>Save </ion-button>
    <ion-button size="small" (click)="onCaptureSolution()" float-right>Execute</ion-button>
</div> -->


<div class="modal fade" id="siteListModalElogDetail" tabindex="-1" role="dialog" aria-labelledby="siteListModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="siteListModalLabel">Site List</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ion-item *ngFor="let list of siteList" (click)="checkAuthorization(list.SiteID)">
      <ion-label>
        {{list.Title}}
      </ion-label>
    </ion-item>
  </div>
</div>
</div>
</div>

<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="imageModalLabel">{{modalImageName}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeImageModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="imagePopup" *ngIf="imageFileData">
                <img [src]="imageFileData | sanitizeURL" />
            </div>
        </div>
    </div>
</div>
</div>
