<ion-header id="taskDetails">
	<ion-toolbar color="#226997">
		<ion-buttons slot="start">
			<!-- <ion-back-button style="color:white;margin-top:5px;" defaultHref="/menu/home"></ion-back-button> -->
			<div class="pull-left ml-10"><img (click)="goBack()" class="elog_logo" src="assets/imgs/back.png"></div>
		</ion-buttons>
		<div class="main">
			<div class="pull-left ml-10 tasktitle">{{taskTitle}}</div>
			<div class="pull-right mt-15 mr-15">
				<select class="mySelect" style="padding: 18px !important;" [(ngModel)]="siteId"  id="orders"  (change)="checkAuthorization(siteId)" >
					<option *ngFor="let list of siteList" [value]="list.SiteID" [ngClass]="(list.siteID == siteId)?'optioncolor':'optionnocolor'" [selected]="list.siteID == siteId">
							{{list.Title}}
					</option>
				  </select>
			</div>
		</div>
	</ion-toolbar>
</ion-header>
<div>
	<ion-row>
		<ion-col size="4">
			<ion-button expand="full" [ngClass]="(button1Class)?'button-active':'tab-bar'"
				(click)="taskdetailsBtnClick()">
				TASK DETAILS
			</ion-button>
		</ion-col>
		<ion-col size="4">
			<ion-button expand="full" [ngClass]="(button2Class)?'button-active':'tab-bar'" (click)="tablesBtnClick()">
				TABLES
			</ion-button>
		</ion-col>
		<ion-col size="4">
			<ion-button expand="full" [ngClass]="(button3Class)?'button-active':'tab-bar'"
				(click)="documentBtnClick('document')">
				DOCUMENT
			</ion-button>
		</ion-col>
	</ion-row>
</div>
<!--component html goes here -->
<ion-content padding *ngIf="taskDetail" class="scrollstopfix">
  <div class="detail_heading"> <p>Task Details</p></div>
	<ion-card class="main_task_details">
			<ion-row class="ml-0 mr-0 pt-15 pb-15 animated ">
				
					<ion-col size="6" class="pr-0">
							<div class="title">Document Number</div>
							<div>{{taskDetail.ValDocCode}}</div>
					</ion-col>
					<ion-col size="6" class="pl-0">
							<div class="title">Entity Name</div>
							<div>{{taskDetail.EntityName}}</div>
					</ion-col>
			</ion-row>
		<ion-row class="ml-0 mr-0 pt-15 pb-15 animated ">
		    	<ion-col size="6" class="pl-0">
						<div class="title">Document Title</div>
						<div [innerHTML]="taskDetail.Title"></div>
				</ion-col>
			<ion-col size="6" class="pr-0">
					<div class="title">Entity Number</div>
					<div>{{taskDetail.EntityNO}}</div>
			</ion-col>
		</ion-row>
	
		<ion-row class="ml-0 mr-0 pt-15 pb-15  ">
				<ion-col size="6" class="pl-0">
						<div class="title">Content Type</div>
						<div *ngIf="taskDetail.ValType">{{taskDetail.ValType}}</div>
						<div *ngIf="!taskDetail.ValType">N/A</div>
				</ion-col>
				<ion-col size="6" class="pr-0">
						<div class="title">Target Date</div>
						<div *ngIf="taskDetail.TargetDate">{{taskDetail.TargetDate | date: 'dd-MMM-yyyy'}}</div>
						<div *ngIf="!taskDetail.TargetDate">N/A</div>
				</ion-col>
		</ion-row>

		<ion-row *ngIf="viewmore" class="ml-0 mr-0 pt-15 pb-15 animated ">
			<ion-col size="6" class="pl-0">
					<div class="title">Document Metadata</div>
					<div *ngIf="taskDetail.MetaData">{{taskDetail.MetaData}}</div>
					<div *ngIf="!taskDetail.MetaData">N/A</div>
			</ion-col>
			<ion-col size="6" class="pr-0">
					<div class="title">Project ID</div>
					<div *ngIf="taskDetail.Project">{{taskDetail.Project}}</div>
					<div *ngIf="!taskDetail.Project">N/A</div>
			</ion-col>
		</ion-row>
		<ion-row *ngIf="viewmore" class="ml-0 mr-0 pt-15 pb-15 animated ">
			<ion-col size="6" class="pl-0">
					<div class="title">Project Title</div>
					<div *ngIf="taskDetail.ProjectTitle">{{taskDetail.ProjectTitle}}</div>
					<div *ngIf="!taskDetail.ProjectTitle">N/A</div>
			</ion-col>
			<ion-col size="6" class="pr-0">
					<div class="title">Phase</div>
					<div *ngIf="taskDetail.Phase">{{taskDetail.Phase}}</div>
					<div *ngIf="!taskDetail.Phase">N/A</div>
			</ion-col>
	</ion-row>
	<ion-row *ngIf="viewmore" class="ml-0 mr-0 pt-15 pb-15 animated ">
		<ion-col size="6" class="pl-0">
				<div class="title">Phase Name</div>
				<div *ngIf="taskDetail.PhaseName">{{taskDetail.PhaseName}}</div>
				<div *ngIf="!taskDetail.PhaseName">N/A</div>
		</ion-col>
		<ion-col size="6" class="pr-0">
				<div class="title">Phase Target Date</div>
				<div *ngIf="taskDetail.PhaseTargetdate">{{taskDetail.PhaseTargetdate | date: 'dd-MMM-yyyy'}}</div>
				<div *ngIf="!taskDetail.PhaseTargetdate">N/A</div>
		</ion-col>
	</ion-row>
	<ion-row *ngIf="viewmore" class="ml-0 mr-0 pt-15 pb-15 animated ">
		<ion-col size="6" class="pl-0">
				<div class="title">CCR No.</div>
				<!-- <div>{{taskDetail.ValDocCode}}</div> -->
				<div *ngIf="taskDetail.ChangeCode">{{taskDetail.ChangeCode}}</div>
				<div *ngIf="!taskDetail.ChangeCode">N/A</div>
		</ion-col>
		<ion-col size="6" class="pr-0">
				<div class="title">CCR Description</div>
				<!-- <div>{{taskDetail.ValDocCode}}</div> -->
				<div *ngIf="taskDetail.ChangeDesc">{{taskDetail.ChangeDesc}}</div>
				<div *ngIf="!taskDetail.ChangeDesc">N/A</div>
		</ion-col>
    </ion-row>
		<ion-row class="viewmore">
				<button *ngIf="!viewmore" class="viewmorebtn" (click)="viewMore()">view more...</button>
				<button *ngIf="viewmore" class="viewmorebtn" (click)="viewMore()">Hide...</button>
			</ion-row>

	</ion-card>

	<!-- <ion-card *ngIf="viewmore" class="main_task_details">

	</ion-card> -->

</ion-content>