#taskDetails{
    img.newLogo {
        width: 32px;
        float: right;
    }
    .green-color{
      background-color:var(--main-green-color);
    }
    .tasktitle{
        color:white;
        margin-top: 18px;
    }

    @media only screen and (min-width: 516px) {

    .myTask{
        font-size: 1.2rem;
        font-weight: 600;
    }
    }
    @media only screen and (max-width: 515px) {

    .myTask{
        font-size: 1.0rem;
        font-weight: 600;
    }
    }
    .redcolor{
        color:red;
    }

    .title {
        padding: 16px;
    }
    ion-toolbar{
		position: relative;
		height: 70px;
	    background: var(--main-app-color) !important;
    }
   
    img.globeIcon {
        width: 24px;
        margin-right: 15px;
    }
    .homeList{
        background-color: var(--main-app-color);
        color: #ffffff;
        padding: 10px;
        margin: 30px;
    }
     .card_ion{
        height: 90px;
        margin-bottom: 25px;
        border: 0.4px solid var(--main-gray-color);
        box-shadow: none;
        background-color: white;
         
     }
     .cardTable_ion{
       
        margin-bottom: 25px;
        border: 0.4px solid var(--main-gray-color);
        box-shadow: none;
        background-color: white;
         
     }
     .card_content{
        margin-top: 6px !important;
     }
    .centerDiv {
        position: relative;
        top: 25%;
    }

    .labelHome {
        font-size: 16px;
        font-weight: 600;
    }
}
.detail_heading{
    padding-bottom: 1px;
}
.detail_heading p{
    color:black; 
    font-weight:bold;
    font-size: 18px;
}
.main_task_details{
    margin-bottom: 30px;
    padding:18px;
    padding-top: 10px;
    padding-bottom: 120px;
    border:1px solid var(--main-gray-color);
    height: auto;
    overflow: scroll;
}
.main_task_details ion-row{
    border-bottom: 0.5px solid;
}
.main_task_details ion-row:last-child{
	border-bottom: none;
}
.main_task_details div{
    font-size: 18px;
}
.main_task_details .title{
    font-weight: bold;
    color:black;
}

.tableDetails{
    background-color: #ffffff;
    padding: 10px 10px;
    margin: 10px auto;
}

.label-bold{
    font-weight: 550;
    font-size: 14px;
}

.label-box{
    height: 40px;
    background-color: #e4e9ef;
}

ion-textarea {
    border: 1px solid #e5e4e5;
    background: #e5e4e5;
    padding-left: 5px;
}
.viewmore{
   
    float: right;


}
*:focus {
    outline: none;
}
.viewmorebtn{
    color:#1138f7;
    text-align: right;
    float: right;
    text-decoration: none;
    background: white;
}

.scrollstopfix{
    position:fixed;
}