
<ion-header id="enterEntity">
        <ion-toolbar color="#226997">
            <ion-buttons slot="start">
                <!-- <ion-icon class="back_arrow" (click)="goBack()" name="arrow-back"></ion-icon> -->
                <div class="pull-left ml-10"><img (click)="goBack()" class="elog_logo" src="assets/imgs/back.png"></div>
                Log Book
            </ion-buttons>
            <div class="main">
                <!-- <div class="pull-left ml-10"><img src="assets/imgs/New/logo.jpg"></div> -->
                <!-- <div class="pull-right mt-15 mr-15"><img (click)="getSiteDetails()" class="globeIcon"
                        src="assets/imgs/globe.gif" /></div> -->
                        <div class="pull-right mt-15 mr-15">
                        <select class="mySelect" [(ngModel)]="siteId"  id="orders"  (change)="checkAuthorization(siteId)" >
                            <option *ngFor="let list of siteList" [value]="list.SiteID" [ngClass]="(list.siteID == siteId)?'optioncolor':'optionnocolor'" [selected]="list.siteID == siteId">
                                    {{list.Title}}
                            </option>
                          </select>
                        </div>
            </div>
        </ion-toolbar>
    </ion-header>
    <!-- <div>
        <ion-row>
            <ion-col size="6">
                <ion-button expand="full" [ngClass]="(logBookButton)?'button-active':'tab-bar'"
                    (click)="logBookBtnClick()">
                    Log Book
                </ion-button>
            </ion-col>
            <ion-col size="6">
                <ion-button expand="full" [ngClass]="(taskListButton)?'button-active':'tab-bar'"
                    (click)="taskListBtnClick('elogTask/0')">
                    My Task List (50 Nos.)
                </ion-button>
            </ion-col>
        </ion-row>
    </div> -->

    <ion-content id="enterEntity" [scrollEvents]="true" >
            <ion-grid class="title">
                    <ion-row>
                        <ion-col>
                            <h1 class="myTask">Historical Log Data</h1>
                        </ion-col>
                        <ion-col>
                            <!-- <img class="filterIcon" src="assets/imgs/filter.png"> -->
                        </ion-col>
                    </ion-row>
                </ion-grid>

                <ion-card class="main_task_details">
                    <div class="row"> 

                        <div class="col">
                                <div class="title">Entity Type</div>
                                <div class="entity_select">  
                                    <ion-select [interfaceOptions]="entityTypeOptions" placeholder="Select Entity Type" [(ngModel)]="entityType" (ionChange)="selectedEntityType(entityType)">
                                        <ion-select-option *ngFor="let type of entityTypeList" value="{{type.EntityTypeID}}">{{type.EntityTypeName}}</ion-select-option>
                                    </ion-select>
                                </div>

                        </div>
                        <div class="col">
                                <div class="title">Entity</div>
                                    <div class="entity_select">  
                                       <ion-select [interfaceOptions]="entityOptions" placeholder="Select Entity Name" [(ngModel)]="entityName" (ionChange)="selectedEntityName(entityName)" [disabled]="!disableEntitySelector">
                                        <ion-select-option *ngFor="let name of entityNameList" value="{{name.EntityID}}">{{name.EntityName}}</ion-select-option>
                                      </ion-select>
                                    </div>

                            </div>
                            <div class="col">
                                    <div class="title">Entity Number</div>
                                    <div class="entity_input">  
                                        <ion-label> {{entityNo}}</ion-label>
                                    </div>

                                </div>


                    </div>
                    <div class="row"> 
                            <div class="col">
                                    <div class="title">Start Date</div>
                                    <div class="entity_select">  
                                     <ion-datetime   [(ngModel)]="startDate" (ngModelChange)="startDateChanged(startDate)" display-format="MM/DD/YYYY" picker-format="DD MMMM YYYY"></ion-datetime>
                                    </div>

                                </div>
                                <div class="col">
                                        <div class="title">End Date</div>
                                        <div class="entity_select">  
                                               
                                        <ion-datetime  [(ngModel)]="endDate" (ngModelChange)="endDateChanged(endDate)" display-format="MM/DD/YYYY" picker-format="DD MMMM YYYY"></ion-datetime>
                                               
                                        </div>
                                    </div>
                                    <div class="col">
                                            <div class="entity_button">
                                                    <ion-button class="submit" 
                                                         size="small" (click)="checkLogBookShow()">
                                                        View Book
                                                    </ion-button>
                                                    <div *ngIf="entityErrorMsg">
                                                            <p>Select Required Fields</p>
                                                        </div>
                                                 </div>

                                        </div>
</div>
                    <!-- <ion-grid>
                    <ion-row class="ml-0 mr-0 pt-15 pb-15">
                            <ion-col size="4" class="pl-0">
                                    <div class="title">Entity Type</div>
                                    <div class="entity_select">  
                                        <ion-select [interfaceOptions]="entityTypeOptions" placeholder="Select Entity Type" [(ngModel)]="entityType" (ionChange)="selectedEntityType(entityType)">
                                            <ion-select-option *ngFor="let type of entityTypeList" value="{{type.EntityTypeID}}">{{type.EntityTypeName}}</ion-select-option>
                                        </ion-select>
                                    </div>
                            </ion-col>
                            <ion-col size="4" class="pl-0">
                                    <div class="title">Entity</div>
                                    <div class="entity_select">  
                                       <ion-select [interfaceOptions]="entityOptions" placeholder="Select Entity Name" [(ngModel)]="entityName" (ionChange)="selectedEntityName(entityName)" [disabled]="!disableEntitySelector">
                                        <ion-select-option *ngFor="let name of entityNameList" value="{{name.EntityID}}">{{name.EntityName}}</ion-select-option>
                                      </ion-select>
                                    </div>
                            </ion-col>
                             <ion-col size="4" class="pl-0">
                                    <div class="title">Entity Number</div>
                                    <div class="entity_input">  
                                        <ion-label> {{entityNo}}</ion-label>
                                    </div>
                             </ion-col>
                            </ion-row>

                        <ion-row class="ml-0 mr-0 pt-15 pb-15">
                                <ion-col size="4" class="pl-0">
                                        <div class="title">Start Date</div>
                                        <div class="entity_select">  
                                                <input type="date" class="dateclass placeholderclass" placeholder="Select Date" [(ngModel)]="startDate" (ngModelChange)="startDateChanged(startDate)" >
                                        </div>
                                </ion-col>
                                <ion-col size="4" class="pl-0">
                                        <div class="title">End Date</div>
                                        <div class="entity_select">  
                                               
                                                <input type="date" class="dateclass placeholderclass" placeholder="Select Date" [(ngModel)]="endDate" (ngModelChange)="endDateChanged(endDate)" display-format="DD-MM-YYYY">
                                               
                                        </div>
                                </ion-col>
                                 <ion-col size="4" class="pl-0">
                                    <div class="entity_button">
                                        <ion-button class="show_Entitybutton" 
                                            fill="outline" size="default" (click)="checkLogBookShow()">
                                            GO
                                        </ion-button>
                                        <div *ngIf="entityErrorMsg">
                                                <p>Select Required Fields</p>
                                            </div>
                                     </div>
                                     
                                 </ion-col>
                        </ion-row>
                    </ion-grid> -->
                </ion-card>

                <div class="tableHeader" *ngIf="showLogBook">
        <ion-card *ngFor="let log of entityLogType;let i=index" class="labelHead">
            <ion-row (click)="toggleSection(i, startDate, endDate, log.LogTypeID)">
               
                <ion-col size="11">
                    <ion-label >
                        {{log.LogTypeName}}
                    </ion-label>
                </ion-col>
                <ion-col size="1">
                        <img *ngIf="!log.open" class="toggleIcon" src="assets/imgs/elog/arrow-right.png" end>
                        <img *ngIf="log.open" class="toggleIcon" src="assets/imgs/elog/arrow-down.png" end>
                    </ion-col>
            </ion-row>

           
            <div *ngIf="log.open" class="table-responsive-xs">
                <table class="table">
                    <thead class="elogTaskHead">
                        <tr> 
                            <th>S.No</th>
                            <th>Code</th>
                            <th>Execution Status</th>
                            <th>Verified By</th>
                            <th></th>
                            <!-- <th>Performed By</th>
                            <th>Verified On</th>
                            <th>Performed On</th>
                            <th>WFProcess ID</th>
                            <th>LMFormDetail Id</th>
                            <th>Start Time</th>
                            <th>Completion Time</th>
                            <th>Title</th>
                            <th>WFProcessRunning Id</th>
                            <th>LogFormInitiate ID</th>
                            <th>LogFormName</th> -->
                        </tr>
                    </thead>
                    <tbody class="elogTaskBody">
                        <tr *ngFor="let book of logBookList; let i=index">
                            <td>{{i+1}}</td>
                            <td>{{book.Code}}</td>
                            <td>{{book.ExecutionStatus}}</td>
                            <td>{{book.VerifiedBy}}</td>
                            <td class="w-5"><img (click)="elogDetailsView(book,i)" class="detailIcon" src="assets/imgs/elog/information_icon.png"></td>
                            <!-- <td>{{book.PerformedBy}}</td>
                            <td>{{book.VerifiedOn}}</td>
                            <td>{{book.PerformedOn}}</td>
                            <td>{{book.WFProcessID}}</td>
                            <td>{{book.LMFormDetailId}}</td>
                            <td>{{book.StartTime}}</td>
                            <td>{{book.CompletionTime}}</td>
                            <td>{{book.Title}}</td>
                            <td>{{book.WFProcessRunningId}}</td>
                            <td>{{book.LogFormInitiateID}}</td>
                            <td>{{book.LogFormName}}</td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
          
        </ion-card>
    </div>
    </ion-content>


<div class="modal fade" id="elogDetails" tabindex="-1" role="dialog" aria-labelledby="elogDetails" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="elogDetails">Log Book</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeSiteModal()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
                <ion-grid>
                    <ion-row>
                
                    </ion-row>
                    <ion-row>
                        <ion-col size="6">
                                <div class="title-details">Activity</div>
                                <div class="entity_input">  
                                    <ion-label> {{elogDetails.Code}}</ion-label>
                                </div>
                        </ion-col>
                        <ion-col size="6">
                                <div class="title-details">Title</div>
                                <div class="entity_input">  
                                    <ion-label> {{elogDetails.Title}}</ion-label>
                                </div>
                        </ion-col>
                       
                    </ion-row>
                    <ion-row>
                        <ion-col size="6">
                                <div class="title-details">Code</div>
                                    <div class="entity_input">  
                                        <ion-label> {{elogDetails.Code}}</ion-label>
                                    </div>
                        </ion-col>
                        <ion-col size="6">
                                <div class="title-details">LogFormName</div>
                                    <div class="entity_input">  
                                        <ion-label> {{elogDetails.LogFormName}}</ion-label>
                                    </div>
                        </ion-col>
                       
                    </ion-row>
                    <ion-row>
                      
                        <ion-col size="6">
                                <div class="title-details">Performed By</div>
                                <div class="entity_input">  
                                    <ion-label> {{elogDetails.PerformedBy}}</ion-label>
                                </div>
                        </ion-col>
                        <ion-col size="6">
                            <div class="title-details">Performed On</div>
                                <div class="entity_input">  
                                    <ion-label> {{elogDetails.PerformedOn}}</ion-label>
                                </div>
                    </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="6">
                
                        </ion-col>
                        <ion-col size="6">
                
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="6">
                
                        </ion-col>
                        <ion-col size="6">
                
                        </ion-col>
                    </ion-row>
                </ion-grid>
			</div>
		</div>
	</div>
</div>
