#enterEntity{
    img.newLogo {
        width: 32px;
        float: right;
    }
    img.filterIcon {
        width: 37px;
        float: right;
       
    }
    *:focus {
        outline: none;
    }
    input[type="date"]::before { 
    	content: attr(placeholder);
    	
    }
    input[type="date"]:focus::before,
    input[type="date"]:valid::before { display: none }
    .main_task_details .title{
        font-weight: bold;
        color:black;
        margin-bottom: -4%;
    }
    .entity_select{
        border: 1px solid;
        border-radius: 3px;
        width: 75%;
        margin-left: 5%;
        height: 40%;
        padding: 6px;
    }
    .entity_select input{
        border: none;
        width: 100%;
        background-color: white;
    }
    .entity_input{
        margin-top: -1%;
    margin-left: 17px;
    }
    .entity_input ion-label{ 
        font-weight:bold;
    }
    .entity_button{
        margin-top: 10%;
        height: 100%;
        margin-left: 4%;

    }
    .calender-icon{
        width: 15%;
        height: 65%;
    }
  
    
    .green-color{
      background-color:#679436;
    }
    ion-buttons{
        width: 150px;
        height: 45px;
        color: white;
    }
    .back_arrow{
        width: 50px;
    height: 30px;
    color: white;
    }

    @media only screen and (min-width: 516px) {

    .myTask{
        font-size: 1.2rem;
        font-weight: 600;
    }
    }
    @media only screen and (max-width: 515px) {

    .myTask{
        font-size: 1.0rem;
        font-weight: 600;
    }
    }
    .redcolor{
        color:red;
    }

    
    ion-toolbar{
		position: relative;
		height: 70px;
	    background: #156aa1 !important;
    }
    .submit {
        --background: #669235;
        margin-right: 1%;
        height: 40px;
        font-size: 14px;
        width: 50%;
    }
   
    img.globeIcon {
        width: 24px;
        margin-right: 15px;
    }
    .homeList{
        background-color: #1b69a1;
        color: #ffffff;
        padding: 10px;
        margin: 30px;
    }
     .card_ion{
        height: 90px;
        margin-bottom: 25px;
        border: 0.4px solid #a5a2a2;
        box-shadow: none;
        background-color: white;
         
     }
     .cardTable_ion{
       
        margin-bottom: 25px;
        border: 0.4px solid #a5a2a2;
        box-shadow: none;
        background-color: white;
         
     }
     .card_content{
        margin-top: 6px !important;
     }
    .centerDiv {
        position: relative;
        top: 25%;
    }

    .labelHome {
        font-size: 16px;
        font-weight: 600;
    }
}
.entity_select ion-select .select-placeholder {
    color: currentColor;
    --opacity: 1.33 !important;
}
ion-select {
    --opacity: 1 !important;
}
.fileBtn{
    background-color: white;
    width: 20%;
    color: #679436;
    border: 1px solid #679436;
    float: right;
    padding: 7px;
}
.fileIcon{
    width: 100%;
    margin-top: 10%;
}
img.exeIcon {
    width: 18px;
    margin-left: 5px;
}
.addImage{
    width: 35%;
    margin-left: 30%;
}
.editIcon{
    margin-right: 40%;
    margin-top: 10%;
    width: 30px;
}


.colClass
{
    margin:0.45rem;
}
.iconClass{
  float:right;
  color:rgba(21, 106, 161, 1);
  width: 40%;
  height: 80%;
}
.evidenceClass{
    width: 12%;
    height: 100%;
    color: #a09f9f;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}
.evidence{
    border-top:0.5px solid #a09f9f;
}

angular-editor{
    margin-top: -15px;
    }
.buttonClass{
    width: 100%;
  //  height: 100%;
    padding: 8px;
    margin-right: 20px;
    border: 0.5px solid #a09f9f;
    background-color: white;
    margin-bottom: -4px;
}
.buttonClassactive{
    --border-radius: 0px !important;
    --border-left: 0.1px;
    --border-right:0.1px;
    --border:1px solid #679436;
}
.buttonClass1{
    --border-radius: 0px !important;
    --border-left: 0.1px;
    --border-right:0.1px;
    width: 70px;
    height: 35px;
    margin-bottom: -20px;
}


ion-button.active, ion-button.activated {
    color : #000
  }  
.selectClass
{
    border-radius: 3.5px;
    width: 90%;
    height: 90%;
    border: 0.5px solid #a09f9f;
    padding: 14px 7px 0.1px;
}
.areaClass{
    border: 0.5px solid #a09f9f;
    
}
.insideareaClass{
    // background-color: #eaeaea;
    margin: 0px 5px 15px 0px;
    border: 0.5px solid rgb(115, 115, 115) !important;
}

.containerArea
{
    margin: 15px 0px 10px;
    border: 0.5px solid #a09f9f;
    height: 117px;
    overflow: scroll;
    padding:10px;
}
@media only screen and (min-height: 584px) {

    .containerArea
    {
        margin: 15px 0px 10px;
        border: 0.5px solid #a09f9f;
        height: 117px;
        overflow: scroll;
        padding:10px;
    }
    }
    @media only screen and (min-height: 700px) {

        .containerArea
        {
            margin: 15px 0px 10px;
            border: 0.5px solid #a09f9f;
            height: 228px;
            overflow: scroll;
            padding:10px;
        }
    }
    @media only screen and (min-height: 900px) {

        .containerArea
        {
            margin: 15px 0px 10px;
            border: 0.5px solid #a09f9f;
            height: 438px;
            overflow: scroll;
            padding:10px;
        }
    }
    @media only screen and (min-height: 1024px) {

        .containerArea
        {
            margin: 15px 0px 10px;
            border: 0.5px solid #a09f9f;
            height: 546px;
            overflow: scroll;
            padding:10px;
        }
    }
.footer{
    position: fixed;
    height: 100px;
    z-index: 99;
    background-color: #ffffff;
    padding-top:10px;
}
.rowClass{
    margin-left: 50px;
}
.fabClass{
    height: 50px;
    margin-top:7%;
    --color:rgba(103, 148, 54, 1); 
    --border-color: rgba(103, 148, 54, 1);
}
.no-scroll {
    --overflow: hidden;
}

.innerArea{
    margin: 15px 0px 10px;
}
div[scrollx=true] {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    &::-webkit-scrollbar {
       display: none;
    }
     .scroll-item {
       flex: 0 0 auto;
    }
  }

  .execute_evidence_menu {
    text-align: center;
    padding-top: 2%;
}
.innerArea h4{
    margin-top: 10%;
    margin-left: 10%;
    font-weight: bolder;
    font-size: 15px;
    color: black;
}
.innerArea ion-card{
    box-shadow: none;
    border: 1px solid;
    margin: 0px;
    margin-top: 13px;
    height: 77px;
}
.copy_btn{
    background-color: white;
    width: 50%;
    float: right;
    text-align: right;
}
.copy_btn:focus{
    outline:none;
}

.non_label{
    width: 100%;
}
.text-cursor {
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    -o-user-select: auto !important;
    user-select: auto !important;
}
@media screen and (max-width: 1200px) and (min-width: 900px){
    .innerArea ion-card{
        box-shadow: none;
    border: 1px solid;
    margin: 0px;
    margin-top: 9px;
    height: 80px;
    }
    .addImage {
        width: 20%;
        margin-left: 43%;
    }
}

ion-select .select-icon-inner {
    left: 1px !important;
    top: 70% !important;
    margin-top: -3px;
    position: absolute !important;
    width: 1px !important;
    height: 0px !important;
    border-top: 5px solid !important;
    border-right: 5px solid transparent !important;
    border-left: 5px solid transparent !important;
    color: black !important;
    /* opacity: .33; */
    pointer-events: none;
}
.main_task_details{
    margin-bottom: 30px;
    padding: 18px;
    padding-top: 0px;
    padding-bottom: 10px;
    border: 1px solid #737373;
}
.labelHead{
    padding: 2%;
    color: #679436;
    margin-bottom: 3%;
    border: 1px solid #4d4c4c;
}
.labelHead ion-label{
   font-size:20px;
}
.toggleIcon{
    width:50%;
}
.detailIcon{
    width: 50%;
}
.dateclass.placeholderclass::before {
    width: 100%;
    content: attr(placeholder);
  }
  @media (min-width: 360px) and (max-width: 460px)
  
  {.row
   {
    position: relative;
    display: inline;
   }
    
  }
  @media (min-width: 360px) and (max-width: 460px)
  
   {
    .toggleIcon{
        width:50%;
        margin-top: 10px;
    }
}

.modal-header {
    background-color: #156aa1 !important;
    color: white !important;
}
button.close {
    color: white !important;
}
.modal-content {
    border: 1px solid rgb(21, 106, 161);
}
.title {
    padding: 16px;
    font-weight: bolder;
}
.title-details
{
    padding-bottom: 6px;
    padding-top: 16px;
    font-weight: bolder;
}