
<ion-header>
    <ion-toolbar text-center>
      <ion-title>{{modalTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-grid>
      <ion-row>
        <ion-col text-center>
          Session Timeout Do You Want to Continue or Logout?
          <p> {{displayTime}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
            <ion-button (click)="Activate()">Activate</ion-button>
          <ion-button (click)="logout()">Logout</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
