// http://ionicframework.com/docs/theming/
$fa-font-path : "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";

@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


img#header_logo {
    width: 55%;
    height: 50px;
}
.profalert{
    
    //--background:green;
   --width:60%;
  
   

}

@media (min-width: 450px) and (max-width: 770px) {
    img#header_logo {
        width: 52%;
        height: 55px;
    }
}

.sc-ion-back-button-md-h {
    --color: currentColor;
    --margin-top: 0px;
    --margin-end: 0px;
    --margin-bottom: 0;
    --margin-start: 0;
    --padding-top: 0;
    --padding-end: 0px;
    --padding-bottom: 0;
    --padding-start: 0px;
    --icon-padding-end: 0;
    --icon-padding-start: 0;
    --icon-margin-top: 0;
    --icon-margin-end: 0px;
    --icon-margin-bottom: 0;
    --icon-margin-start: 0px;
}

.modal-backdrop.show {
    opacity: 0 !important;
}

.modal-backdrop {
    height: 0px !important;
}

ion-title.title-ios {
    padding-inline-start: 50px;
}

ion-title.title-md {
    padding-inline-start: 0px;
}

ion-title img{
    width: 130px;
    float: left;
    margin-top: 5px;
}

// body.modal-open {
//     overflow: hidden !important;
//     opacity: 0.3 !important;
// }
// ::-webkit-scrollbar, *::-webkit-scrollbar {
//     display: none;
//     overflow: hidden;
//   }
  
//   ion-content {
//     overflow: hidden;
//     --overflow: hidden;
//   }
  
//   .scroll-content {
//     overflow: hidden;
//   }

ion-app.cameraView ion-nav{opacity:0}
ion-app.cameraView, ion-app.cameraView ion-content, ion-app.cameraView .nav-decor {
    background: transparent none !important; 
  }