<ion-header id="elogTaskDetail">
        <ion-toolbar color="#226997">
            <ion-buttons slot="start">
                    <div class="pull-left ml-10"><img (click)="goBack()" class="elog_logo" src="assets/imgs/back.png"></div>
                <!-- <ion-back-button style="color:white" defaultHref="/menu/home"></ion-back-button> -->
               <div style="color:white;" >{{elogTaskDetail.Code}}</div>
            </ion-buttons>
            <div class="main">
                <!-- <div class="pull-left ml-10 tasktitle"></div>
                
                <select class="mySelect" [(ngModel)]="siteId" id="orders" (change)="checkAuthorization(siteId)">
                    <option *ngFor="let list of siteList" [value]="list.SiteID"
                        [ngClass]="(list.siteID == siteId)?'optioncolor':'optionnocolor'"
                        [selected]="list.siteID == siteId">
                        {{list.Title}}
                    </option>
                </select> -->

                <ion-row style="float:right">
                    <ion-col size="1">
                        <select class="mySelect" [(ngModel)]="siteId" id="orders" (change)="checkAuthorization(siteId)">
                            <option *ngFor="let list of siteList" [value]="list.SiteID" [ngClass]="(list.siteID == siteId)?'optioncolor':'optionnocolor'"
                                [selected]="list.siteID == siteId">
                                {{list.Title}}
                                </option>
                                </select>
                                </ion-col>
                                </ion-row>
            </div>
        </ion-toolbar>
    </ion-header>

    <!-- <div>
            <ion-row>
                <ion-col size="6">
                    <ion-button expand="full" [ngClass]="(tableDetailsButton)?'button-active':'tab-bar'" (click)="tableDetailsBtnClick()">
                        TABLE DETAILS
                    </ion-button>
                </ion-col>
                <ion-col size="6">
                    <ion-button expand="full" [ngClass]="(captureDataButton)?'button-active':'tab-bar'" (click)="captureDataBtnClick()">
                       CAPTURE DATA
                    </ion-button>
                </ion-col>
            </ion-row>
        </div> -->
        <ion-content id="elogTaskDetail" [scrollEvents]="true" >
                <ion-grid class="title">
                        <ion-row>
                            <ion-col>
                                <span class="myTask">Log Details</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <!-- <span class="redcolor">{{noofNewTask}}</span><span style="font-size:1rem"> New Tasks</span> -->
                            </ion-col>
                            <ion-col>
                                <!-- <img class="filterIcon" src="assets/imgs/filter.png">
                                <i class="qrcode fa fa-qrcode barScanner" aria-hidden="true"></i> -->
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    <ion-card class="main_task_details">
                        <ion-grid>
                            <ion-row class="ml-0 mr-0 pt-15 pb-15">
                                    <ion-col size="6" class="pl-0">
                                            <div class="title">Log Form ID</div>
                                            <div class="entity_input">  
                                                <ion-label>  {{elogTaskDetail.LogFormId}}</ion-label>
                                            </div>
                                     </ion-col>
                                <ion-col size="6" class="pl-0">
                                        <div class="title">Entity</div>
                                        <div class="entity_input">  
                                                <ion-label> {{elogTaskDetail.Entity }}</ion-label>
                                            </div>
                                </ion-col>
                               
                            </ion-row>
                            <ion-row class="ml-0 mr-0 pt-15 pb-15">
                                    <ion-col size="6" class="pl-0">
                                            <div class="title">Log Type</div>
                                            <div class="entity_input">  
                                                    <ion-label> {{elogTaskDetail.LogType}}</ion-label>
                                                </div>
                                    </ion-col>
                                    <ion-col size="6" class="pl-0">
                                            <div class="title">Log Data Name</div>
                                            <div class="entity_input">  
                                                <ion-label> {{elogTaskDetail.Title}}</ion-label>
                                            </div>
                                     </ion-col>
                                   
                                </ion-row>
    
                        
                        </ion-grid>
                    </ion-card>
                    <ion-grid class="title">
                            <ion-row>
                                <ion-col>
                                    <h1 class="myTask">List of Section</h1>
                                </ion-col>
                               
                            </ion-row>
                        </ion-grid>
                    <ion-card  class="elogTaskBody" *ngFor="let section of elogTaskLogSection;let i=index">
                        <!-- <ion-row *ngIf="section.LockedStatus == 'Locked'">
                            <ion-col size="10">
                               <span>Section {{i+1}}:</span> {{section.SectionName}}
                            </ion-col>
                            <ion-col size="2">
                                {{section.LockedBy}} -->
                                <!-- <img *ngIf="section.LockedStatus == 'UnLocked'" (click)="checkLockStatus(section.taskId, section.FormSectionId)" src="assets/imgs/lockOpen.png" /> -->
                                <!-- <img *ngIf="section.LockedStatus == 'Locked'" (click)="checkLockStatus(section.taskId, section.FormSectionId)" src="assets/imgs/lockClose.png" />             -->
                            <!-- </ion-col>
                        </ion-row> -->

                            <ion-row >
                                <ion-col size="8">
                                   <span>Section {{i+1}}:</span><span> {{section.SectionName}}</span>
                                </ion-col>
                                <ion-col size="2">
                                    <ion-button *ngIf="section.LockedStatus == 'Locked'" class="releaseButton" (click)="onReleaseSolution(section)">Release</ion-button>
                                    
                                </ion-col>
                                <ion-col size="2">
                                        <ion-button *ngIf="section.LockedStatus == 'Locked'" class="captureButton" (click)="onCaptureSolution(section.FormSectionId, section.LmEntityPartID, section.LMlogDataSectionID, section)" >  Capture</ion-button> 
                                        <ion-button *ngIf="section.LockedStatus == 'UnLocked'" class="releaseButton" (click)="onAcceptSolution(section)">Accept</ion-button>
                                 </ion-col>
                            </ion-row> 

                            <div *ngIf="section.open" class="table-responsive-xs">
                                    <table class="table">
                                        <thead class="elogTaskHead">
                                            <tr>
                                                <th *ngFor="let header of section.headers.LMWorkSheetFormField">{{header.fieldlabel}}</th>
                                            </tr>
                                        </thead>
                                        <tbody class="elogTaskBody">
                                            <tr *ngFor="let row of section.displayData;let i = index" (click)="editSection(section, i)">
                                                <td *ngFor="let col of row">{{col.Value}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                       <!-- <ion-item *ngIf="sectionOpen">
                              <ion-row>
                                  <ion-col size="5">
                                        {{section.LockedBy}}
                                  </ion-col>
                                  <ion-col size="3">
                                    <ion-button style="--color:rgba(103, 148, 54, 1); --border-color: rgba(103, 148, 54, 1); width: 32%; height: 50%;"
                                        fill="outline" size="default">
                                        LOCK TASK
                                    </ion-button>
                                    </ion-col>
                                    <ion-col size="3">
                                      
                                    </ion-col>
                              </ion-row>
                       </ion-item> -->
                    </ion-card>
        </ion-content>

   

    
    <!-- table -->
    <!-- <div class="table-responsive-xs" *ngIf="elogTaskLogSection">
        <table class="table">
            <thead class="elogTaskHead">
                <tr>
                    <th class="col-xs-1">S.No</th>
                    <th class="col-xs-6">Section Details</th>
                    <th class="col-xs-3">Username</th>
                    <th class="col-xs-2">Lock</th>
                </tr>
            </thead>
            <tbody class="elogTaskBody">
                <tr *ngFor="let section of elogTaskLogSection;let i=index">
                    <td>{{i+1}} </td>
                    <td>Section {{i+1}}: {{section.SectionName}}</td>
                    <td>{{section.LockedBy}}</td>
                    <td>
                        <img *ngIf="section.LockedStatus == 'UnLocked'" (click)="checkLockStatus(section.taskId, section.FormSectionId)" src="assets/imgs/lockOpen.png" />
                        <img *ngIf="section.LockedStatus == 'Locked'" (click)="checkLockStatus(section.taskId, section.FormSectionId)" src="assets/imgs/lockClose.png" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div> -->
    <!-- button -->
    <!-- <div class="button">
        <ion-button size="small" float-right>Save </ion-button>
        <ion-button size="small" (click)="onCaptureSolution()" float-right>Execute</ion-button>
    </div> -->
