<ion-header>
  <ion-toolbar text-center>
    <ion-title>{{modalTitle}} 
      <ion-icon class="closeButton" name="close" (click)="closeModal()"></ion-icon>
    </ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content class=" fadeInDown" padding>
  <div class="elog_filter" *ngIf="modalTitle === 'Filter'">
  <ion-grid>
    <ion-row>
      <p>Filter By</p>
    </ion-row>
    <ion-row>
        <ion-list >
            <ion-item *ngFor="let filter of filterArray">
                <ion-checkbox slot="start" value="filter.id"  checked="false" (ionChange)="filterChange(filter.id,$event)"  ></ion-checkbox>&nbsp;&nbsp;
              <ion-label>{{filter.name}}</ion-label> 
              
            </ion-item>
          </ion-list>
     
    </ion-row>
    <ion-row>
        <p>Sort By</p>
      </ion-row>
      <ion-row>
          <ion-select [interfaceOptions]="customAlertOptions" class="selectClass" placeholder="Select"  (ionChange)="sortChange($event)" >
              <!-- <ion-select-option selected>Select</ion-select-option> -->
              <ion-select-option [value]=1 >Initiated Date</ion-select-option>
              <ion-select-option [value]=2 >Form Name</ion-select-option>
              </ion-select>
        </ion-row>
       
        <ion-row class="filterButton">
          <ion-col size="6">
              <!-- <ion-button  class="filterReset" (click)="filterReset()">Reset</ion-button> -->
          </ion-col>
          <ion-col size="6">
              <ion-button  class="filterApply" (click)="filterApply()">Apply</ion-button>
            </ion-col>
        </ion-row>
  </ion-grid>
</div>

  <div class="elog_filter" *ngIf="modalTitle == 'TaskInfo'">

    <p>{{taskDetails.CaptureNo}}</p>
    <p>{{taskDetails.FormName}}</p>

  </div>


</ion-content>
